[2016-05-31 09:17] CKrawczyk commented on #2628
Ah, I think I know what is causing this.  Could you add me as a collaborator (zooniverse ID cmk24) so I can debug.

[2016-05-31 09:19] CKrawczyk commented on #2632
If you could add me as a collaborator for this project (zooniverse ID cmk24) I will see what is going on.

[2016-05-31 15:37] #2597 closed

[2016-05-31 17:32] mkosmala commented on #2628
@CKrawczyk Done

[2016-05-31 17:33] mkosmala commented on #2632
@CKrawczyk Done

[2016-05-31 21:08] srallen opened #2643 "Add to project builder an interface for workflow levels"
Specific to Gravity Spy as an experimental feature, add on visibility editor for workflows a dropdown of levels (numerical 1-10?) and write to project config.

[2016-06-01 01:59] mschwamb commented on #2510
Thanks @brian-c .Much appreciated. If we can have this for the June 12th airing of the sky at night episode that will feature Comet Hunters that  would be really helpful as the show will be featuring the second workflow we're about to launch and that way we could place it as the first choice/option on the landing page. lf not, we can definitely deal without it.

[2016-06-01 09:20] CKrawczyk commented on #2628
For PFE created projects the task keys are "T1", "T2", etc... so I just chopped off the first letter to get the task number.  Now that I know this is not always the case, the PR above removes this truncation and shows the full task key.

[2016-06-01 09:56] CKrawczyk commented on #2632
One of the drawing tool choices does not have `details` defined, typically this is an empty array if there are no sub-tasks.  The PR should fix this issue.

[2016-06-01 10:40] alexbfree opened #2646 "Gravity Spy Geordi Integration Tasks for Will"
- [x] Implement missing events/review events that might need update per Syracuse reqs (see green/yellow [here](https://docs.google.com/document/d/1TTNgzAQbhYH9kn3mqcy0p_UBRIzFG3CgPxcXpTVv3Nk/edit#) )
- [x] Remove all non-Gravity Spy related events from the geordi-integration branch & PR - but keep it in another branch
- [x] Ensure we always pass a projectToken. Use "zooHome" or "zooTalk" or simila

[2016-06-01 10:41] alexbfree opened #2647 "Gravity Spy Geordi Integration Tasks for Alex"
- [x] Update requirements doc against Gravity Spy/Syracuse requirements
- [ ] Conduct final QA against requirements (gravity spy reqs only) once everything else is done and prior to merge.

[2016-06-01 10:42] alexbfree opened #2648 "Post-Gravity Spy Geordi Integration Tasks for Alex"
Not to be done until after #2646 and #2647
- [ ] Geordi Server to store workflow ID as its own column. Then notify Will
- [ ] Create ticket to move PFE's Geordi integration code to panoptes-javascript-client
- [ ] Create ticket to create project preferences for Geordi.
- [ ] Create ticket and discuss with ops about Geordi periodic archiving approach/CSV exports per project for researchers.
- [ ] C

[2016-06-01 10:43] alexbfree opened #2649 "Post-Gravity Spy Geordi Integration Tasks for Will"
Not to be done until after #2646 and #2647

- [x] Add a project Slug for Zoo-wide talk (zooTalk) and Zoo home (zooHome) so that there is always a project slug in all PFE Geordi logger calls
- [ ] (once workflow column available in Geordi) Update Geordi client and PFE Geordi client code to pass workflow ID through to Geordi when logging (in the classifier). Check every time subject changes.
- [x] E

[2016-06-01 14:11] mkosmala commented on #2628
Sounds like a good solution. But it's not live yet? I still see truncated names...

[2016-06-02 13:25] mkosmala opened #2654 "Why is the Subject Image button in Talk, but not in Classify?"
In Talk, there's a Subject Image button under the subject that allows volunteers to see the subject at full size. But this button doesn't exist in the Classify interface. Is this an intentional decision? We have volunteers longing to have the Subject Image button also appear in the Classify interface, and I don't know what to tell them. Can it be added there?

![subjectimagebutton](https://cloud.g

[2016-06-02 14:05] mschwamb commented on #2654
For my projects,  giving volunteers the subject image in a larger form in essence giving zoom would give another variable I'd have to try to control for in analysis, but some volunteers on my projects had asked for an ability to zoom in after they reviewed it on Talk  and the larger subject view button was the solution that Alex W decided to implement.

[2016-06-02 15:43] astopy opened #2655 "Can't navigate away from empty stats page"
When I'm on the stats page for a new project (which has subjects but no classifications yet), I get the following error when I try to navigate to the about/classify/etc pages:

[code]

[2016-06-02 20:05] parrish commented on #2612
The functionality we're going for is to find similar tags, rather than just matching the first characters.

Basically, we'd want '#green' to return '#green', '#blue-green', '#not-green', etc.

Also, we're returning results with the highest score, which is based on
  - how similar it is to other tags
    - e.g. '#green' is 100% similar to '#green', and about 55% similar to '#blue-green'
  - how man

[2016-06-02 20:35] yshish commented on #2612
OK, I got it. Thanks for explainng.

[2016-06-03 09:16] mschwamb opened #2658 "can make an inactive workflow show up if you click classify if you have check box ticked in workflow editor for default workflow"
While starting the process to turn on the HSC Comet Hunters workflow I came across this. I checked the box to make it the default workflow, but the workflow is still inactive and if you're not logged in and hit classify it took me this non-active workflow.

Naively I thought that because the workflow was inactive the website would automatically switch to making another active workflow default when

[2016-06-03 09:34] alexbfree opened #2659 "Suggestion: The "get started" project list on zooniverse.org at the bottom could be dynamic"
I just noticed that the "get started" section at the bottom seems to never change, I assume it's hard coded.

![screenshot 2016-06-03 10 32 14](https://cloud.githubusercontent.com/assets/1473244/15774887/b25d28ea-2976-11e6-95bd-44a8b16d4a8b.png)

Perhaps we could take advantage of what we now have in the new project page, and have it show four projects from the "most in need of help" or "most rece

[2016-06-03 11:50] mrniaboc opened #2661 "Move tutorial from experimental tool to public tool"
After review @chrislintott and I decided it works well and should be offered to everyone.

[2016-06-03 11:50] mrniaboc opened #2662 "Move field guide from experimental tool to public tool"
After review @chrislintott and I decided it works well and should be offered to everyone.

[2016-06-03 14:16] brian-c commented on #2658
This is probably relevant to the workflow saved in the user's prefs too. Will have a look today.

[2016-06-03 14:51] #2632 closed

[2016-06-03 14:52] #2628 closed

[2016-06-04 15:15] mschwamb commented on #2225
Looks like that just came back on Firefox so closing .

[2016-06-04 15:15] #2225 closed

[2016-06-06 13:07] alexbfree commented on #1780
to whoever implements this, there is some background reading on the usecases in the RFC: https://github.com/zooniverse/rfc/issues/4

[2016-06-06 18:48] #1780 closed

[2016-06-06 18:52] wgranger commented on #2646
Note: logging happens for the Gravity Spy Project ID, but it also happens for the more general zooTalk and zooHome for all users.

[2016-06-07 07:06] MvGulik commented on #2542
Considering your having more than 20 collections (at this moment, June 07). Your probable running into the fact that the "add subject to collection" - "collections drop-down list" will only show 20 collections.
Source Ref Issue: #2454

Workaround: Type in a 4 character part of the collection-title your looking for.
-- *At least 4 character, as anything less will return an empty search result.*
--

[2016-06-07 09:26] mschwamb opened #2669 "Stats page bottom plots no longers show after webpack switch"
<img width="1099" alt="screen shot 2016-06-06 at 11 24 02 pm" src="https://cloud.githubusercontent.com/assets/753325/15852719/ebdf0394-2c3d-11e6-8e83-dcc8e5856735.png">

Seeing same thing on Comet Hunters and Planet Four: Terrains with latest version of Firefox on Mac

[2016-06-07 09:27] mschwamb commented on #2669
Weird they're showing now after a restart of my browser..... so closing...

[2016-06-07 09:27] #2669 closed

[2016-06-07 11:26] camallen commented on #2542
For ref - we match on 3 char variants but in some cases you'll need more chars. The add to collection UX for more than 20 collections is meant to flow like the gif below.

What can we do to make the typing part more intuitive? Some placeholder text?

![add_to_collections](https://cloud.githubusercontent.com/assets/295329/15855990/d357b2ea-2caa-11e6-9449-f257ab905f81.gif)

[2016-06-07 14:49] yshish commented on #2542
Ah, OK. Thanks for explaining.

Hm, what about adding a symbol of a magnifier or putting something like *'Search for the collection'* text in the text field instead of just *Collection Name*?

[2016-06-07 16:06] alexbfree commented on #2212
#2253 addresses everything apart from https://github.com/zooniverse/Panoptes-Front-End/issues/2212#issuecomment-184742772 which we will do in a separate ticket as it's less critical.

[2016-06-07 18:17] MvGulik commented on #2542
I don't think that that search-box has the space to drop any none cryptically help text in it. (*Cryptic to those that start using it for the first time of course.*)

Next would be to add some small print. Like perhaps "_Limited to showing 20 collection at one's_", and "_Type to search (at least 3 characters)_"

Final solution would be to just have some [?] icon, which would open op a whole new sp

[2016-06-08 02:30] MvGulik commented on #2542
If its possible to detect that there where more than 20 collection entries (*at the UI level*), this could be used to trigger some related feedback action.
-- Different info text in search-field. (*probably easy to miss by the user.*)
-- Additional info/feedback entry in the drop-down list. (*might give an additional option to do something when the user clicks on it.*)

*Remember that, until a use

[2016-06-08 12:54] mschwamb commented on #2510
@brian-c any chance this will be ready for Sunday night UK time for the first airing of  the Sky at Night episode?

[2016-06-08 14:14] alexbfree opened #2672 "Formatting problems with iPad (Landscape)"
As raised by @mrniaboc :
![img_20160608_115136](https://cloud.githubusercontent.com/assets/1473244/15897231/9ba5a7a8-2d8b-11e6-9049-28cfcbea9065.jpg)

The nav bar (overflowing/overlapping), the projects slider(missing/only one chevron showing), and the projects list (only showing 1 per row?) all need attention

[2016-06-08 14:15] alexbfree commented on #2672
May be specific to old iOS versions...
https://zooniverse.slack.com/archives/dev/p1465395232000247

[2016-06-08 14:20] alexbfree commented on #2672
we could consider having a “version not supported” message when we detect an unsupported browser version, rather than carrying on...

[2016-06-08 15:41] eatyourgreens commented on #2672
A couple of screenshots

iOS 8.4
![image](https://cloud.githubusercontent.com/assets/59547/15900453/7fe2573a-2d97-11e6-8611-1eb4c7b729c9.png)

iOS 9.3
![image](https://cloud.githubusercontent.com/assets/59547/15900504/a4c3757a-2d97-11e6-9be7-b163cf35c2a7.png)

From memory, 9 introduced support for flexbox without the `-webkit-` prefix, so that might be the problem.

[2016-06-08 18:26] alexbfree opened #2674 "Regression bug: Collection owner names are no longer appearing"
I've noticed that when you go to e.g. http://zooniverse.org/collections or http://zooniverse.org/favorites, the code that was written to display the username on that collection is no longer triggering.

Note that it should *not* appear when you go to http://zooniverse.org/collections/username or http://zooniverse.org/favorites/username since those collections/favorites all share the same owner.

T

[2016-06-08 19:02] wgranger opened #2676 "World Wide Telescope Adjustment"
- **Adjust true center of cropped image**: Cropped chart is displayed slightly off center on WWT because of discrepancy between coordinate center and chart center.

- **Issue with axis values**: Classification will crash if axis value is placed inside chart rather than outside due to how the `filterBounds` function determines axes. Instructions should be given to the user/classifier to place annot

[2016-06-09 10:24] alexbfree commented on #2578
Also @dwright04. And maybe @melaniebeck.

[2016-06-09 10:28] alexbfree commented on #2578
OK @amyrebecca @zwolf @mcbouslog @wgranger @dwright04 @melaniebeck please send me your image and text (use https://www.zooniverse.org/about/team for guidance on length) and I will update

[2016-06-09 12:11] mschwamb opened #2678 "stats page now only shows one day of talk comments and classification numbers - no longer scrollable plot"
Tried this on firefox and chrome on mac

<img width="1116" alt="screen shot 2016-06-09 at 2 04 38 am" src="https://cloud.githubusercontent.com/assets/753325/15929195/40af4226-2de7-11e6-8c75-af0f2787e8b3.png">

See this on Comet Hunters and Planet Four: Terrains

[2016-06-09 12:19] CKrawczyk commented on #2678
Something odd happened to the stats API, @camallen is looking into it.

[2016-06-10 14:56] #2658 closed

[2016-06-11 19:38] #2510 closed

[2016-06-13 07:14] chrislintott commented on #1850
Could @mrniaboc have a look and report on anything that currently is not linked to an open access version?

[2016-06-13 09:37] astopy opened #2681 "Can't edit project"
I have an old project I created a while ago that I can no longer edit. The project ID is 7, and clicking edit in the project builder just shows the "Loading project" page.

I'll need to manually add someone as a collaborator in the back end so you can debug this.

These are the only errors in the JS console when I click edit:

[code]

And then after that it logs this when I try to click anything e

[2016-06-13 21:00] #2629 closed

[2016-06-14 10:11] camallen commented on #2460
This should be fixed, please re-open (and provide a URL for testing) if not.

[2016-06-14 10:11] #2460 closed

[2016-06-14 10:13] camallen commented on #2456
@alexbfree will your collections PR fix this?

[2016-06-14 10:23] #2681 closed

[2016-06-14 15:27] brian-c opened #2686 "New survey task CSV uploading behavior"
New behavior should go something like:

- Use `type="file"` inputs to **select** (not automatically apply) choices, characteristics, confusions, and questions CSVs.
- Check for CSV-mismatch errors, e.g.:
  - Choice "Bear" has no line in the characteristics file.
  - No choice found for characteristic (or confusion, or question) for "Grizzly".
- Add an Upload button, disabled until at least choices

[2016-06-14 15:29] brian-c opened #2687 "New survey task image uploading behavior"
- [ ] Before uploading, make sure the image is no larger than 100KB. Skip and display an error if it is.
- [ ] At any given time, the UI should also list errors for images referenced in the workflow but missing from the workflow's media.
- [ ] If Delete all images, warnings about not having images don't return like they should

[2016-06-14 15:52] #2542 closed

[2016-06-14 16:34] brian-c opened #2688 "Automatic deploys usually fail"
This has been fairly consistent since the webpack merge. Both install and build take a bit longer now, so I imagine Jenkins is timing out.

[2016-06-15 08:49] astopy commented on #2688
From the build logs it looks more like the deploy script is running out of memory and getting killed by the OS. Whether or not it has enough memory to run will depend on what else Jenkins happens to be doing at the time. Is there anything we can do to reduce its memory usage?

[2016-06-15 12:34] mschwamb opened #2691 "When you upload an account profile avatar you have to reload the page to make it appear"
Happened with one of the Comet Hunters science team when they added an image as their avatar. Uploading was successful but it automatically refresh, so it looked like the image didn't upload. The person doing the photo uploading thought something had gone wrong.  Doing a browser refresh showed that the image had been uploaded.

Related to #2317

[2016-06-15 13:18] alexbfree commented on #2456
Yes it should. Linking it for testing #2670 .

[2016-06-15 14:00] camallen commented on #2691
I assume this was meant to say didn't automatically refresh...This is a know issue on our media resource uploads and it's to do with the way we enable this via our storage provide int he API. A page refresh should get the correct resource, alternatively a request for the actual media resource would return the correct get media resource URL.

[2016-06-15 14:13] mschwamb commented on #2691
yep meant to say it didn't automatically refresh and show. So it looked like to the person that the upload had failed, and they came to show me.

I knew what to do and told them to refresh the page, but to most people this looks like there is a bug/something is broken when the image they upload for the first time doesn't show in the box where they expect it to

[2016-06-15 19:47] srallen opened #2692 "Possible survey tool bug"
Gravity Spy team is reporting a `Uncaught TypeError: Cannot read property 'label' of undefined` and the interface becoming unusuable after using the survey tool.

[2016-06-15 20:03] srallen commented on #2692
More information: when the `whistle` option is selected is when this error is throwing indicating that something is setup incorrectly with that option.

[2016-06-15 20:11] srallen commented on #2692
There was a typo in confused pairs. Going to fix the CSV for setting up the confused pairs, however, this should be prevented from happening as noted in #2686

[2016-06-15 20:11] #2692 closed

[2016-06-16 10:59] astopy opened #2696 "stage command deploys master to subdir"
As of 855155eb90cd3fbae2b22d9244d1b3f2ad1868e4 running stage on the master branch sets DEPLOY_SUBDIR to "panoptes-front-end/master/" when it should just be "panoptes-front-end/".

[2016-06-16 18:21] #2674 closed

[2016-06-16 18:28] mschwamb opened #2698 "Have tutorial reset scroll bar when you move on to the next slide in the tutorial"
I'm noticing this on the new Notes from Nature - The images  and text are very long that I have to scroll on my 13-inch screen but when I advance to the next stage of the tutorial I'm still at the bottom of tutorial scroll bar and need to scroll all the way up start reading and scroll down. Because my OS/browser hides the scroll bar for the first time it wasn't clear I wasn't at the top of the tut

[2016-06-16 18:54] mschwamb opened #2699 "Slightly scary authorization message when you log into new Notes from Nature for the first time"
I got the newsletter so I checked it out. When I logged in for the first time  fro the landing page, I put in my username and password, I got this slightly scary authorization message. Had I not known that y'all are awesome, I'd hit deny like I do on websites where I don't know what's going on and why it wants my info. You might want to make this message simpler. I'm not sure other people will und

[2016-06-16 18:57] eatyourgreens commented on #2699
Pinging @camallen He can sort this out.

[2016-06-16 18:58] mschwamb opened #2700 "code-like synatx mentioning 'webpack' flashes on the browser window when I log into new Notes from Nature"
This might be because of my slower connection to the East Coast AWS farm: When I log into the new Notes from Nature using the Login link on the landing page when I enter my username and password this white screen with some code-like syntax mentioning 'webpack' shows up for a brief moment. i thought I'd let you know since I don't know what it is and if it is exposing anything. Screen grab below. I'

[2016-06-16 19:07] parrish commented on #2699
Fixed now

[2016-06-16 19:07] #2699 closed

[2016-06-16 19:25] mschwamb opened #2701 "IE not showing subject images anymore"
Was there a change to how images are displayed? I've got two people now reporting the same thing , that in IE they don't see any subject images on Comet Hunter in the classification interface. The rest of the side loads correctly, but no subject image displays

Talk discussion [here](https://www.zooniverse.org/projects/mschwamb/comet-hunters/talk/210/60615?comment=119430 )

[2016-06-16 19:39] srallen commented on #2701
Looks like the IE11 specific flex rule got removed in #2689. @brian-c this last got reported and fixed in #2330 via feature detection of IE11. I think it's a bug in the spec implementation with IE 11. It may be related to the [min-height bug described here](https://github.com/philipwalton/flexbugs#3-min-height-on-a-flex-container-wont-apply-to-its-flex-items). I don't like it, but I'm not sure of

[2016-06-16 19:39] brian-c commented on #2701
Will investigate, I was messing around in there yesterday.

[2016-06-16 19:41] brian-c commented on #2701
@srallen I don't think I removed the rule, instead it should now be applied it to all browsers. I checked IE11, maybe not IE 10 though.

[2016-06-16 19:43] mschwamb commented on #2701
I asked the volunteer who gave the most detail if they could give version numbers for OS and browser, so hopefully you'll have that soon if you check back to the Talk thread later.

[2016-06-16 19:49] srallen commented on #2701
I'm talking about the removal of L68-69 in `subject-viewer.cjsx` and L51 in `classify.styl`: https://github.com/zooniverse/Panoptes-Front-End/pull/2689/files#diff-7abae5c13f5f8bcb3c2e3dc1eb32cd86L68

The subject viewer is now a small pixel and is not expanding to the height of the parent like it was prior to the IE 11 specific flex prop that I added in #2330.

I wouldn't bother with IE 10. The fle

[2016-06-16 20:54] #2701 closed

[2016-06-17 16:11] alexbfree commented on #2578
Adding user bios and profile text here. Will code this once I have them all.

From Mark:

![mark](https://cloud.githubusercontent.com/assets/1473244/16156976/829b5440-34ae-11e6-91fb-d234044141ad.jpg)

[2016-06-20 15:02] aliburchard opened #2704 "remove automatically generated field guide option"
When you enable field guide on a project, it generates an entry (and thus displays by default on every project page). Can we either 1) turn off the default entry or 2) enable users to "hide" the field guide until they want it displayed? (This second option is especially important for existing projects that are now adding field guides and don't want the field guides "live" until they are finished.)

[2016-06-20 22:22] aprajita opened #2708 "Multiple images: default view"
In the space warps demo https://www.zooniverse.org/lab/1434/workflow/960, we have multiple images and we let the user choose between flip book or separate image views.
When a new subject is loaded, we would like the default view to be the separate images rather than the flipbook - is it possible to add an option for builders to set which will be the default view?
If not, would someone be able to c

[2016-06-21 00:51] vrooje opened #2709 "subject exports have duplicate subject_ids in different rows"
I'm working with GZBL data (project_id == 3) and the subject export has ~2x as many rows as there are subject_ids in the project. I think that's because I have several thousand subjects that are in multiple subject sets and multiple workflows, and the subject exporter is giving me one row per subject_id+workflow_id combination. Or per subject_id+subject_set_id combination; I can't tell which. Here

[2016-06-21 09:09] eatyourgreens commented on #2708
@aprajita Hi Aprajita, you can set the default view, in the project builder page for that workflow, using the drop-down menu under 'Multi-image options'. There should be an option for separate images.

[2016-06-21 11:08] camallen commented on #2709
This is just inconsistent reporting in the `retired_in_workflow` column. We report each subject link to the project subject_sets so this is why you are seeing multiple rows it should be uniq for subject_id : subject_set_id.

You happy enough to have the `retired_in_workflow`report the correct workflow link here?

[2016-06-21 11:31] aprajita commented on #2708
Thanks @eatyourgreens

Sorry, I wasn't clear in my original question. I've seen that option and have set it to let user decide between flipbook or multi-image, but what I was asking is whether the default view (i.e. the view when the users goes to a new subject) is the  multi-image view not the first frame of the sequence that is the delault in the "let the user choose" more. If I set this option

[2016-06-21 20:58] vrooje commented on #2709
Just to clarify, that would mean the `retired_in_workflow` column in the screenshot above would, for the above example where the subjects are retired in all workflows, be a duplicate of the `workflow_ids` column?

What I'd originally thought was that this should just be 2 rows, with the `workflow_ids`, `subject_set_id`, and `classifications_by_workflow` columns showing the combined info that's cur

[2016-06-22 09:29] mschwamb opened #2711 "Talk side bar showing duplicate project names"
@parrish I just noticed this today

<img width="1076" alt="screen shot 2016-06-22 at 5 27 23 pm" src="https://cloud.githubusercontent.com/assets/753325/16261639/ea7ef654-389e-11e6-8e7d-3a32e99105d3.png">

[2016-06-22 10:33] camallen commented on #2709
closing this here as it's a backend issue.

[2016-06-22 10:33] #2709 closed

[2016-06-22 14:43] parrish commented on #2711
Oh that's neat.  I'll take a look

[2016-06-22 17:01] mschwamb opened #2713 "Collections next button doesn't work anymore (can't peruse or advance through a collection)"
Getting the same issue in Firefox and Chrome if I try to hit the page 2 for a collection it doesn't advance to the new page. If I use the drop down menu I can move to page 2 and then the advance buttons work.

Example: https://www.zooniverse.org/collections/mschwamb/requested-2016-hirise-targets
If you try and hit Next it doesn't work.

@parrish is this something you can look at? This was fixed aw

[2016-06-23 14:32] #2711 closed

[2016-06-23 16:00] mschwamb opened #2715 "Some of the next buttons on Talk not working anymore"
Something broke the next buttons on Talk in a few places. In the collection see

Recents: https://www.zooniverse.org/projects/mschwamb/comet-hunters/talk/recents - The next button doesn't work

Talk Search: https://www.zooniverse.org/projects/mschwamb/planet-four-terrains/talk/tags/spiders

Talk threads the next button is working

[2016-06-23 16:02] mschwamb commented on #2715
cc @parrish and @alexbfree  maybe related to #2712 and #2713

[2016-06-23 16:39] alexbfree commented on #2715
The reported is fixed, but I am reopening while we verify that our fix didn't break logging in Geordi for these clicks.

[2016-06-23 16:53] mschwamb opened #2717 "Can't log out or access profile - Click on avatar and nothing happens"
Can click to log in but once logged in I can't log out nothing happens when I click the avatar. The account profile menu doesn't show up. Have checked in chrome and Firefox and get the same result

[2016-06-23 16:54] mschwamb commented on #2717
@alexbfree Geordi integrations seems to have broken this as well

[2016-06-23 17:05] srallen commented on #2717
Fixed by #2718

[2016-06-23 17:05] #2717 closed

[2016-06-23 17:12] mschwamb opened #2719 "when you load the next page in the list collection have the brower autoscroll up"
Not sure if this is old or new due to the Geordi integration @alexbfree , but I think it might be new like the other issues I reported today.   If you advance through the list of collections (https://www.zooniverse.org/collections)  by selecting a page the scroll bar remains on the bottom and does reload to the top. At least in firefox it doesn't scroll back up

[2016-06-23 19:40] vrooje opened #2720 "Link to project front page from project builder is broken"
The link to the front (public) page of a project from its "Project details" page in the project builder used to work, but today it doesn't seem to. It seems to be including all but the last character of the link to the project builder page itself in the link, i.e.:

https://www.zooniverse.org/lab/1050
links to the project page
https://www.zooniverse.org/lab/105/projects/imperativespace/monitoring-

[2016-06-23 19:54] srallen commented on #2720
I think I have an idea of what's going on. I'll take a look.

[2016-06-23 20:12] #2720 closed

[2016-06-23 20:23] simensta opened #2722 "close metadata modal by pressing esc"
The metadata modal should close when a user presses "esc".
Reported in [Talk](https://www.zooniverse.org/projects/zooniverse/decoding-the-civil-war/talk/465/62194).

[2016-06-23 21:19] wgranger opened #2723 "Missing Annotation Value in Exporter"
Annotation column returns `"error":"task cannot be exported"` when requesting CSV from older project. This was apparent when requesting a classification and subject data export from an older project (Old Weather) that uses tools not found in the project builder.

[2016-06-23 21:20] zwolf commented on #2723
In addition to 'survey', there are a lot more non-standard tasks than I thought, especially in non-PFE projects.

[2016-06-23 21:21] zwolf commented on #2723
Issue moved to [zooniverse/Panoptes #1839](https://github.com/zooniverse/Panoptes/issues/1839) via [**ZenHub**](https://www.zenhub.com/)

[2016-06-23 21:21] #2723 closed

[2016-06-23 22:00] simensta opened #2724 "Field Guide tab transparent in IE11"
Field Guide tab button does not inherit the Field Guide background color in IE11. Impeding the discoverability of the Field Guide as reported in [Talk](https://www.zooniverse.org/projects/zooniverse/decoding-the-civil-war/talk/465/61951?page=1&scrollToLastComment=true).
![screen shot 2016-06-23 at 4 53 46 pm](https://cloud.githubusercontent.com/assets/7684729/16321606/7f51e66e-3963-11e6-9386-30e30

[2016-06-23 22:23] brian-c commented on #2722
I think we can just replace the `alert` with the one from `ModalFormDialog`. Will test tomorrow.

[2016-06-23 22:25] simensta commented on #2722
Sounds good. Thanks!

[2016-06-24 11:07] camallen opened #2727 "Default avatar pointing to invalid asset path"
![image](https://cloud.githubusercontent.com/assets/295329/16336302/360395f6-3a04-11e6-8a56-d7e815ebb60d.png)

From [here](https://github.com/zooniverse/Panoptes-Front-End/blob/cd4618544f7f470b7f84f834ed7c4f7ed6fea534/app/partials/avatar.cjsx#L3) looks like the lookup path is adding talk in there somwhere...

https://static.zooniverse.org/www.zooniverse.org/assets/simple-avatar.jpg
vs
https://stat

[2016-06-24 14:04] brian-c commented on #2727
Most likely due to the react-router 2 upgrade. Will investigate this morning.

[2016-06-24 14:20] eatyourgreens commented on #2727
@brian-c I think it was just a leading . in the URL for the avatar.

[2016-06-24 14:39] #2727 closed

[2016-06-24 15:15] mschwamb opened #2729 "Talk links on subject pages don't work anymore"
if you click on view discussion on https://www.zooniverse.org/projects/mschwamb/comet-hunters/talk/subjects/2170614
 it tries to take you to https://www.zooniverse.org/projects/mschwamb/comet-hunters/talk/subjects/217061/projects/mschwamb/comet-hunters/talk/84/62215?comment=122204

@parrish and @alexbfree  perhaps this is related to the Geordi merge

[2016-06-24 15:37] srallen commented on #2729
I think this is similar to the broken link issue from yesterday. I'm taking a look right now.

[2016-06-24 15:57] #2729 closed

[2016-06-24 17:02] parrish commented on #2713
Not sure why this didn't close, but it was fixed by #2716

[2016-06-24 17:02] #2713 closed

[2016-06-24 17:03] parrish commented on #2700
This was fixed by zooniverse/notes-from-nature-landing#48

[2016-06-24 17:03] #2700 closed

[2016-06-24 21:23] #2471 closed

[2016-06-27 10:06] mschwamb opened #2733 "Completely not obvious how to sign in anymore to any zooniverse panoptes projects because the sign in/register and sign out buttons are hidden and extra clicks to navigate after logging in"
Now the entire top navigation bar is a zoonvierse symbol. It's not obvious to new people how to sign up or for current volunteers how to sign in. it look me a second to know to click the zooniverse icon on the right which then zooms out to the view with the top bar.

I don't think signin/sign out register and the project builder link shouldn't be hidden from view. we want to encourage people to si

[2016-06-27 10:52] mschwamb commented on #1925
not relevant  anymore with the new navigation bar

[2016-06-27 10:52] #1925 closed

[2016-06-27 13:04] mschwamb opened #2734 "all tutorials are now behind the classification interface and the new bottom zooniverse bar and not readable"
@brian-c  no tutorials are working on any panoptes projects they're behind the classification interface and not accessible

<img width="1140" alt="screen shot 2016-06-27 at 9 02 57 pm" src="https://cloud.githubusercontent.com/assets/753325/16380709/3463c0aa-3cab-11e6-9c11-20484700aec4.png">

[2016-06-27 13:04] mschwamb commented on #2734
This is Firefox and I've tried Chrome too and get the same result

[2016-06-27 14:04] #2734 closed

[2016-06-27 14:34] alexbfree commented on #2733
i noticed that a "The Zooniverse" label was proposed, which might help a little bit. https://github.com/zooniverse/Panoptes-Front-End/pull/2730#issuecomment-228387736

The comment that sign in needs to be more visible makes sense though.

[2016-06-27 14:43] astopy opened #2737 "Team images broken"
https://www.zooniverse.org/about/team

Looks like it's trying to load e.g. https://static.zooniverse.org/www.zooniverse.org/about/assets/team/alex_bowyer.jpg instead of https://static.zooniverse.org/www.zooniverse.org/assets/team/alex_bowyer.jpg

[2016-06-27 14:43] astopy commented on #2688
This should be fixed now.

[2016-06-27 14:43] #2688 closed

[2016-06-27 15:07] marten commented on #2733
Seconding this issue. I brought it up in Slack when this was first posted as GIFs there. We should keep the "sign in / register" or "User Name (NOTIFICATIONS ICON)" section in the bar next to the zoo logo at all times.

[2016-06-27 15:08] marten commented on #2733
Also, nobody will expect the rest of the menu to be behind that logo, logos pretty much always take you to the homepage. The logo should probably be a hamburger instead.

[2016-06-27 15:12] mschwamb commented on #2733
That would be a great solution @marten  and would address my concerns for not getting as many logged in classifications which is what I really care about.

Although I think that no one would ever know to click the Zooniverse icon which means new volunteers would not know there's a Zoonvierse wide Talk. Honestly if the login buttons hadn't been hidden I wouldn't have even thought to click on the Zo

[2016-06-27 15:18] marten commented on #2733
The reasoning was that there was a bunch of weird overlap: Zooniverse-wide "Talk" vs project "Talk", and Zooniverse-wide "Collections" vs project "Collections". This zoom-out behaviour makes it clearer that those links that appear are about something other than the project.

I also love how it makes the page be all about the project, and then Zooniverse is somewhere in the footer.

[2016-06-27 15:23] #2737 closed

[2016-06-27 15:27] mschwamb commented on #2733
I guess  but with this new design most people will never click on the navigation particularly with the icon over to the right even with a hamburger (?). I would think less people will ever click those links even if there is a menu button. It's fine for me if the main issue in this ticket the login/register get addressed since my priority is my projects and getting logged in classifications , but I

[2016-06-27 15:30] brian-c commented on #2733
For comparison, the new navigation is similar to what we did on older sites like https://www.galaxyzoo.org/. Maybe we just need a way to make sure it's visible on load.

[2016-06-27 15:38] mschwamb commented on #2733
@brian-c  the galaxy zoo one navigation by default stays down until you log in  (or at least it does for me) and then it hides or if you click the zooniverse icon. If it behaved more like that and was clearer what you to click to get back to the navigation bar, I'd be less concerned about losing logged-in classifications

[2016-06-27 15:57] #2724 closed

[2016-06-27 15:58] srallen opened #2739 "Field guide scrolling in IE11"
Field guide doesn't scroll in IE11. Only the whole page does.

[2016-06-27 16:34] camallen opened #2742 "Geordi logging issues"
https://www.zooniverse.org/projects/birgus2/western-shield-camera-watch/talk/372/62590?comment=122563

2 fold issue (see above link for more details):
+ different envs should be contacting the correct servers
+ down geordi server seems to be raising an error (this should be caught)

[2016-06-27 16:35] parrish commented on #2475
Closed by zooniverse/panoptes#1791

[2016-06-27 17:26] eatyourgreens commented on #2672
Fixed by #2680

[2016-06-27 17:26] #2672 closed

[2016-06-27 18:24] #2722 closed

[2016-06-27 20:02] yshish commented on #2733
I agree with @mschwamb's points. I understand the reasons for hiding the menu but I really think that user specifics (avatar/username, mailbox..) should be visible all the time without the need to click anywhere. (Think of users who share computer with others - they need to see who is currently signed in.) Please, bring back at least these ones.

[2016-06-28 09:10] camallen commented on #2742
@alexbfree looks like geordi client uses 2 params to configure the Geordi API url, first is server initialize param [here](https://github.com/zooniverse/geordi-client/blob/ef8c7a0ce4b53db9fdc0b5249981ea17f9ed9ddd/index.js#L48) that sets the env and then that is used to look up the the URL [here](https://github.com/zooniverse/geordi-client/blob/ef8c7a0ce4b53db9fdc0b5249981ea17f9ed9ddd/index.js#L88)

[2016-06-28 13:01] alexbfree commented on #2742
the linked PR #2749 fixes the issue with the wrong geordi server being used.

Error handling for Geordi down coming shortly.

[2016-06-28 14:18] alexbfree commented on #2742
The PR #2750 will ensure that Geordi fails gracefully. It is the responsibility of the user of the Geordi client's returned promise to decide what to do when Geordi throws an error, so have put handling into PFE. We have something similar in Serengeti's code that calls Geordi.

[2016-06-28 14:21] mrniaboc opened #2751 "Image upload not clearing/reporting properly"
If you try and upload images that are too large and you get the failure message you can then press the cross to cancel that upload attempt. When you then make your next attempt to upload images that are a suitable size, they work, but you also get the old failure message coming back  for the old images, even though you're not trying to upload them anymore.

[2016-06-28 14:25] dwright04 opened #2752 "Can't create new subject sets through project builder."
I have 28 subject sets.  I can only see 20 (issue [#1136](https://github.com/zooniverse/Panoptes-Front-End/issues/1136)) of these in the project builder sidebar.  I have a subject set called "Untitled subject set", but I cannot select it from the sidebar to upload subjects, change the name or delete it.  As new subject sets are created with the name "Untitled subject set" ([#1923](https://github.c

[2016-06-28 16:08] #1862 closed

[2016-06-28 20:03] trouille commented on #2676
We may need to include the ability to use epoch (1950 or 2000) to get the correct placement of the image (i.e., this would be added to the question about marking the units and would need to be included in the code to tell the system which epoch the values are from):

see http://burro.case.edu/Academics/Astr306/Coords/coords.html

[2016-06-28 23:23] mschwamb opened #2754 "Collections have uneven sizes if name fills two lines"
It looks a bit odd to have variable size based on collection title

<img width="1053" alt="screen shot 2016-06-29 at 7 22 01 am" src="https://cloud.githubusercontent.com/assets/753325/16435693/669a31ce-3dca-11e6-9222-518213bea05a.png">

[2016-06-29 03:14] eatyourgreens commented on #2742
Hi, Geordi client already defines an `onerror` handler for the XHR request, and rejected promises don't interrupt JavaScript, so I'm a little confused here.

The issue in the linked Talk thread is being caused by the broken links mentioned there, not Geordi.

[2016-06-29 10:04] camallen commented on #2742
The issue in talk is 2 fold:
1.  URL's were broken, that is fixed.
2. Geordi was reporting errors when the server was unavailable (recreate it by modifying the geordi host in /etc/hosts to something unreachable)
  + `vendor-2e5aed4….js:288 Uncaught (in promise) Error: Network Error(…)`

Seems geordi is raising on network error in the client [here](https://github.com/zooniverse/geordi-client/blob/e

[2016-06-29 10:21] eatyourgreens commented on #2742
OK. For reference, graceful failure on errors is already built into the Geordi client, added here
https://github.com/zooniverse/geordi-client/pull/8/commits/44634a519a8c98d3fad9bf962ef9ba3d310e1edb
with a test for API errors here
https://github.com/zooniverse/geordi-client/blob/master/test/index.js#L17-L28

I'm worried that #2750 will make API errors, like `422 - Unprocessable entity` hard to debu

[2016-06-29 10:29] alexbfree commented on #2475
Closing this ticket seems premature - even if the API now supports it, we'll need to implement this in the UI.

[2016-06-29 10:32] alexbfree commented on #2742
@camallen on your point 2, that is exactly the scenario this PR #2750 addresses. I tested it and it successfully caught the network error with occasional logging to console instead. Do you have a testcase that still fails with this PR in place?

[2016-06-29 10:34] alexbfree commented on #2742
@eatyourgreens Do you have a suggestion? Given the frequency with which Geordi posts to the console, I thought that logging every single one while Geordi is down/unavailable would be unacceptable....
Should I perhaps make it so that suppression of console warnings only happens if env is production?

[2016-06-29 10:41] eatyourgreens commented on #2742
@alexbfree maybe throttle network errors but not errors from the API in the Geordi client?

By the way, the title of #2750 is a little misleading, nothing breaks if you don't have that catch there.

[2016-06-29 10:48] alexbfree commented on #2475
@jwbmartin do you have design ideas for how this could be implemented?

[2016-06-29 11:51] alexbfree commented on #2715
@wgranger see my comments in #2716 - any comments on what talk click data was supposed to be recorded?

[2016-06-29 11:51] alexbfree commented on #2713
thanks @parrish , i think i meant to close it and forgot

[2016-06-29 11:53] alexbfree commented on #2281
possibly related: #2752

[2016-06-29 11:58] camallen commented on #2281
this is dup of #1924 the default name is the same one and subject set names are uniq for projects in the API.

[2016-06-29 12:02] alexbfree commented on #2281
ok closing as dup

[2016-06-29 12:02] #2281 closed

[2016-06-29 12:04] camallen commented on #2742
@alexbfree I'll defer here re errors / logging noise on the console.

[2016-06-29 12:05] alexbfree commented on #2742
@eatyourgreens could you define what you mean by throttle in this context?

[2016-06-29 12:11] eatyourgreens commented on #2742
@alexbfree maybe throttle network error reporting here https://github.com/zooniverse/geordi-client/blob/master/src/index.coffee#L84 but don't swallow API errors that are caught here https://github.com/zooniverse/geordi-client/blob/master/src/index.coffee#L84

I'm thinking that if you are, for example, inadvertently sending bad event data to the client then you probably want to see the HTTP error s

[2016-06-29 13:28] eatyourgreens commented on #2742
I've added a test to the client, which I think covers the network error.
https://github.com/zooniverse/geordi-client/pull/10

[2016-06-29 14:29] srallen commented on #2643
After further discussion, the UI for editing workflow level will only be implemented for admins.

[2016-06-29 14:31] srallen commented on #2475
@simensta and I worked a bit on the UI part of this during the April miniZTM. We haven't had time to get back to it, yet.

[2016-06-29 14:36] wgranger commented on #2715
@alexbfree Concerning the `change-page` event, we are trying to capture whenever a user clicks to or selects another page. I think `first-page`, `next-page`, `previous-page`, `last-page` and `select-page` covered it all. This should be recorded regardless if in zooTalk or zooHome.

[2016-06-29 14:37] alexbfree commented on #2742
noting that original reported issue "down geordi server seems to be raising an error (this should be caught)" has now been rejected. See discussion on closed PR #2750.

[2016-06-29 14:42] alexbfree commented on #2715
@wgranger : OK. For zooTalk we do not see `change-page` but we do see `talk-view` (with no additional data). See https://github.com/zooniverse/Panoptes-Front-End/pull/2716#issuecomment-228107096

Do you think this is a breakage/regression or just something we never fully implemented? If it's just something we never fully implemented, that's fine, we can close #2716 and fix it separately - but if t

[2016-06-29 14:45] eatyourgreens commented on #2715
@alexbfree `zooTalk` is posting `change-page` events. Here's an example I logged earlier today: https://github.com/zooniverse/Panoptes-Front-End/pull/2716#issuecomment-229336324

[2016-06-29 14:46] alexbfree commented on #2715
OK - now i understood your other comment @eatyourgreens i am piecing this together. As you saw, i had a screenshot where it was not coming through. Will re-test.

[2016-06-29 15:11] alexbfree commented on #2715
OK. Tests confirm this is now working. Closing ticket. Not sure why it wasn't working before but we are good now.

[2016-06-29 15:11] #2715 closed

[2016-06-29 19:25] srallen commented on #2698
Closed by #2703

[2016-06-29 19:25] #2698 closed

[2016-06-29 21:03] jwbmartin opened #2757 "So, stylus file changes are not triggering a hot reload?"
@amyrebecca said it's probably something with webpack And that I should make an issue about it so I did.

[2016-06-30 16:43] #2385 closed

[2016-06-30 23:42] mschwamb commented on #2733
@brian-c is there any chance of at least temporarily having a sign in/register button on next to the Zooniverse icon while the design is being tweaked by the graphic designed. I've had two newsletters go out, and I've noticed a drop in the number of logged-in users who appear when the newsletter have gone out in the past at similar times of day on both panoptes projects.

[2016-07-01 14:34] brian-c commented on #2733
@jwbmartin are you close to a solution? If not, should someone merge #2748?

[2016-07-01 16:22] jwbmartin commented on #2733
Sorry @brian-c I've been on vacay. Back next week.

[2016-07-03 03:55] mschwamb opened #2762 "Bottom navigation bar Zooniverse links don't autoscroll back up to the top"
I noticed when you click on any of the navigation links on the bottom Zooniverse navigation bar they go to the right pages but the browser doesn't autoscroll up to the top of the page. You're at the bottom of the new page which makes it a bit hard if you're perusing

Talking about this navigation bar
<img width="1141" alt="screen shot 2016-07-03 at 11 41 52 am" src="https://cloud.githubusercontent

[2016-07-04 13:42] mschwamb opened #2763 "Click on the 'You Should Sign In'and then on "No Thanks" or the 'X' on register and it takes you to POST website with a sad face"
If you click the 'You should sign in' button in the classification interface and then click on 'No Thanks' on the pop-up it takes you to

it takes you to https://www.zooniverse.org/projects/mschwamb/comet-hunters/POST

same thing if you click on register and click on the x on the box it takes you to:

https://www.zooniverse.org/projects/mschwamb/comet-hunters/POST

note this takes you completely o

[2016-07-05 09:54] mrniaboc commented on #2661
@zooniverse/developers Who's up for pushing this through?

[2016-07-05 09:55] mrniaboc commented on #2662
@zooniverse/developers who's up for pushing this through?

[2016-07-05 10:24] aliburchard commented on #2662
yay! super, super excited about this.

[2016-07-05 10:25] aliburchard commented on #2661
Yay! This is so ready for prime time.

[2016-07-05 10:33] CKrawczyk commented on #2661
+1 I have a summer student building some projects and this would be helpful

[2016-07-06 12:44] astopy opened #2767 "Can't directly load project pages in lab"
Going directly to one of my projects (e.g. https://www.zooniverse.org/lab/2731) now loads /lab/ instead.

[2016-07-07 19:38] #2661 closed

[2016-07-07 21:16] mcbouslog commented on #2686
mentioning @trouille

[2016-07-07 21:16] mcbouslog commented on #2687
mentioning @trouille

[2016-07-08 08:39] aliburchard commented on #2687
are these for subjects? our subject size limit is currently 600kb. every project currently live has subjects > 100kb...

[2016-07-08 10:23] aliburchard opened #2772 "Need proper error message for landing on private project page"
If you go to a private project's landing page, you are met with an incomprehensible error message:
![screen shot 2016-07-08 at 11 10 39](https://cloud.githubusercontent.com/assets/6217406/16684647/2a02b3d6-44fe-11e6-903d-a738c3d0daa3.png)

We *really* need to say something like "you've arrived at a private project! If you are supposed to have access to this project, please email the project owner.

[2016-07-08 19:44] brian-c commented on #2687
@aliburchard this is for the survey task editor, where a couple dozen images might be loaded at the same time.

[2016-07-09 05:06] mschwamb commented on #2772
Duplicate already here #1792

[2016-07-09 05:06] #2772 closed

[2016-07-09 05:07] mschwamb commented on #1792
Same issue reported in #2772

[2016-07-10 21:23] aliburchard commented on #2687
So for the spot in the survey task where you upload reference/thumbnail photos and icons?

[2016-07-11 14:16] camallen opened #2777 "User project preferences without user contributions"
This is the anomalous behaviour from the UI, https://www.zooniverse.org/talk/17/65759

It seems [here](https://github.com/zooniverse/Panoptes-Front-End/blame/bcb1f1c93483514a56a41e88475fed763c12e952/app/pages/project/index.cjsx#L263) the project prefs are being created on project load? instead of by the backend when a classification is received. We either need a to provide better stats pages (hide

[2016-07-11 14:24] aliburchard commented on #2752
Is this maybe because we don't elegantly handle lots of subject sets? (This is a problem in a number of projects -- and if we start telling teams with hundreds of thousands of images to limit their subject set size to 10s of thousands of images, then this is probably going to happen more and more...)

[2016-07-11 14:27] eatyourgreens commented on #2777
I think this is related to #2572 - setting a default workflow for a project. User prefs are probably also created when you complete a tutorial, regardless of whether you've classified on a project.

[2016-07-11 14:30] brian-c commented on #2777
Yep, @eatyourgreens got it.

I think the solution is to just filter out prefs with `activity_count: 0`.

[2016-07-11 16:09] #2777 closed

[2016-07-11 16:14] #2763 closed

[2016-07-11 17:41] #1792 closed

[2016-07-11 17:41] #2733 closed

[2016-07-11 18:01] jwbmartin commented on #2754
I think this is an easy fix. Just have the title ellipses once it hits two lines. I'll see if someone has time to do it or if I can figure it out myself.

[2016-07-11 18:05] jwbmartin commented on #2487
I think we need to start limiting the length of names, honestly. Maybe are just getting to be ridiculously long.

[2016-07-11 18:06] srallen commented on #2115
Gonna just close this since there haven't been any more reports of this. Will reopen if reported.

[2016-07-11 18:06] #2115 closed

[2016-07-11 18:06] #2488 closed

[2016-07-11 18:07] srallen commented on #2049
Sign in prompt is an animation below the subject viewer now.

[2016-07-11 18:07] #2049 closed

[2016-07-11 18:08] srallen commented on #2570
Background color is fixed in #2726

[2016-07-11 18:14] #2532 closed

[2016-07-11 18:15] #2646 closed

[2016-07-11 18:15] #2649 closed

[2016-07-11 21:10] jwbmartin commented on #2626
Changing it now with @srallen

[2016-07-11 21:10] #2626 closed

[2016-07-11 22:24] yshish commented on #2612
I was just editing my post in WS by adding a hashtag. It was suggesting me "#possiblepulsars" and "#possible" after typing "#Brush-tailed_pos" instead of the "#Brush-tailed_possum". Definitely not from WS project.

This happens only when editing.

Hope this is the correct place to report that, although the issue is closed.

[2016-07-12 14:24] alexbfree opened #2782 "Quality Control / Testing / Enhancements for Gravity Spy (and beyond)"
Adding to this list as I find more.
Need to review all events from https://docs.google.com/document/d/1TTNgzAQbhYH9kn3mqcy0p_UBRIzFG3CgPxcXpTVv3Nk/edit#heading=h.a71ajjlkx95

We need to make sure `relatedID` and/or `data` are filled in, otherwise some of the events become meaningless. Also need to test all events logging correctly and capturing all details that make sense

Add to this list as we f

[2016-07-12 15:34] parrish commented on #2612
I've got a fix in #2784.

It's probably best to create a new issue for things like this, it's less likely to get lost in the shuffle.

[2016-07-12 20:31] srallen commented on #2739
Duplicate of #2570

[2016-07-12 20:31] #2739 closed

[2016-07-12 23:49] mschwamb opened #2787 "A way of removing the extra click for non-logged in users on the landing page"
The new Zooniverse navigation header layout now reveals the zoom out with the Zooniverse navigation bar if you're not logged in the first time.  I really appreciate that panoptes front end now shows that  when you first get to the first project page to help get people to login  but  because of the  zoomout you have to click once to zoom in and hide the bar and the blue sides and then once to click

[2016-07-13 09:34] #2742 closed

[2016-07-13 14:55] srallen commented on #2630
I wasn't able to replicate this, so I'll close, but do reopen if you see any more oddities.

[2016-07-13 14:55] #2630 closed

[2016-07-13 17:15] MvGulik opened #2789 "General collections-page, "undefined" hickup in page-links."
![collection_page_issue](https://cloud.githubusercontent.com/assets/666868/16812376/1ccda134-492d-11e6-83f4-753ceac60ee2.png)
(*Desktop, Chrome*)

[2016-07-13 21:06] mwp-tj opened #2790 "Ellipse tool: What does rx,ry and angle refer to?"
For the panoptes ellipse tool attributes : rx, ry and angle, what reference frame is used to calculate these values?

Is rx the semi-major axis of the ellipse? How is this measured?
If rx is measured as the 'radius along the x-axis', how is it measured when the ellipse is rotated at some angle relative to the x axis (ex: 45 deg)?

In the code published on GITHUB, I noticed that ry=rx*DEFAULT_SQUIS

[2016-07-13 22:04] brian-c commented on #2790
Yep, I think that's the key. Size doesn't define the axis, relation to the `angle` does. Here's the description from the readme:

[2016-07-13 22:12] mwp-tj commented on #2790
So if I'm understanding this correctly, the way these ellipses are defined follows these steps:
*An ellipse is drawn with `rx` and `ry`with `angle=0`
*The ellipse is then rotated with respect to the x axis to match the angle given

[2016-07-13 22:20] brian-c commented on #2790
Sounds right to me.

[2016-07-14 01:20] #2790 closed

[2016-07-14 08:08] MvGulik opened #2791 "General collections-page, additional collection subject-count in collection preview."
Clicking the current (_2016-07-14_) first five collections on the general collection page(1) reveals that those collections only contain one single collected subject. (_Which I think, from a collection-browsing-user POV, is a bit annoying. CQ: Having to open a collection, just to see if it was worth opening it in the first place._)

Its nice to see the name of the collector in the collection-previ

[2016-07-14 13:10] #2557 closed

[2016-07-14 15:27] MvGulik commented on #2789
Seems fixed to me, closing.

[2016-07-14 15:30] MvGulik commented on #2789
oops, Undoing close, looked at the wrong link.

[2016-07-15 12:25] mrniaboc commented on #2708
@eatyourgreens @brian-c I think this is something we should offer that would be fairly straight-forward to implement. Thoughts?

[2016-07-15 15:44] #2157 closed

[2016-07-15 15:59] CKrawczyk opened #2797 "stats page dropdowns don't work"
Looks like the react-router updated may have broke the dropdown lists on the stats page.

[2016-07-15 18:29] mcbouslog commented on #2797
https://www.zooniverse.org/projects/jukoch/pattern-perception/stats - works

https://www.zooniverse.org/projects/zooniverse/notes-from-nature/stats - breaks if try to use dropdowns after workflows have loaded (time periods dropdown works before dropdowns load)

[2016-07-16 11:49] mschwamb opened #2798 "if you go to a subject page directly from a link posted in a talk post it shouldn't go to the zoomed out"
If you click on the links to the subject pages in a Talk post non-logged in, it switches back to the zoomed out menu. If you've dismissed the bar it should stay down I think if you're navigating within Talk

https://www.zooniverse.org/projects/mschwamb/comet-hunters/talk/213/68083?comment=130663

[2016-07-17 18:27] MvGulik commented on #2798
Short version: Consider making the user-login-action/state part permanently visible and available no matter what zoom-mode is used/active. (*that way zoomed-in can be made de unconditional default, problem solved no?*)

[2016-07-18 08:41] CKrawczyk commented on #2797
Odd, I just tried this again today it the everything is working as expected.  Not really sure what was causing this.  Closing for now.

[2016-07-18 08:41] #2797 closed

[2016-07-18 12:43] alexbfree opened #2799 "Layout: Zoo home logo not aligned with rest of project menu bar"
I noticed that the new top right Zoo home logo isn't correctly aligned with the rest of the project menu bar:
![screenshot 2016-07-18 13 41 34](https://cloud.githubusercontent.com/assets/1473244/16915058/8be61ee8-4ced-11e6-97e1-74ff90f7fb2e.png)

Also, it seems too close to the right hand side of the window. Might be specific to Macs? Since there's always a scrollbar there.

[2016-07-18 12:43] alexbfree commented on #2799
cc @jwbmartin

[2016-07-18 15:24] mschwamb opened #2800 "Not clear how to get the Zooniverse level navigation bar and Account buttons back"
It's not apparent that the Zooniverse logo does anything to bring back the Zooniverse level navigation bar. So once you double click or login, I think it's not clear how to log out or get to the mailbox. I've been asked by other science team members, how to navigate to access those things.  See additional comments on this subject  in #2733

[2016-07-18 15:28] jwbmartin commented on #2799
Yeah it should align

[2016-07-18 15:39] mschwamb opened #2801 "Talk should display the subject image layout the same way that the classification interface does"
I noticed that on supernova hunters, the three subject images are side by side but in Talk it's an animated movie of the three images. I think that's because the interface is showing the three images side by side using then specification in the  project builder and Talk doesn't have that setting.

I think having the two different views is slightly confusing to new volunteers, and would decrease fr

[2016-07-18 15:44] mschwamb commented on #1881
This has been recently addressed. So closing. Thanks!

[2016-07-18 15:44] #1881 closed

[2016-07-18 18:27] #2789 closed

[2016-07-18 19:46] srallen commented on #2678
@CKrawczyk can this close?

[2016-07-18 19:51] srallen commented on #2762
`react-router-scroll` can be used to define behavior on route change: https://github.com/taion/react-router-scroll

[2016-07-18 19:52] srallen commented on #2719
Related to #2762. Use [react-router-scroll](https://github.com/taion/react-router-scroll)

[2016-07-18 19:55] srallen commented on #2623
@mcbouslog I think this is related to #2686, so I'll assign this to you.

[2016-07-18 20:06] MvGulik commented on #2789
Thanks (?)

[2016-07-18 20:25] MvGulik commented on #2799
Seems fine to me.
![image](https://cloud.githubusercontent.com/assets/666868/16929054/1ade6f54-4d36-11e6-855a-9f5c829d5c4d.png)

It seems more a case where one of the menu-bars (main-zoo-bar, or project-bar) seems in need of adopting the formatting or the other.

[2016-07-18 20:54] #2570 closed

[2016-07-18 23:48] brian-c commented on #2754
I've got a pretty neat string-truncator component coming with the new homepage, I can pluck it out into a separate PR if that'd be useful to someone.

But my standard disclaimer applies here: design with the content you have, not the content you want. In this case what we have are user-defined strings of unknown length.

[2016-07-19 08:41] CKrawczyk commented on #2678
Yep, this can close now.

[2016-07-19 08:41] #2678 closed

[2016-07-19 08:49] mschwamb commented on #2754
If you are going to truncate, I'd suggest giving two lines and then using the ellipses to keep the name on two lines

[2016-07-19 14:18] srallen commented on #2603
@CKrawczyk I think this one can close too?

[2016-07-19 14:22] srallen commented on #2545
@wgranger can this closed since #2770 is merged? In the future can you include a `fixed` or `closed` message along with the issue number so it auto-closes.

[2016-07-19 14:24] wgranger commented on #2545
@srallen Yep. Thanks for the heads up and advice. This should be good to be closed.

[2016-07-19 14:24] #2545 closed

[2016-07-19 14:45] #2549 closed

[2016-07-19 14:45] #2547 closed

[2016-07-19 14:54] srallen commented on #2531
PR is merged.

[2016-07-19 14:54] #2531 closed

[2016-07-19 15:06] srallen commented on #2501
@aliburchard We can take a look at possibly limiting the height, but since this is a user submitted field, we can't absolutely guarantee this won't happen. We should also probably have a recommend length in the editor too.

[2016-07-19 15:11] CKrawczyk commented on #2603
Yep.

[2016-07-19 15:11] #2603 closed

[2016-07-19 15:50] srallen commented on #2468
@aliburchard project owners can now manage workflow visibility in the project visibility tab and only active workflows are disabled from editing. Can this issue close or is there more to address?

[2016-07-19 16:03] #1850 closed

[2016-07-19 16:36] aliburchard commented on #2468
think that covers it!

[2016-07-19 16:36] #2468 closed

[2016-07-19 18:27] mkosmala commented on #2116
@chrislintott @aliburchard I've got Harvard colleague who wants to do a Notes-from-Nature style project. We're finding that 600kB is going to be too small to do justice to the collection images. In particular, I think zooming (just like in NfN) makes more sense for this project than dividing up images into smaller chunks. Thoughts?

[2016-07-20 07:28] aliburchard commented on #2116
@mkosmala I was just going to ask someone to look at how big those were  :)

I think that the resolution on 600kb images can be really really good if they're sampled down properly.

Alex, I'm going to go ahead and close this issue as a wontfix, since we are keeping that limit in place for standard projects because we've learned from experience that 1) 600kb is more than enough for most projects an

[2016-07-20 07:28] #2116 closed

[2016-07-20 07:31] aliburchard commented on #2501
+1 to a recommended length. It's probably harder in the editor since this is actually submitted via csv, but we can suggest a length in the help text, at the very least.

@mcbouslog - can we add "adding a suggested word count" to the list of survey task improvements? (we just need to figure out what it is.)

[2016-07-20 07:33] aliburchard commented on #2623
I am so excited about #2686!

[2016-07-20 19:34] mcbouslog commented on #2501
absolutely! #2686

[2016-07-20 23:01] MvGulik opened #2808 "retracted"
(*retracted*)

[2016-07-21 08:27] vrooje opened #2809 ""Zooniverse Team" role label on Talk no longer centered under profile pic"
![screen shot 2016-07-21 at 1 24 25 am](https://cloud.githubusercontent.com/assets/2357126/17016088/31bf7436-4ee2-11e6-9596-330a6dfb78d2.jpg)

I haven't been on Talk in a few days so I'm not sure how long this has been happening. I'm in Chrome 51.0.2704.103 (64-bit) for OS X.

[2016-07-21 08:52] camallen opened #2810 "Stats page should only retrieve active workflows"
When loading project stats the worfklows api the request should have the active=true filter e.g. [here](https://github.com/zooniverse/Panoptes-Front-End/blob/1f94f898f3480f1659aa47604d3af2196eb26a9b/app/pages/project/home.cjsx#L24) to avoid loading testing workflows that aren't used.

[2016-07-21 10:45] #2810 closed

[2016-07-22 00:08] mschwamb commented on #2809
Noticing the same thing as well.

[2016-07-22 13:42] srallen commented on #2809
I'll take a look at this today. I've been doing some work on the CSS here, but I didn't see this happen with my changes...

[2016-07-22 13:55] srallen commented on #2800
@jwbmartin One of things we did on Chimp and See with buttons that only use icons is add a tiny label below them, specifically the field guide and favorite button on the sides of the classifier. The favorite button also has a small pop up on hover when someone is signed out and the button is disabled to show a small "sign in or sign up to use this" type messaging. Could something like that be a so

[2016-07-22 14:43] srallen commented on #2662
Gonna reassign this to me. #2769 itself looks good, but there were a couple of related field guide issues I noticed that probably should be addressed before it's made public.

[2016-07-22 15:03] MvGulik commented on #2456
Seems fixed. cq: Back to working as expected.

Presuming ok to close.
Closing.

[2016-07-22 15:03] #2456 closed

[2016-07-22 15:06] #1281 closed

[2016-07-22 15:17] brian-c commented on #1065
I think this'd be a pretty easy fix. The image selector used for user settings seems to work fine.

[2016-07-22 15:29] brian-c commented on #2247
Got started on this in the custom-pages branch, put it down when the navigation changed. Probably still something salvageable in there!

[2016-07-22 15:41] VVH opened #2814 "Pop up interventions like Penguin Watch"
This is a feature request I'm logging at the suggestion of @vrooje and @alexbfree, inspired by Seabird Watch https://www.zooniverse.org/projects/penguintom79/seabirdwatch. In this project you're asked to count all of the birds in an image, whereas in Penguin Watch (similar dataset) you're asked to click on as many as you can and when you've reached 30 a pop up appears saying 'You've done 30. Marve

[2016-07-22 19:24] srallen commented on #384
Free text tool exists now.

[2016-07-22 19:24] #384 closed

[2016-07-22 19:28] srallen commented on #824
Project owners on live projects can now manage a workflow's activeness and can make a workflow inactive to add new subject sets.

[2016-07-22 19:28] #824 closed

[2016-07-22 19:31] srallen commented on #841
This is done.

[2016-07-22 19:31] #841 closed

[2016-07-22 19:33] srallen commented on #935
Workflow orders can be modified for the project home page.

[2016-07-22 19:33] #935 closed

[2016-07-22 19:40] srallen commented on #1902
Hide classification summary is an experimental feature that can be requested to be turned on.

[2016-07-22 19:40] #1902 closed

[2016-07-22 19:41] srallen commented on #1887
Navigation has been redesigned

[2016-07-22 19:41] #1887 closed

[2016-07-22 19:42] srallen commented on #1882
Closing as fixed

[2016-07-22 19:42] #1882 closed

[2016-07-22 19:43] srallen commented on #2027
Projects page has been redesigned.

[2016-07-22 19:43] #2027 closed

[2016-07-22 20:56] #2236 closed

[2016-07-22 20:59] srallen commented on #2165
Doesn't appear to be an issue any longer. Closing.

[2016-07-22 20:59] #2165 closed

[2016-07-22 21:00] srallen commented on #2121
Text field task is done.

[2016-07-22 21:00] #2121 closed

[2016-07-22 21:01] srallen commented on #2122
Pan and zoom is an experimental feature.

[2016-07-22 21:01] #2122 closed

[2016-07-22 21:03] #2023 closed

[2016-07-22 21:04] srallen commented on #1994
Duplicate.

[2016-07-22 21:04] #1994 closed

[2016-07-22 21:05] srallen commented on #1944
A small point tool option now exists.

[2016-07-22 21:05] #1944 closed

[2016-07-23 02:02] melaniebeck commented on #2578
Sorry I'm behind on all this stuff, Alex!

Melanie is a PhD astrophysics student at the University of Minnesota and a
collaborator on the Galaxy Zoo team. She has been working on incorporating
machine learning algorithms in conjunction with volunteer votes to classify
galaxy morphologies. This will make Galaxy Zoo more efficient for upcoming
astronomical surveys which will uncover billions of neve

[2016-07-23 03:28] mschwamb commented on #1281
Thank you @parrish!

[2016-07-23 03:59] mschwamb commented on #2447
This is now fixed so I'm closing it

[2016-07-23 03:59] #2447 closed

[2016-07-25 17:09] #2809 closed

[2016-07-26 09:17] hughdickinson opened #2817 "Arrow Drawing Task"
It would be really useful to be have an arrow drawing tool to enable directionality of lines to be explicitly defined. Is this possible?

[2016-07-26 09:35] camallen commented on #2817
can't this already be determined by the order of the points in the classification as we record the order of points already? E.g. `[ point_1, point_2 ]` is a direction from 1 to 2.

[2016-07-26 14:27] camallen opened #2818 "Geordi logging for localhost development"
I've been testing PFE locally on my dev machine without an env setting (just overriding the panoptes api url / app key) and i've noticed it's logging to geordi staging.

Do we want to be logging to staging like this? I don't think so, in my mind logging to geordi should be disabled unless we are active on a known domain (*.zooniverse.org, etc). Thoughts?

[2016-07-26 15:12] mcbouslog opened #2819 "all workflows not populating in project builder"
When a project's workflows are [collected](https://github.com/zooniverse/Panoptes-Front-End/blob/master/app/lib/get-workflows-in-order.coffee) (in the [Project Builder](https://github.com/zooniverse/Panoptes-Front-End/blob/master/app/pages/lab/project.cjsx#L94), on the project's [home](https://github.com/zooniverse/Panoptes-Front-End/blob/master/app/pages/project/home.cjsx#L24) or on the [stats pa

[2016-07-26 15:28] srallen commented on #2818
It was probably useful for the initial development, but I agree that it's unlikely to be useful now and would be cluttering up the staging db.

[2016-07-26 16:15] hughdickinson commented on #2817
It can, but for the purposes of our project, the directionality is sufficiently important that it would be good to have a visual representation so that classifiers do not inadvertently draw the line in the wrong direction.

[2016-07-26 19:51] srallen opened #2825 "UX for notifications in nav"
Work with @jwbmartin to integrate her design and UX for notifications in the navbar. Possibly use an icon [like this](https://thenounproject.com/search/?q=notification&i=492155) next to the mail icon.

[2016-07-26 22:21] mschwamb commented on #2809
Thanks @srallen

[2016-07-26 22:45] mschwamb commented on #2825
Please don't hide the notifications icon away from the project level. It's something that is used frequency by active talk volunteers ,the moderators, and the research teams to see if there is something on the project level talk that they have been mentioned in or updates to a thread they are following it gets updated with the notification count and currently tells the user there are new notificat

[2016-07-27 08:51] #2808 closed

[2016-07-27 09:18] chrislintott opened #2826 "Preview needed for minicourse"
It would be great to preview the course without having to classify!

[2016-07-27 10:21] camallen commented on #2825
Seconding @mschwamb concerns about the hidden navigation. As a site user i find it really strange that my personal area is hidden behind the project view. I'm totally in favour of just having the project view embedded all the time and have the top nav always visible, e.g.

![image](https://cloud.githubusercontent.com/assets/295329/17172285/327a76dc-53ec-11e6-920a-99f77536ce33.png)

[2016-07-27 10:35] hughdickinson opened #2827 "Possible problem with multiple image flip books"
I'm seeing some inconsistent behaviour when trying to use the flip book feature for multiple images in the project builder. I uploaded all the files described in the attached manifest and the manifest itself (with the suffix changed to .csv). Sometimes a flip book is generated, but at other times only a single image appears. Perhaps there was an unreported issue uploading some of the images or the

[2016-07-27 10:48] mschwamb commented on #2825
agreeing with @camallen 100% on this. It's very clear the navigation of the Zooniverse level is different with the blue bar but is still visible in Cam's suggestion. Science team members have asked me how to log out as it wasn't obvious to hit the Zooniverse icon. Also now when you log in, it takes you a click after logging in to get back into then project mode, which is confusing and extra work f

[2016-07-27 10:59] aliburchard opened #2828 "Make markdown guide linkable"
There is a helpful guide to markdown that is available if you click on '?' from the project builder or talk (I can't actually find where that content is stored).

Can we make this an actual page so we can actually give people links to the help text? It might also be good to have a prominent "how to markdown" link to the page, though there _is_ the '?' above the text boxes which might suffice.

[2016-07-27 11:01] eatyourgreens commented on #2828
#1517 has links to the markdown help files in PFE (one for the project builder and one for Talk?)

[2016-07-27 14:34] wgranger opened #2829 "Home page is pushed up in IE11"
This is due to a bug in the `.hero` class. `Flex` doesn't work well with the `min-height` property. Setting `height: 800px` is a quick fix, but there will likely be overflow in mobile or other viewports.

![screen shot 2016-07-26 at 4 08 18 pm](https://cloud.githubusercontent.com/assets/14099077/17178984/287993a2-53dd-11e6-93f6-0b0859ffe2cc.png)

[2016-07-27 14:39] eatyourgreens opened #2830 "Zooniverse toggle button rendering twice in Chrome"
I don't know how I managed to trigger this, but the toggle button, top right, is rendering twice in the DOM in Chrome.

![image](https://cloud.githubusercontent.com/assets/59547/17179165/16670658-5410-11e6-975f-b5be9da5bc27.png)

[2016-07-27 14:47] srallen commented on #2829
@parrish, this appears to be an issue in IE11 on the new home page design too. [This might be a usable solution.](https://github.com/philipwalton/flexbugs#3-min-height-on-a-flex-container-wont-apply-to-its-flex-items)

[2016-07-27 14:48] jwbmartin commented on #2787
I'm not going to drop the border. It's received a lot of positive feedback and there are actual conceptual reasons why I chose to style the page in that way. But it is odd that you have to click "Get Started" twice to get to the Classification page.

Hm, not sure who I should ping since Brian has left? @srallen ? @eatyourgreens ?

[2016-07-27 14:51] srallen commented on #2787
It's functionally acting like a modal when zoomed out... might just be a z-index that we could modify, but I'm not sure.

[2016-07-27 14:51] srallen commented on #2826
This feature will be useful for the tutorial too.

[2016-07-27 14:57] eatyourgreens commented on #2787
There's an overlay, `div.app-layout__main-overlay`, which blocks you from pressing the buttons but goes away after the first click.

[2016-07-27 15:01] srallen commented on #2787
Perhaps we should consider removing the overlay so folks who wish to classify in a project with the top level nav showing can choose to do so? Related to #2800

[2016-07-27 15:15] eatyourgreens commented on #2787
I just played around with removing it in the DOM inspector and personally, I found the site a lot easier to use without that annoying first click to activate the page.

I think that, as it stands, clicking to classify will still close the top menu though. So you won't be able to see your notifications while classifying.

[2016-07-27 15:18] eatyourgreens commented on #2787
@srallen I think it's as simple as deleting this div, right? https://github.com/zooniverse/Panoptes-Front-End/blob/master/app/layout/index.jsx#L129-L137

[2016-07-27 15:42] mschwamb commented on #2787
@jwbmartin the border is fine if you want it on the edges.

The only reason I'm suggesting getting rid of it on the sides when keeping the zooniverse navigation bar and account icons permanently  exposed is that the border causes the classification interface to show a smaller subject image. The main goal of these sites is to review and classify the image/data presented so from a science team persp

[2016-07-27 15:53] srallen commented on #2787
@eatyourgreens Yep, that looks like it.

[2016-07-27 16:51] srallen commented on #2754
A fix for this is coming in with #2804

[2016-07-27 16:53] parrish commented on #2829
Confirmed.  [This workaround](https://github.com/parrish/Panoptes-Front-End/blob/551ef9e543c9bc2c7118056614f4982b16dfca0e/css/home-not-logged-in.styl#L53-L56) will fix it.  Just wrap the `display: flex` element with a `display: flex; flex-direction: column` container.

[2016-07-27 18:21] srallen commented on #2782
Gravity Spy is getting closer to a tentative launch, hopefully end of August. Does this still need to be done?

[2016-07-27 19:09] srallen commented on #2578
@melaniebeck do you have a particular photo of yourself that you'd like us to use for the team page?

[2016-07-27 19:15] eatyourgreens commented on #2578
Searching my phone now for any photos taken in the pub.

[2016-07-27 20:10] srallen commented on #2578
Still need photos and bios from @amyrebecca, @zwolf, @dwright04

[2016-07-27 20:31] zwolf commented on #2578
Sent mine over to you via email.

[2016-07-28 07:27] MvGulik commented on #2830
Yea. Don't back-out from Zooniverse-talk, when you came from a Project-page.

... *End of Line* ...

[2016-07-28 15:34] eatyourgreens commented on #2830
I've been able to reproduce this by going from a project to Talk, then using the back button to get back to the project page.

[2016-07-28 15:50] eatyourgreens commented on #2830
![zoo button bug](https://cloud.githubusercontent.com/assets/59547/17219368/0b977162-54e3-11e6-8c37-2ab07de14d39.gif)

[2016-07-28 16:10] aprajita opened #2834 "Space Warps: Instant feedback messages for training images"
Hi @chrislintott @marten

just putting the PFE feedback messaging in SpaceWarps into an issue.

Pop-up feedback is an essential and necessary part of SpaceWarps that improved the users experience & training, and therefore skill.

I've updated our workflow
https://www.zooniverse.org/projects/aprajita/swdemo/classify?reload=0&workflow=960
with a dataset that includes "training" images.

I've provide

[2016-07-29 11:06] eatyourgreens opened #2836 "New layout has broken the drawing tools"
The SVG drawing surface calculates image scale on component mount, before any rescaling that happens as a result of the new project layout. This can result in SVG marks being offset significantly from the position of the mouse cursor.

To reproduce:

1. open any project classify with a drawing task while zoomed out (eg. while not logged-in to Zooniverse.)
2. Click to zoom in.
3. Click on the subje

[2016-07-29 12:47] mcbouslog commented on #2686
so this is far from functioning still, but noting [staged branch here](https://survey-task-editor.pfe-preview.zooniverse.org/) for reference, will contact Ali and Laura via Slack for explanation and general concept in mind.

[2016-07-29 12:51] mcbouslog commented on #2686
<img width="513" alt="screen shot 2016-07-29 at 7 50 25 am" src="https://cloud.githubusercontent.com/assets/12118751/17248605/436a44f6-5561-11e6-91a7-e1087549bce4.png">

[2016-07-29 19:51] srallen commented on #2827
The manifest looks ok. @hughdickinson did you use the project builder interface to upload the subjects or another tool?

[2016-07-29 21:21] #2676 closed

[2016-07-29 21:52] hughdickinson commented on #2827
I used the project builder.

[2016-08-01 15:41] srallen commented on #2825
If anyone has a bit of time for this, feel free to also self-assign the issue.

[2016-08-01 16:05] trouille commented on #2834
@aprajita Will the feedback messages be custom-written from subject to subject, or will all #F_Success #F_Fail be the same?

If #F_Success #F_Fail will be the same for all subjects, it likely will make more sense to include a UI component in the Project Builder where research teams can input those messages.

If the messages will differ, we'll need to find some other way than '#' to flag them. We u

[2016-08-01 16:07] camallen commented on #2834
pinging @hughdickinson as he's been doing some work on this.

[2016-08-01 16:09] trouille commented on #2834
@marten @camallen : Two questions:

1) Is everything available and working on the back end for this to happen? Or is there work to be done there as well?

2) When I was in Oxford, one of you mentioned that currently the gold standard feedback functionality was broken on the front end (see attached image). Any chance you know who was working on this previously? It would be good for the new PFE dev

[2016-08-01 16:15] marten commented on #2834
1) I'd prefer those texts to be in workflow_contents rather than subject metadata. If they need to change per subject, the subject metadata should still only contain a reference to a key in `workflow_contents.strings`. This keeps all translatable text together. However, that's just PFE work, backend doesn't care.

2) Pretty sure our stance was that that "Import" should go away completely. We have

[2016-08-01 18:51] mschwamb opened #2841 "The new zooniverse home page project suggestions links to the panoptes landing page for custom built Zooniverse projects"
Example galaxy zoo one goes to https://www.zooniverse.org/projects/zooniverse/galaxy-zoo . It should straight to Galaxy Zoo

<img width="1128" alt="screen shot 2016-08-01 at 8 50 06 am" src="https://cloud.githubusercontent.com/assets/753325/17305207/1098706e-57c5-11e6-89e2-c38b8e547f1b.png">

<img width="1113" alt="screen shot 2016-08-01 at 8 50 10 am" src="https://cloud.githubusercontent.com/asse

[2016-08-01 18:52] mschwamb commented on #2841
All 4 suggested projects have this issue

[2016-08-01 19:06] mschwamb opened #2842 "New Zooniverse home page social media Twitter feed isn't up to date"
@parrish not sure if these goes here. There have been three new twitter posts in the past 6 days and they're not showing up on the Social Feed. Does it update daily?

[2016-08-01 19:10] srallen commented on #2841
Good catch. Should be able to have a fix up shortly.

[2016-08-02 01:17] aprajita commented on #2834
Hi all
sorry for not replying am on leave for a while but will send responses to
your questions on wed.
thanks
aprajita.

On 1 August 2016 at 17:15, Marten Veldthuis <notifications@github.com>
wrote:

[2016-08-02 10:15] #2841 closed

[2016-08-02 10:19] alexbfree commented on #2253
Addressed by #2804 - awaiting merge.

[2016-08-02 10:19] #2253 closed

[2016-08-02 10:20] alexbfree commented on #2212
Fixed by #2804 .

[2016-08-02 10:20] #2212 closed

[2016-08-02 10:21] #2248 closed

[2016-08-02 10:21] alexbfree commented on #2249
I don't think there's really anything important to do here so am closing.

[2016-08-02 10:21] #2249 closed

[2016-08-02 15:28] srallen commented on #2834
Summarizing the discussion with @camallen, @hughdickinson: For now, the messaging for sims and duds will be hard coded into a specific component to be used with the summary and the sim information used in comparing with the classification will be a part of the subject metadata.

[2016-08-02 15:36] srallen commented on #2829
New home page is deployed.

[2016-08-02 15:39] parrish commented on #2829
It actually needs to be fixed for the logged-in view as well.

![screen shot 2016-08-02 at 10 38 20 am](https://cloud.githubusercontent.com/assets/122990/17334840/5747ae34-589d-11e6-9516-a286d6a74c48.png)

[2016-08-02 15:42] aprajita commented on #2834
Thanks @srallen. The feedback messages will not be the same per subject so
can you clarify that hard coding means we provide a training subject name
with corresponding success and fail messages.

Sorry @trouille for not responding to your questions  yet will get to it
later.

Thanks
Aprajita.

On Tuesday, 2 August 2016, srallen <notifications@github.com> wrote:

[2016-08-02 15:43] srallen commented on #2829
Good catch. Thanks.

[2016-08-02 15:50] #2836 closed

[2016-08-02 15:51] srallen commented on #2818
@wgranger something to take a look at whenever you have time.

[2016-08-02 15:56] srallen commented on #2814
Related to #2834. Specific hard coded messages are being worked on as initial test cases for PFE projects. This is a feature to come back to.

[2016-08-02 15:58] srallen commented on #2801
@dwright04 Could you comment on this since this is your project? Thanks.

[2016-08-02 16:01] parrish commented on #2830
To clarify, this isn't a Chrome specific bug.

[2016-08-02 16:06] eatyourgreens commented on #2801
Subject layout in the classifier is set by the workflow, but Talk subjects don't have workflows, so I guess the Talk component doesn't know which layout was set for this subject in the project builder.

[2016-08-02 16:20] srallen commented on #2708
@aprajita did you want the side-by-side view to be default for all volunteers or only if a volunteer has selected that view for that volunteer?

[2016-08-02 16:21] srallen commented on #2704
@mcbouslog I'd like this to be done before #2769 is merged. Could you take a look when you're back?

[2016-08-02 16:23] aprajita commented on #2708
Default for all volunteers when they get a new subject but that they can
still choose the flip book mode if they wish.

Although I am not sure what the other option is, do you mean a volunteer
can say I always want to see side by side?
Thanks!
On Tuesday, 2 August 2016, srallen <notifications@github.com> wrote:

[2016-08-02 16:24] srallen commented on #2662
#2704 is still left to do and assigned to @mcbouslog

[2016-08-02 16:26] srallen commented on #2659
New home page design has been implemented. The new slideshow will be dynamic at a later point, but it's not a high priority.

[2016-08-02 16:26] #2659 closed

[2016-08-02 16:30] srallen commented on #2655
This is still an issue. The stats page is now there displaying without stats, but I can't navigate away. The console shows this error: `Uncaught TypeError: Cannot read property '_currentElement' of null`

[2016-08-02 16:31] srallen commented on #2654
This is intentional design.

[2016-08-02 16:31] #2654 closed

[2016-08-02 16:38] srallen commented on #2607
@wgranger this is related to the open PR for moving the drawing mark delete button.

[2016-08-02 16:41] srallen commented on #2591
This looks fixed.

[2016-08-02 16:44] srallen commented on #2585
Closing. Projects mentioned in this issue are fixed. Related issues #2150 and #2363 will remain open.

[2016-08-02 16:45] srallen commented on #2578
@BNewing Could you send a photo and bio for our team page? See above for examples.

[2016-08-02 16:52] chrislintott commented on #2571
Closing for now pending analysis of effect on behaviour.

[2016-08-02 16:52] #2571 closed

[2016-08-02 16:56] mkosmala commented on #2654
That's fine, but I will point out it has made some of my volunteers upset.

[2016-08-02 17:12] parrish commented on #2842
Yeah, this was a stupid mistake on my part.  Fixed [here](https://github.com/zooniverse/Talk-Api/commit/adcc7720b1189886faf12c6ab66b121574a81f23).  Should be up in about an hour.

[2016-08-02 17:12] #2842 closed

[2016-08-02 17:47] srallen commented on #2834
@aprajita Our understanding is that the success message and the failure message is the same for all of the sims. We want to reduce redundancy and it's better fitting for the component that handles the message to contain it there rather than in subject metadata. If the message is unique to each subject, then metadata should be considered. Could you confirm that our understanding is correct?

[2016-08-02 17:51] srallen commented on #2708
@aprajita the volunteer currently cannot set the side-by-side view as default, so we are asking for clarification if that is what your feature request is. The alternative is to have it be a project level setting or to leave as is.

[2016-08-02 17:57] mschwamb commented on #2591
Re-opening - A temp band-aid solution was implemented. Comet Hunters still says 100% complete one of the workflows  because I thinks unchecked and beta test classifications.  All that was added was a note to see the ETC might be wrong. Currently it makes the stats page not helpful and I still need to compute the completion number myself. I think the backend might now have the feature but the stats

[2016-08-02 18:01] mschwamb commented on #2585
Cyclone Center is still not listed  under climate. Poppin' Galaxy was not added to Space. So this is not fixed. Reopening.

![fireshot capture 24 - projects zooniverse_ - https___www zooniverse org_projects](https://cloud.githubusercontent.com/assets/753325/17339374/43a0bcba-5887-11e6-95b6-3c61538b08cc.png)

[2016-08-02 18:05] mschwamb commented on #2585
same thing for Emigrant City, it still has no category.

[2016-08-02 18:06] mschwamb commented on #2150
I think is solved by what closed #1780?

[2016-08-02 19:00] #2829 closed

[2016-08-02 19:04] #2830 closed

[2016-08-02 19:26] #2787 closed

[2016-08-02 19:28] srallen opened #2846 "Add 'menu' to project nav zooniverse logo"
Originally mentioned in [this comment](https://github.com/zooniverse/Panoptes-Front-End/pull/2831#issuecomment-236231882). Add 'menu' to zooniverse logo used in the project level navigation. Related to #2800

[2016-08-02 20:56] srallen commented on #2585
Ack, I thought those were fixed. Thank you.

[2016-08-02 21:11] srallen opened #2847 "Strip out gold standard UI"
The gold standard UI in the project builder and the pulsar hunters feedback should be removed.

[2016-08-02 22:14] mschwamb commented on #2578
@srallen if it's not too much trouble can I also get updated. I've moved positions and institutions. I'm now an assistant scientist at Gemini Observatory in Hilo, Hawaii.  I might cause more issues if I try to update the source code myself.

Taipei-> Hilo

Meg is a planetary scientist and astronomer involved in the Zooniverse's Planet Four, Planet Four: Terrains, and Comet Hunters projects. She al

[2016-08-03 00:19] aprajita commented on #2708
@srallen I hoped my posts on this thread communicate that we would like
volunteers to have the default view of side by side while retaining user
option to view the flip book mode.

I imagined this could be an additional option in the project builder where
the default view between side by side or flip book is selected by the
project team (not the volunteer) and the team can still select the option

[2016-08-03 00:45] aprajita commented on #2834
@srallen In the original Space Warps project we rotated a set of feedback messages for a training image if a particular type. Thus, we had groups of sims with similar messages and the old system picked a message from a set for a given type to make sure the user was seeing different messages (to alleviate boredom!) and mostly to learn something with each sim.

After talking with @marten @camallen @

[2016-08-03 01:14] mschwamb commented on #2787
thanks!

[2016-08-03 09:15] CKrawczyk commented on #2655
I think I know what is going on here, I will get a fix together for this today.

[2016-08-03 09:35] CKrawczyk commented on #2591
@camallen is there a value on the backend that would be more accurate for this than `workflow.classifications_count` (i.e. classification count for live subject sets in a workflow)?

[2016-08-03 09:49] CKrawczyk opened #2849 "infinate copy of page nav element on subject sets page on panoptes-staging"
When developing on `localhost` using panoptes-staging I see the following when I go to the `subjects sets` page:

![subject_set_error](https://cloud.githubusercontent.com/assets/6557526/17361309/c80b196a-5967-11e6-83fa-ad17b65a75ed.gif)

This does not happen in production (as far as I can tell).

[2016-08-03 10:17] eatyourgreens commented on #2849
Does it also happen on `localhost` if you add `?env=production` to the URL?

[2016-08-03 10:32] CKrawczyk commented on #2849
Can't check that since adding `?end=production` means you can't log in and get to the project builder.

[2016-08-03 10:36] #2433 closed

[2016-08-03 12:11] CKrawczyk commented on #2849
I just confirmed this only happens when I am connected via `localhost`, zooniverse.org and master.pfe-preview.zooniverse.org both work as intended.

[2016-08-03 12:38] CKrawczyk commented on #2849
OK, after pointing `local.zooniverse.org` to `127.0.0.1` in my `etc/hosts` file (thanks @camallen for this trick) the issues goes away.

[2016-08-03 13:38] eatyourgreens commented on #2282
Going to close this, since we're moving towards managing subject sets with zooniverse/panoptes-cli

[2016-08-03 13:38] #2282 closed

[2016-08-03 13:41] eatyourgreens commented on #2246
Is @wgranger looking at this now?

[2016-08-03 13:43] eatyourgreens commented on #2241
@vrooje @aliburchard is this still a problem, or can we close this?

[2016-08-03 13:50] eatyourgreens commented on #2242
@vrooje is this still a problem? the check includes the `.` character but I'm not sure if it's being parsed correctly.
https://github.com/zooniverse/Panoptes-Front-End/blob/master/app/pages/lab/subject-set.cjsx#L18

[2016-08-03 14:01] eatyourgreens commented on #2183
Fairly sure this was fixed somewhere along the line.

[2016-08-03 14:01] #2183 closed

[2016-08-03 14:05] camallen commented on #2591
I think we need to change the workflow completeness metric to only use the current linked set state instead of the global counts, e.g. [here](https://github.com/zooniverse/Panoptes/blob/4f4fcd6398a1cf1a0d92483057b28827f53e6cca/app/workers/calculate_project_completeness_worker.rb#L32) should figure out how many of the current set is retired instead of taking the whole workflow lifetime count OR we

[2016-08-03 14:12] eatyourgreens commented on #2034
Closing this in favour of #2834

[2016-08-03 14:12] #2034 closed

[2016-08-03 14:46] srallen commented on #2754
#2804 is now merged.

[2016-08-03 14:46] #2754 closed

[2016-08-03 14:46] wgranger commented on #2246
@eatyourgreens Yep, I've done a bit of work on this already. Hope to have a PR up soon.

[2016-08-03 14:51] eatyourgreens commented on #2107
`index.html` has OpenGraph tags now. https://github.com/zooniverse/Panoptes-Front-End/blob/master/views/index.ejs#L14-L17

[2016-08-03 14:51] #2107 closed

[2016-08-03 14:54] eatyourgreens commented on #1996
@aliburchard did this ever get done?

[2016-08-03 15:23] srallen opened #2852 "Generalized pagination solution"
We should make sure all paginated resources that are returned from the API are properly paginated in the UI. This is related to #2819 and #2752. There's a [paginator component](https://github.com/zooniverse/Panoptes-Front-End/blob/master/app/talk/lib/paginator.cjsx) in the Talk UI code that is used in parts of the site. There are other instances of pagination being written as needed like in [the p

[2016-08-03 22:28] brooke commented on #2183
@itsravenous I am not the brooke you're looking for

[2016-08-04 09:03] #2655 closed

[2016-08-04 11:17] astopy opened #2854 "Project status log broken for Understanding Animal Faces"
[code]

This only seems to affect this project and not others. https://www.zooniverse.org/admin/project_status/pszmhk/understanding-animal-faces

[2016-08-04 12:12] #2854 closed

[2016-08-04 13:44] srallen commented on #2834
Yes, that clarifies this. @hughdickinson perhaps for now subject metadata may be the best place especially if we need to get this in place sooner than later. However, I think @marten brings up some good points and is something to consider for further iteration of this type of functionality.

[2016-08-04 13:45] srallen commented on #2849
I think it's a bug with the hot reloading with webpack.

[2016-08-04 13:56] camallen commented on #2767
yeah - this is terrible. I can't URL hack now in admin mode either. Is this related to the timing of the user authentication module redirecting me as i'm not authenticated, then showing me the labs reload page after the authentication happens?

[2016-08-04 14:00] eatyourgreens commented on #2767
Yeah, I think this check is always going to be true when the component first mounts
https://github.com/zooniverse/Panoptes-Front-End/blob/master/app/pages/lab/project.cjsx#L240

[2016-08-04 14:02] eatyourgreens commented on #2767
See #1809

[2016-08-04 14:10] eatyourgreens commented on #2767
@astopy @camallen there's a branch staged at https://fix-2767.pfe-preview.zooniverse.org/ with that `componentDidMount` method removed.

[2016-08-04 14:17] camallen opened #2857 "Tutorial should allow left / right key navigation"
I felt the left right UI arrows on the tutorial should allow me to nav through the tutorial.

Apparently listeners should be added to this component: https://github.com/zooniverse/Panoptes-Front-End/blob/master/app/components/step-through.cjsx

[2016-08-04 14:19] astopy commented on #2767
Cool, that seems to fix it.

[2016-08-04 14:21] camallen commented on #1953
linking in #2857

[2016-08-04 15:23] alexbfree commented on #2246
just noticed the title is not too clear so i improved the wording.

[2016-08-04 15:29] alexbfree opened #2858 "Add a "..." to project nav bar to stop it breaking onto two lines"
Now that Notifications has been moved into the project bar, and the Collect menu option has been added in Projects too (#2804) , we have the problem that menus are starting to overflow onto two lines in project navs, for projects where custom links have been added:

![screenshot 2016-08-04 16 20 35](https://cloud.githubusercontent.com/assets/1473244/17407502/6bd1aaee-5a5f-11e6-8a2c-43c4d9793bee.pn

[2016-08-04 15:31] alexbfree commented on #2858
Tagging @srallen @parrish @jwbmartin @eatyourgreens who may wish to add your thoughts!

[2016-08-04 15:33] alexbfree commented on #2852
+1 to this. Pagination is something we shouldn't be reinventing!

[2016-08-04 15:35] alexbfree commented on #2251
Am now actively working on this. Developing as separate page but it may get integrated with the existing Recent Comments page.

[2016-08-04 15:44] eatyourgreens commented on #2858
Search should probably be under Talk, rather than top level, since you can't search across a project, only Talk content anyway.

Consistency with the top menu for external links sounds good to me. When the top menu moved those into a dropdown menu, there were some comments on Talk that this made those links difficult to find.

[2016-08-04 15:51] srallen commented on #2858
I agree re: search. Search is needed for Talk, not at a top level. Custom pages and outbound links could probably go under the dropdown. +1 for consistency. Ultimately, I think this is @jwbmartin's call, but we do need to consider for the effect of hiding links under dropdowns or at the site top nav (specifically an issue for notifications). Perhaps some google analytics or geordi tracking can hel

[2016-08-04 16:20] eatyourgreens commented on #2858
If search is useful at the top level, I would consider using `input[type=search]` rather than adding a link to the navigation.

[2016-08-04 16:28] parrish commented on #2858
I agree that search should be only in talk and that the notifications link being iconified will help.

That said, I'd punt on this issue until we verify the click activity on the dropdown -- I strongly suspect it's an unnoticed junk drawer on a menu.

[2016-08-05 07:57] alexbfree commented on #2858
Good point. I will take an action to make sure we have some geordi tracking on those links.

[2016-08-05 07:58] alexbfree commented on #2858
@eatyourgreens this won't be true with the new Project Search per #2252. It will also pull back collections, a bit like the Ouroboros search.

[2016-08-05 11:29] eatyourgreens commented on #1917
Closed by #2199

[2016-08-05 11:29] #1917 closed

[2016-08-05 14:26] marten opened #2859 "Removing the bottom-most external link in the project builder does not trigger XHR"
Weirdly, https://github.com/zooniverse/Panoptes-Front-End/blob/master/app/pages/lab/project-details.cjsx#L69 does not seem to fire if removing the last link.

Steps to reproduce:
- In the project builder, create 3 external links called "one", "two" and "three"
- Refresh the page
- Remove "three" by clicking on the "X". This will remove the link from the DOM, but you will not see a "Loading" indica

[2016-08-05 16:47] alexbfree commented on #2858
Out of interest, let's say we find people are not clicking the "...", what are we going to do about it? We still need some means of having more links than you can fit on the line.. Might be good to start collecting ideas about what that might be... I'm not sure there are any great options in which case the question might be somewhat moot.

[2016-08-05 17:44] alexbfree commented on #2251
Work in progress (functional but unstyled) is at https://recent-page.pfe-preview.zooniverse.org/projects/alexbfree/computer-vision-serengeti/recent?env=production (`recent-page` branch on alexbfree's PFE fork)

[2016-08-06 03:38] trouille opened #2861 "World Wide Telescope bugs"
Testing out Astronomy Rewind and came across a few issues/questions.

1)

I thought we had found a fix for if a volunteer marks the axes numbers inside the box they've drawn around the figure itself. Is that not the case?

In this test (within the old https://www.zooniverse.org/lab/1856/workflow/1700 Workflow 2 for images with sky axes labeled), the WWT button didn't come up as an option when I ma

[2016-08-06 03:42] trouille commented on #2861
The following issues have to do with a new consolidated workflow I made. @wgranger I remember you saying that much of the WWT functionality is hardcoded to go with the existing workflow at that time -- https://www.zooniverse.org/lab/1856/workflow/1700, so it's likely related to me creating a new workflow.

#2)

In this new consolidated workflow (https://www.zooniverse.org/lab/1856/workflow/2371),

[2016-08-06 03:43] trouille commented on #2861
#3)
In this new consolidated workflow (https://www.zooniverse.org/lab/1856/workflow/2371), the other direction in the decision tree is to annotate images that are sky images, with some having axes labeled. But even in this direction of the decision tree, the WWT functionality appears to not work. See the broken image icon in the attached image.

<img width="1256" alt="wwtbutton-broken" src="https:

[2016-08-06 03:46] trouille commented on #2861
#4)
I've created the Astronomy Rewind: Education site. @wgranger you're a collaborator on it. It has a simple workflow just for images that do have axes values and units labeled. But the WWT functionality doesn't work for it either.

[2016-08-06 03:48] trouille commented on #2861
5) Something funky in the metadata that got uploaded with the pilot subject set for Astronomy Rewind. Check out the 'i' for images at https://www.zooniverse.org/projects/zooniverse/astronomy-rewind/classify?workflow=1701

The problem I saw is that the last row, with publication_year, also has an imageURL that looks like it was just included by mistake.  It's the same imageURL in all image's metada

[2016-08-06 17:01] ghewson opened #2862 "Show project background image in Facebook share"
I'm a citizen scientist, and I wanted to share on Facebook the great background image on [Understanding Animal Faces](https://www.zooniverse.org/projects/pszmhk/understanding-animal-faces) (with the possible side-benefit, of course, of getting some additional volunteers for the project). I'm afraid I abandoned the idea.

The only image shown in the Facebook preview was the [general Zooniverse back

[2016-08-06 22:54] wgranger commented on #2861
1) This was originally "fixed" by allowing the classification to continue even if a user placed a mark inside the chart, which confuse the code. The explanation for this is is listed under "Issue with Axis Values" for #2676 .

2) Right. I would assume this bug is popping up because the WWT code is trying to process the annotation based on the steps of the original workflow that was applied to the

[2016-08-07 01:30] trouille commented on #2861
For 1 -- OK. I've added additional wording in the instructions for volunteers to mark the axes values outside their original rectangle. Let's see how this goes when we do the beta test - that will tell us whether we need to spend more time seeing if we can make a true fix for this.

For 2-4: Let's talk Monday -- we'll find a good solution.

For 5: Great -- Hope it's a simple fix!

[2016-08-08 05:31] wgranger commented on #2861
Issue #5 appears to be fixed through the most recent subject upload. (set 5516).

[2016-08-08 09:26] alexbfree commented on #1041
this is now fixed by #2804

[2016-08-08 09:29] camallen opened #2865 "Logged in home page should only show projects a user has contributed to"
https://www.zooniverse.org/talk/17/65759?comment=138573

We need to only show projects from project prefs with active counts (not just projects that have been viewed) [here](https://github.com/zooniverse/Panoptes-Front-End/blob/master/app/pages/home-logged-in.cjsx#L90
). It's the same as the stats page from before #2779.

[2016-08-08 09:32] eatyourgreens commented on #1868
Re-opening this for @alexbfree now that we have the ability to send PMs from specific projects.

[2016-08-08 09:32] alexbfree commented on #1868
@eatyourgreens and I discussed this a bit (see https://zooniverse.slack.com/archives/general/p1465311829000085 and https://zooniverse.slack.com/archives/dev/p1470647316000554), I think there is something we can do here so am reopening.

We should tag messages by project, like Ouroboros does:
![screenshot 2016-08-08 10 20 15](https://cloud.githubusercontent.com/assets/1473244/17475517/50c245dc-5d53

[2016-08-08 09:34] alexbfree commented on #1868
i am unlikely to have any bandwidth for this so anyone else can feel free to jump in

[2016-08-08 14:56] parrish commented on #1868
Talk doesn't support this, nor do I think it should.  If moderators want to have project-specific conversations in private, they should use a private board for it.

[2016-08-08 15:17] eatyourgreens commented on #1868
This was more about mods having some indication of where a PM came from when a volunteer PMs them asking for help, for example.

At the moment, you can't easily figure out which projects requests came from, particularly if you have a busy inbox.

Personally, I'd be fine with prefixing the project name to the subject line when the message is sent from the message form within a project.

[2016-08-08 16:08] eatyourgreens opened #2866 "User profile links are inconsistent within a project's Talk pages"
If you click on a username from this page, https://www.zooniverse.org/projects/alexbfree/computer-vision-serengeti/talk/115 it will take you to a user profile page for that project https://www.zooniverse.org/projects/alexbfree/computer-vision-serengeti/users/StarwatcherHB

On other Talk pages, the username links back to the top-level Zooniverse profile
https://www.zooniverse.org/projects/alexbfree

[2016-08-08 16:54] jwbmartin commented on #2846
Still trying to decide how best to tackle this situation so hold on

[2016-08-08 17:47] camallen commented on #2846
should we quickly try a couple of solutions and see what the users like?

[2016-08-08 17:50] jwbmartin commented on #2846
That's not a bad idea. Part of me is feeling like we should just substitute the zooniverse logo for just a regular ol' hamburger menu icon
![screen shot 2016-08-08 at 12 49 53 pm](https://cloud.githubusercontent.com/assets/14332849/17490060/aaa1e7c0-5d66-11e6-98cd-c800a0f7776a.png)
![screen shot 2016-08-08 at 12 49 59 pm](https://cloud.githubusercontent.com/assets/14332849/17490061/ac73104c-5d66-1

[2016-08-08 17:51] camallen commented on #2846
personally makes sense to me (that icon means menu to me).

[2016-08-08 17:52] jwbmartin commented on #2846
Yeah it loses the original concept I had but, at this point, I haven't come up with any better options and I just don't care anymore.

[2016-08-08 17:54] camallen commented on #2846
Can you find someone states side to work on this for you? If you can't assign it to some dev's here and we'll try and get cracking on it tomorrow.

[2016-08-08 17:56] jwbmartin commented on #2846
@mcbouslog or @wgranger would you have time to deal with this?

[2016-08-08 19:39] simensta opened #2867 "Rotate Image Tool"
Add the ability to rotate an image as a part of the Pan and Zoom component.

[2016-08-08 20:37] trouille commented on #2846
@mcbouslog and @wgranger full today on a couple assignments. I've assigned @eatyourgreens to see if he or someone else in Oxford in their workday tomorrow can take it on. Otherwise we'll pick it up Tuesday morning Chicago time and find a person to go in and make the change.

[2016-08-09 01:35] vrooje commented on #2242
I haven't actually tried it in a while - need me to run some tests?

[2016-08-09 01:35] vrooje commented on #2241
I haven't tried uploading subjects in a while so I'm not sure - maybe Ali has done so more recently?

[2016-08-09 06:38] mschwamb opened #2868 "New project centric collection pages don't autoscroll to the top when you advance to the next page"
You stay on the bottom in the browser where the page toggle buttons are instead of moving to the top of the page automatically so you can see a new page is shown.
See https://www.zooniverse.org/projects/mschwamb/comet-hunters/collections?page=2 and advance to page 3

Just tried in firefox

[2016-08-09 06:43] mschwamb commented on #2846
@ jwbmartin I really like your screen grabs. If that's what's being implemented, I think it alleviates all of the concerns and issues I have recently raised about the zooniverse level navigation bar redesign.

[2016-08-09 07:10] mschwamb opened #2869 "Make the whole collections preview on a Talk subject page a clickable link to the collections"
I find that I'm always trying to click on the image preview of the collection on a Talk subject page to get to the collection, but that's not the link. The hyperlink is the name of the collection. I think it would be helpful if you could also click on the image preview and it could take you to that specific collection as well.

I've highlighted in cyan what I mean:
on (https://www.zooniverse.org/p

[2016-08-09 07:12] mschwamb opened #2870 "Have a Zooniverse wide notification that will not load"
<img width="1157" alt="screen shot 2016-08-08 at 9 11 56 pm" src="https://cloud.githubusercontent.com/assets/753325/17507704/de747dba-5dac-11e6-9d1f-017f78e90058.png">

[2016-08-09 09:43] eatyourgreens commented on #2846
Hamburger icon on projects is staged at https://fix-2846.pfe-preview.zooniverse.org/
I'm not sure if it's confusing on mobile, where the hamburger icon opens the main menu.

[2016-08-09 09:53] alexbfree commented on #2866
Thanks. the former behaviour is the correct one. must have missed some - will take a look.

[2016-08-09 09:58] alexbfree commented on #2866
Note from Jim:

https://github.com/zooniverse/Panoptes-Front-End/blob/master/app/talk/comment.cjsx#L176 https://github.com/zooniverse/Panoptes-Front-End/blob/master/app/talk/comment.cjsx#L135

Need to check for others.

[2016-08-09 09:59] camallen commented on #2846
@eatyourgreens working for me when i'm viewing a project page (desktop only) but i think the behavior is a little inconsistent. When at zoo wide level i see all my data

[2016-08-09 10:05] eatyourgreens commented on #2846
So the Account Bar/Login Bar component should always be visible?
https://github.com/zooniverse/Panoptes-Front-End/blob/master/app/layout/site-nav.jsx#L228
I'll have a look.

[2016-08-09 10:09] camallen commented on #2846
sorry - need more coffee today. I guess re the code links, i think just hiding the main zoo wide links was the final aim but showing the user / notifications status is key (IMHO) to fixing this.

[2016-08-09 10:14] eatyourgreens commented on #2846
You can still tab to the main nav links when they're hidden too, so they've only been hidden visually, not actually removed from the UI. That's confusing.

[2016-08-09 10:32] eatyourgreens commented on #2846
@camallen I've updated staging so that the account bar is always visible. There's an annoying jump to the left when the icon changes from hamburger to Zoo logo, and mobile looks too crowded in my opinion. Otherwise should be good.

[2016-08-09 10:54] alexbfree commented on #2719
linking to #2852 and  #2868

[2016-08-09 10:55] alexbfree commented on #2868
linking to #2852 and #2762

[2016-08-09 10:58] alexbfree commented on #2868
This is not a regression. Looks like this was never working on collections whether zoo-wide or in project context. It seems this a general issue. Also applies on Zoo-wide collections (zooniverse.org/collections), and on the zooniverse.org/projects page. So it looks like we need to solve this generally. Which we should do in #2852 .

I'll add a note to #2852 and close this as duplicate.

[2016-08-09 10:59] alexbfree commented on #2852
Per #2868 , we should ensure that the generalized pagination solution correctly auto-scrolls to top of page (which currently happens for Talk pages, and project Talk pages, but not for collections, project collections, and lists of projects)

[2016-08-09 11:01] alexbfree commented on #2719
Just confirming this is not related to Geordi integration. It's a general issue which we'll need to address in #2852

[2016-08-09 14:17] srallen commented on #2868
Fixing scroll to top with react router isn't the same as building a generalized pagination solution and I don't think they should be conflated together. One is straight forward to fix, while the other would presumably take a bit more time.

[2016-08-09 14:37] astopy opened #2873 "Submenu looks odd on mobile"
Ideally we should show this as a single list on mobile:

![img_0290](https://cloud.githubusercontent.com/assets/428423/17520293/1f8a1f18-5e47-11e6-80d9-d507c48b2d9f.jpg)

[2016-08-09 14:38] astopy commented on #2873
Note that the screenshot is from #2871 but it's the same in the deployed version.

[2016-08-09 14:58] srallen commented on #2852
Adding scroll behavior middleware is a generalized solution needed for the router, not for pagination. See #2762. Scroll to top fixed in #2874

[2016-08-09 16:07] #2762 closed

[2016-08-09 16:12] eatyourgreens commented on #2868
Closed by #2874

[2016-08-09 16:12] #2868 closed

[2016-08-09 16:48] alexbfree commented on #2869
Good idea! There should be a clickable bounding area around the photos which you can click. the images themselves shouldn't link to the subjects.

I might look at this while addressing #2251 which uses the same collection preview component.

[2016-08-10 06:31] mschwamb commented on #2719
this looks to be fixed now so closing.

[2016-08-10 06:31] #2719 closed

[2016-08-10 09:32] alexbfree commented on #2825
related: https://github.com/zooniverse/Panoptes-Front-End/issues/2858

[2016-08-10 12:55] #2865 closed

[2016-08-10 14:33] eatyourgreens commented on #2870
My notifications are doing this too. The message that won't load is a test message from @simensta  on Sunday. Console log shows `TypeError: Cannot read property 'then' of undefined` so something is going wrong with a promise somewhere.

[2016-08-10 14:36] trouille opened #2881 "Make zooniverse.org/publications discoverable"
I don't think there's a way currently to find zooniverse.org/publications from links at ZooHome or other.

[2016-08-10 14:47] eatyourgreens commented on #2881
It moved to the About section: https://www.zooniverse.org/about/publications

[2016-08-10 14:48] trouille commented on #2881
Well that was easy to find. Ok, I'm going to close this issue. Thanks @eatyourgreens

[2016-08-10 14:48] #2881 closed

[2016-08-10 21:50] jschell42 commented on #2867
there's a pan and zoom component? :)

[2016-08-10 21:52] jschell42 opened #2883 "Confused Pairs .csv"
Hi, wondering if it's possible to have more than one animal be in the "confused pair" category. So, coyote is often confused with wolf, domestic dog, etc, and have more than one show up. Each time I've tried this on project #2834, i've only been able to do one and having more seems to break the project. I do see this functionality on the Camera Catalogue project, so wondering if that was a custom

[2016-08-10 23:27] mschwamb commented on #2870
cc @parrish

[2016-08-10 23:30] mschwamb commented on #2834
We're looking for feedback on Comet Hunters where when we in the future put in simulated comets that there would be a message after classification that notifies then volunteer that they saw a sim like Planet Hunters/Planet Hunters 2 does.  If it's useful to hear another use case, the Comet Hunters team is happy to give input on the notifications feature.

[2016-08-11 08:46] aliburchard commented on #2883
@jschell42 You can find instructions for this here: https://www.zooniverse.org/projects/aliburchard/cameratraptest/about/faq

and you can post building related questions on the talk board, either for cameratraptest or the general project builder talk boards at www.zooniverse.org/talk/18

[2016-08-11 08:46] #2883 closed

[2016-08-11 11:51] alexbfree commented on #2578
@melaniebeck can you shorten yours please? It needs to fit on three lines:
![screenshot 2016-08-11 12 50 31](https://cloud.githubusercontent.com/assets/1473244/17587795/48c01dc0-5fc2-11e6-81b5-c6740228f008.png)

Also, we still need an image.

[2016-08-11 11:55] alexbfree commented on #2578
Still need profiles and images from @dwright04 @amyrebecca @BNewing

[2016-08-11 11:56] camallen commented on #2578
@alexbfree #2872

[2016-08-11 11:58] alexbfree commented on #2578
thanks cam, will look

[2016-08-11 13:38] alexbfree commented on #2578
can close this now, addressed via #2886

[2016-08-11 13:56] melaniebeck commented on #2578
Now with more shortness:
A PhD student at the University of Minnesota, Melanie works on combining
machine learning with volunteer votes for classification tasks on the
Galaxy Zoo project with the goal of classifying *billions* of galaxies that
future telescopes will see.

As for image, is it a terrible burden to black-and-white and crop it
yourself? If not, I can doctor it up in a couple hours aft

[2016-08-11 14:08] #2866 closed

[2016-08-11 15:17] jwbmartin commented on #2846
Looking pretty good @eatyourgreens ! I feel that the username-notifications-hamburger menu should align with the rest of the nav bar when the Zooniverse top-level nav is collapsed and it's a little close to the right margin of the page so you might want to scooch everything in a little but.

[2016-08-11 15:27] eatyourgreens commented on #2846
@jwbmartin Yeah, there's a top margin somewhere which is throwing everything out of line. I'm also seeing an annoying jump to the left, when the top-level nav opens up, because the hamburger icon and the Zooniverse logo are different widths.

@wgranger I'm not sure what's going on with IE11 but I changed the styling on that icon to be consistent with the one that opens the mobile menu. That might

[2016-08-11 15:32] #2870 closed

[2016-08-11 16:02] eatyourgreens commented on #2846
@jwbmartin I've reduced the top margin on the project navigation: https://fix-2846.pfe-preview.zooniverse.org/projects/eatyourgreens/-project-testing-ground

[2016-08-11 18:52] #577 closed

[2016-08-11 18:52] #1848 closed

[2016-08-11 18:53] jwbmartin commented on #2501
Working on creating new template ideas for Project Builder projects so a lot of this will change so I'll be closing a lot of issues about this.

[2016-08-11 18:54] #2501 closed

[2016-08-11 18:54] #2800 closed

[2016-08-11 23:31] alexbfree commented on #2578
OK @melaniebeck that's fine - am updating yours and adapting your github image, as part of #2886.

[2016-08-12 08:53] #2767 closed

[2016-08-12 09:04] aprajita opened #2888 "Cloning markers when marking in multi-image per subjects"
Hi there

In our SpaceWarps demo site, several early testers have found it confusing that if they place a marker in one image it doesn't appear in all three images shown (either in multiple image view or flip-book mode).

In our case all images per subject contain exactly the same area, so in this case placing a marker somewhere in one of the images applies to all images and the testers would have

[2016-08-12 10:12] eatyourgreens commented on #2888
I think this would break [Solar Stormwatch II](https://www.zooniverse.org/projects/lepnoir/solar-stormwatch-ii/classify), which relies on marking the individual frames separately.

[2016-08-12 11:46] aprajita commented on #2888
OK thanks @eatyourgreens
Could a 'clone markers in all subject images' option in the project builder be a possibility?
Thanks.

[2016-08-12 12:03] eatyourgreens commented on #2888
Possibly. Looks like this check against the frame number here would have to be overridden, but in such a way that existing projects don't break: https://github.com/zooniverse/Panoptes-Front-End/blob/master/app/classifier/tasks/drawing/markings-renderer.cjsx#L46

[2016-08-12 12:09] eatyourgreens commented on #2867
@jschell42 it's available as an experimental feature. You can see it in action on [Decoding the Civil War](https://www.zooniverse.org/projects/zooniverse/decoding-the-civil-war) and [Notes from Nature](https://notesfromnature.org), and the javascript code is here: https://github.com/zooniverse/Panoptes-Front-End/blob/master/app/components/pan-zoom.jsx

[2016-08-15 15:38] mkosmala opened #2891 "Request: List of volunteer contributors/authors"
Some older Zooniverse projects have a page that lists volunteers that contributed to particular project. I would like to properly acknowledge Panoptes volunteers in my publications, but I don't currently have a way to do so. Can we please have a volunteer contributors page (for those who opt-in obviously)?

[2016-08-15 15:41] wgranger opened #2892 "Include Dates for Each Publication"
Currently, each publication contains a `citation` and `href`, but finding recent publications for the new logged-in home page would be easier if each publication also contained a date.

[2016-08-15 15:57] camallen commented on #2891
We the information via the UserProjectPreferences. @mrniaboc what were the previous policies on publishing volunteer names? We can add a field to allow users to opt in/out to publish their names on a page like this too.

[2016-08-15 16:53] camallen commented on #2862
hi @ghewson I agree that this would be nice and we're looking into this but it's not a high priority.

[2016-08-16 15:51] #649 closed

[2016-08-16 16:00] srallen commented on #296
Closed by #2816

[2016-08-16 16:00] #296 closed

[2016-08-16 16:06] srallen opened #2895 "Replace AutoSave component with modal form"
One of Brian's suggestions before he left: replace the AutoSave component in the project builder where appropriate with a modal form with an explicit save and cancel button and a place in the UI for error messaging. This would greatly improve the UI/UX for project builder. The field guide editor currently does this and can be looked as an example for implementation.

[2016-08-16 20:05] #2643 closed

[2016-08-16 21:29] mschwamb commented on #2895
related to #581

[2016-08-16 21:41] mschwamb commented on #2891
@camallen that entry is already asked for for Zooniverse registered users. The Real name entry. The explicit text associated with that is: 'We’ll use this to give you credit in scientific papers, posters, etc' and there was a previous version of that on Ouroboros.

@mrniaboc can confirm My understanding was that previous policy was that the real name  entries were listed on projecturl/authors Exam

[2016-08-16 21:50] mschwamb opened #2896 "Add ability to switch subject sets on an active workflow without having to to make the workflow inactive"
Following discussions in https://github.com/zooniverse/Panoptes-Front-End/pull/2889
It would simpler for project owners and collaborators if they could check and uncheck subject sets to make them linked to an active workflow without having to leave the workflow page. @camallen says the api already supports this. cc @srallen

[2016-08-17 00:42] mschwamb opened #2897 "add an example of a subject with metadata that only shows up on talk with the ! in the header on Kitteh zoo"
@mrniaboc and @vrooje it would be good to add an example of the new metadata option in Kitteh Zoo so it is complete.  If you have a ! in front of the header column name, then the column shows up in Talk but no in the classification interface when you hit the metadata button. There's no example or mention of that in the Kitteh Zoo tutorial. Happy to help, but not sure how to for this.

[2016-08-17 09:26] camallen commented on #2891
@mschwamb understood but should we explicitly ask people to opt (like emails) in to this or should we just credit people automatically?

[2016-08-17 12:44] yshish opened #2898 "Impossible to set the range of classification stats as needed. The page reloads and scrolls up before I finish the setting."
When I click to change the range of Classification Stats graph the page reloads and scrolls up before I finish setting the range. It happens too soon, there is actually no time for setting the range as the page reloads and scrolls up immediately as the cursor starts moving even before it gets to the needed place and even before I release the pressed mouse button. It means that I don't see the curs

[2016-08-17 13:06] camallen commented on #2898
@CKrawczyk thoughts?

[2016-08-17 13:22] CKrawczyk commented on #2898
It looks like the front-end now scrolls back to the top whenever the URL is changed, since the stats page updates the URL every time the range is set (to create a permalink to the selected range), it keeps scrolling up.

I will look into this later this week unless somebody else gets to it sooner

[2016-08-17 13:27] yshish commented on #2898
Thanks!

[2016-08-17 14:20] srallen commented on #2898
@CKrawczyk I added react router scroll middleware to close the issues where this behavior was desirable (pagination). Check out its readme for writing a custom scroll handler so certain routes can be skipped: https://github.com/taion/react-router-scroll

[2016-08-17 16:48] mschwamb commented on #2891
@camallen the real name/publishable name is optional (though on the form you might want to add 'required' on the other fields so its more obvious)  Do you want me to put a separate ticket up?

<img width="645" alt="screen shot 2016-08-17 at 6 44 13 am" src="https://cloud.githubusercontent.com/assets/753325/17745112/5292c61c-6446-11e6-9462-136dc1183a7d.png">

 It doesn't have to be filled in  (and

[2016-08-18 15:02] #2686 closed

[2016-08-20 21:07] mschwamb opened #2905 "Disable the metadata button if there is no metadata to show"
Currently if you have no metadata you can get this when you click the metadata button:

<img width="1128" alt="screen shot 2016-08-20 at 11 03 44 am" src="https://cloud.githubusercontent.com/assets/753325/17833873/d33eb074-66c5-11e6-8587-733232c2eb43.png">

I'm not sure how easy this is for the interface and Talk to check when the subject is shown. If the subject viewer can check if there is metad

[2016-08-21 10:23] MvGulik opened #2906 "SETTINGS & COLLABORATORS links are broken for FAVORITES."
SETTINGS & COLLABORATORS links, in FAVORITES(_only_) collection's:

Are using:
`https://www.zooniverse.org/` **favorites** `/<user>/<favorite>/...`
`https://www.zooniverse.org/projects/zooniverse/<project>/` **favorites** `/<user>/<favorite>/...`

While they should be using:
`https://www.zooniverse.org/` **collections** `/<user>/<favorites-title>/...`
`https://www.zooniverse.org/projects/zoonivers

[2016-08-22 10:49] camallen commented on #1050
https://www.zooniverse.org/projects/birgus2/western-shield-camera-watch/talk/372/62840?comment=151724

just noting how confusing the current banners are and that this part of the UX needs some love.

[2016-08-22 19:57] #2861 closed

[2016-08-23 09:26] mschwamb opened #2907 "hide the '!' for Talk metadata if the column head in the metadata file has a '!'"
With the new feature to have metadata that only shows in Talk it looks a bit weird when you view it to have the '!' If that could be removed from the string when displayed it would look nicer.  cc @parrish

<img width="1153" alt="screen shot 2016-08-22 at 11 21 34 pm" src="https://cloud.githubusercontent.com/assets/753325/17886907/af1dafc8-68bf-11e6-9523-0db3c6ab73f7.png">

[2016-08-23 11:08] astopy opened #2908 "Home page video starts playing when you're logged in..."
...if it takes too long to figure out that the user is actually logged in.

We're effectively wasting people's bandwidth by downloading the video when we're not going to play it.

[2016-08-23 13:12] mrniaboc opened #2909 "Tutorial persists if you press back button"
I'm seeing project tutorials persisting when I go back on Chrome.

![image](https://cloud.githubusercontent.com/assets/5321335/17892946/a03adc5c-693b-11e6-9962-7b00ba33cf96.png)

[2016-08-23 14:05] srallen commented on #2909
Mini-courses should be checked for this bug too.

[2016-08-23 14:55] alexbfree commented on #2906
Thanks for reporting this, I will take a look.

[2016-08-23 21:11] mschwamb commented on #2907
Thanks @parrish

[2016-08-24 09:38] astopy opened #2912 "Glossary page"
We use a lot of terminology which isn't obvious to new users. Having a glossary would be super helpful.

[2016-08-24 13:00] eatyourgreens opened #2913 "Alt text for survey task filter icons doesn't display when icon is missing"
Survey task filter icons correctly show alt text when images don't download (see screenshot.)
![image](https://cloud.githubusercontent.com/assets/59547/17931328/d0a60b7e-6a02-11e6-8b7f-823dc218449f.png)

During @mrniaboc and @aliburchard's demo of the survey task today, the filter boxes showed up as blank grey squares if the filters were set up with text but no icon files were uploaded. We should

[2016-08-24 14:02] eatyourgreens commented on #2913
Test project to reproduce that bug here: https://www.zooniverse.org/projects/mrniaboc/zooniverse-go/classify (Try the 'Hair' filter.)

Looks like the filter button elements are empty if no filter icons were uploaded.

[2016-08-24 14:28] wgranger commented on #2246
What is "fire" referring to?

[2016-08-24 15:02] aliburchard commented on #2913
also, I think it's worth noting that there are two ways for these to be image-less:
1) if no image is specified in the characteristics.csv header because the team doesn't have one (so like=cat/dog instead of like=cat/dog; catdog.svg)
2) if the team has specified an icon image, but hasn't actually uploaded one.

[2016-08-24 15:05] aliburchard commented on #2283
@mcbouslog this is something we might want to keep an eye on. If the csv uploader doesn't rewrite all existing workflow data, this might still be an issue.

[2016-08-24 15:07] eatyourgreens commented on #2913
I think `if value.image?` here needs an `else` for the case where the image doesn't exist. Probably something as simple as `else value.label`.
https://help.github.com/articles/syncing-a-fork/

[2016-08-24 15:21] aliburchard commented on #2256
@chrislintott good news is that this seems to be the only lingering *incorrect* in-line help text on the editor because @marten very kindly helped me edit the markdown for the others.

@mcbouslog - we'll probably want to revisit some of the help text with the fancy new editor -- wondering if you'd be game to tackle this in the process? (Maybe we can do it all together when I'm in Chicago next mont

[2016-08-24 15:28] mcbouslog commented on #2256
Definitely want revisit the help text, and I'd be happy to help! If I can't get to sooner, while you're in Chicago would be a great time to work on together.

[2016-08-24 15:42] aliburchard commented on #2256
sweeeeet!!

[2016-08-24 21:45] #2892 closed

[2016-08-25 13:56] aliburchard commented on #2623
I'm going to say that this is closed for now with @mcbouslog's error reporting!

[2016-08-25 13:56] #2623 closed

[2016-08-25 14:06] aliburchard opened #2917 "Sub-task editor needs clear save function (or else to communicate that you just hit "x")"
I think adding sub tasks is a bit confusing at the moment, because it's not clear when a task has actually been added. I realize it uses the same auto-save as the rest of the editor, but since it's a pop-up, I keep finding myself hitting the "add task" button to close and save the new sub-task -- and of course, that simply adds _another_ sub-task.

![screen shot 2016-08-25 at 15 01 54](https://clo

[2016-08-25 14:28] aliburchard opened #2918 "remove pop up on new project creation?"
There's now a modal that asks project builders to enter a name and description when they click "new project." I find that this creates a barrier to entry because project builders suddenly get stuck on what to name their project and how to describe it, instead of just diving into the building.

[2016-08-25 16:11] srallen commented on #2917
Related to #2895

[2016-08-25 19:32] #2846 closed

[2016-08-25 20:14] #2907 closed

[2016-08-25 20:31] alexbfree commented on #2907
How interesting, I didn't even know about that feature. Was it announced/documented anywhere?

[2016-08-25 20:45] #2898 closed

[2016-08-25 20:58] mschwamb commented on #2907
@alexbfree it's new. It's now in the project builder help I added a PR request that got merged and #2904 addresses it in the other help documentation.

[2016-08-26 17:53] jwbmartin commented on #2251
I definitely agree with what @marten had said in Slack that the buttons could use some styling but I guess what I'm more concerned about is this something that users actually use or just the research team? I guess that is more a question for @mrniaboc?

[2016-08-27 08:40] yshish commented on #2898
It's working perfectly for me. Thanks! :)

[2016-08-27 21:32] mschwamb commented on #2251
@alexbfree is this replacing the recent comments page on Talk?   All the closed ticket of mine, @parrish and Alex W addressed in Talk and the Recent Comment Talk Page. I'm not sure how this serves a different purpose. Also @parrish made specific design decisions in the Recent Comments page to address some of the feedback on the previous Talk Recents page which I've found incrediably useful. Maybe

[2016-08-28 09:56] yshish opened #2921 "Last visited project pictures don't load on https://www.zooniverse.org/"
When I load https://www.zooniverse.org/ the four last visited project pictures don't show up. The browser console shows this error:

I tried load it signed in and then again after I signed out and signed in back again. The result was the same.

I used incognito window in Chromium 48, Ubuntu.

[2016-08-28 10:03] yshish commented on #2921
Oops, that error message has probably nothing to do with that as it mentions this video link: https://www.zooniverse.org/assets/home-video.ogv

But it shows also these two errors:

Failed to load resource: the server responded with a status of 401 (Unauthorized) https://www.zooniverse.org/oauth/token

Failed to get bearer token
vendor-beb57659d335131a9500.js:12

[2016-08-28 10:58] camallen commented on #2921
I think this has todo with projects that have been turned to private after you've beta tested them. We can do more filtering on this before we attempt to show the project cards.

[2016-08-28 11:13] yshish commented on #2921
Not sure how you mean that, the project pictures which didn't load for me are for Penguin Watch, Chimp&See, Science Gossip, Snapshot Serengeti. When I display my personal stats (the ribbon) all project pictures are there, even these four.

I've just tried to make a classification to Plankton portal and reload the Zooniverse home page. The PP was the only one which displayed there, but the three ot

[2016-08-28 11:41] camallen commented on #2921
The last set of error messages are expected if you are signed out.

How do you know which projects should be displayed if you can't see them....? Can you provide a screenshot perhaps?

[2016-08-28 11:59] eatyourgreens commented on #2921
Sounds like an error fetching the project avatars. Recent projects makes separate API calls for those.

I did a couple of classifications for Science Gossip and the picture shows up on my phone.

[2016-08-28 12:00] eatyourgreens commented on #2921
![image](https://cloud.githubusercontent.com/assets/59547/18033514/4a754bda-6d1f-11e6-9efd-6d3f803c454f.png)

[2016-08-28 13:27] yshish commented on #2921
This is what I see - it displays the project names but not the pictures:

https://drive.google.com/file/d/0B3yzHuLZuyBnSEU5UDFvMWdDZ0U/view?usp=sharing

[2016-08-28 13:38] eatyourgreens commented on #2921
No project owner names there either, so I think `getDetails()` is failing in the Project Icon component. https://github.com/zooniverse/Panoptes-Front-End/blob/master/app/components/project-icon.cjsx

[2016-08-28 14:09] camallen commented on #2921
@yshish any chance of a screenshot of the network console outputs? The project / owner name / avatar calls are some of the later ones on that page (try clearing the network console and reloading to get a fresh view).

[2016-08-28 14:30] yshish commented on #2921
Here you are:
https://drive.google.com/file/d/0B3yzHuLZuyBnLUx3c1RZSGExUTg/view?usp=sharing

[2016-08-28 14:45] camallen commented on #2921
Thanks ;) pretty close but can you provide the network logs instead of the straight console output? Feel free to just replace the link you've posted above...

It's the network tab near the console in dev tools e.g.
<img width="666" alt="screen shot 2016-08-28 at 15 43 59" src="https://cloud.githubusercontent.com/assets/295329/18034490/522f639e-6d36-11e6-9327-415f7f75f9cd.png">

[2016-08-28 17:51] camallen commented on #2921
Thanks for the network details @yshish it all looked fine. I've reproduced this by classifying on the chimp & see site and got this error `Uncaught (in promise) TypeError: Cannot read property 'href' of undefined(…)`

I think this is happening where the recent project is clashing with the featured projects (chimps is a featured project) and the data is being pulled out of the cache but it doesn't

[2016-08-28 20:01] mschwamb commented on #2912
@astopy  for project builders -  like what's a workflow, classification, metadata, subject,  API, etc?

Happy to help with this if there's someone from the Zooniverse core team that can work with me on this. @astopy maybe we can come up with a list of terms and I can slowly come with definitions for you to review when I have a free time?

[2016-08-28 20:09] mschwamb commented on #2825
one note - there are two sets of notifications zoonvierse wide and project level so perhaps there 's one notifications icons (one on the Zooniverse bar) and one on the project bar?

[2016-08-29 14:18] srallen commented on #2921
@wgranger can you check to make sure the new signed in version of the home page doesn't have the same caching issue?

[2016-08-29 16:20] alexbfree commented on #2782
@srallen Just discussed with @trouille: Yes it absolutely does, I still have concerns about the quality and coverage of the logged data. Planning to do this early next week (w/c 5 Sep)

[2016-08-29 19:38] alexbfree commented on #2912
I think it's a great idea. It should be aimed at volunteers too not just project builder.
A few other terms that could be included: project, export, aggregation, annotation, marks, tools, tasks, gold standard, collection, favorites, favorites collection, user profile, project owner, research page, FAQ...

[2016-08-30 06:52] mschwamb opened #2926 "are email notifications working?"
I know the email system switched over to a new one. I noticed that I didn't get a email when I get mentioned in [this](https://www.zooniverse.org/projects/mschwamb/planet-four-terrains/talk/29/82918?comment=156192) thread.  I pretty sure I didn't get an email and checked my trash and spam folders. Thought I'd mention it in case there was something hiccup with email notifications and the new email

[2016-08-30 09:48] astopy commented on #2912
@mschwamb That'd be great if you can help with that.

I think we've got a fairly decent list of terms to start with there.

[2016-08-30 10:05] camallen commented on #2926
Looks like emails are being sent ok, @mschwamb can you please double check the email notification settings for your account?

[2016-08-30 10:24] eatyourgreens commented on #2921
#2882 updates Recent Projects to use the project cards API call, at the expense of losing the owner names from the cards.

[2016-08-30 10:31] eatyourgreens commented on #2921
@camallen could you raise an issue on [zooniverse/json-api-client](/zooniverse/json-api-client) about caching? I think the API client caches resources by type and ID. Maybe `projectCard` needs to be a distinct resource type from `projects`, otherwise the API client is going to expect the resources returned by that call to match the resources returned by any other `projects` request.

[2016-08-30 14:18] #2704 closed

[2016-08-30 14:24] parrish commented on #2926
Hmm... I found the notification.  It's marked as delivered.  Maybe check your spam folder?

[2016-08-30 14:49] wgranger commented on #2921
@srallen I think we're good on the new signed in version. The cards flag isn't being used, so the resources should have full info.

[2016-08-30 15:01] eatyourgreens commented on #2921
@wgranger I don't know if this overlaps with what you've been doing but #2928 optimises those calls by loading in the avatars and owners when the projects are requested.

[2016-08-30 15:09] srallen commented on #2921
Ok, I'll look it over again. I only did a pass on the javascript yesterday, so I still need to review the CSS.

[2016-08-30 15:10] srallen commented on #2921
Just realized this is the issue about caching and not the signed in page PR... so my comment doesn't totally make sense.

[2016-08-30 16:17] #2290 closed

[2016-08-30 18:07] mschwamb commented on #2926
Yep. checked my email settings first, but the scenario @parrish mentioned is what happened. I didn't realize that bit that if I've seen it on the notifications page and hit read, it wouldn't send the email the next day if you  don't have immediate non-read notifications. That might very well be me being stupid, but would it be a worth a note in email preferences section about that?

[2016-08-30 18:46] wgranger opened #2929 "Create Hash for User with WWT"
## Expected behavior
Create Hash for User with WWT

## Current behavior
_Please include any error messages from the browser console and/or screenshots_
This is not working if a user is not logged in.

## Steps to replicate

## Additional information
Hash should be created regardless of username.

- **Operating system:**
- **Browser:**

[2016-08-30 20:40] #2929 closed

[2016-08-31 01:20] bruggsy commented on #2834
Hi, jumping in because of this:

Is this still broken? If so, is there a way other than expert mode to upload gold classifications? I looked in the API docs but there is no mention on how to specify an uploaded classification as 'gold'.

[2016-08-31 10:08] camallen commented on #2834
@bruggsy we're moving to known gold standard subjects having a metadata field to drive the UI feedback but we haven't figure out how this will work for all projects yet.

You can get experts in your project to classify to create gold standard classification data for use in custom aggregation, etc right now if they have a owner, collab, expert role and they use the classify UI to enter "Gold Standa

[2016-08-31 11:55] #2926 closed

[2016-08-31 14:23] trouille commented on #2526
@mrniaboc Following Meg's thread to the duplicate issue, do you know where to get the content for this? I.e., the list of translators who have contributed?

[2016-08-31 15:03] #2662 closed

[2016-08-31 15:05] jwbmartin commented on #2798
@eatyourgreens is this similar to the issue we were talking about in Slack?

[2016-08-31 15:10] jwbmartin commented on #2858
I agree with @parrish and I would say let's pull the "Contact Us" out of About make a "Contact" link and add links to the blogs within that. It's pretty standard to throw contact info, social media, and blog links under one Contact link.

[2016-08-31 15:12] jwbmartin commented on #2873
I agree and think that this could be easily fixed if we consider my suggestion in #2858

[2016-08-31 15:16] eatyourgreens commented on #2798
@mschwamb is this still a problem? I can't reproduce it, in an incognito window in Chrome. If I close the top bar, it stays closed when I click on links.

[2016-08-31 17:19] #2819 closed

[2016-08-31 18:44] mschwamb commented on #2798
@eatyourgreens Looks like some of this was fixed.  The only place I see it still occurring, is if In click on the hasthag 'tail' hyperlink in the link I have above if I've closed the zooniverse bar before clicking on the  tail hyperlink.

[2016-08-31 19:14] trouille opened #2935 "Different sizes to background image on landing page and classify page"
## Expected behavior

Same size for background image on landing page and classify page
## Current behavior

See [video](https://drive.google.com/file/d/0BzeL_TYT7IYPcHVxWkhMWXJQNXM/view?usp=sharing)  showing current behavior and how it's more zoomed in on landing page than on classify page
## Steps to replicate

Click between landing page and classify page on any PBBP project
## Additional informa

[2016-08-31 19:16] trouille commented on #2935
@eatyourgreens Tagging you in this just as a double check whether this is done on purpose for some reason that I'm not aware of. @srallen didn't think there was a deliberate reason this the way things currently work. She thought it might just be a difference in the css from one to the other, that we could fix.

[2016-09-01 03:09] trouille opened #2937 "Video has problems on Tablets"
## Expected behavior

Video subject within a PBBP classification interface should play as expected on Tablets
## Current behavior

Reported by researcher (working on https://www.zooniverse.org/projects/zooniverse/arizona-batwatch/classify). Note: I haven't had a chance to verify personally, but she was testing while I was on Skype w/ her:
- On Android Tablet in Chrome, you can't use the reduced sp

[2016-09-01 03:23] trouille opened #2938 "Video play/pause/restart not working in Windows IE"
## Expected behavior
Video subject w/in PBBP should play as expected on Windows Internet Explorer

## Current behavior
If you try to skip to a later section of the video, it moves you back to wherever you were. If you try to go to a previous section of the video, it moves you back to wherever you were. It also seems a bit stilted in its playing in general.

A video of the experience:
https://drive

[2016-09-01 07:56] eatyourgreens commented on #2935
Sorry, but I've watched that video five or six times and the background jpeg looks exactly the same size to me. I'm not sure what I'm supposed to be looking for.

Is it that the background is centred vertically, so the visible portion changes depending on the height of the classify page and your browser window?

[2016-09-01 09:05] simoneduca commented on #2708
Hi @aprajita, I'm about to start developing this and I'd like to make sure I've understood the requirement. So, you would like a new option for researchers to set the default subject view to multiple-image in the project builder - so that for any new subject served that the default view - _and_, at the same time, retaining the ability for volunteers to switch between multiple and single image view

[2016-09-01 09:20] aprajita commented on #2708
Hi @simoneduca
thanks for looking into this. yes that sounds like what I meant.
i can add u as a collaborator if you send me your zooniverse ID
I'm on leave at the moment but may be in briefly this afternoon - i'll try to pop-by if i can
thanks!

[2016-09-01 09:27] simoneduca commented on #2708
Yes please, thanks. My username is "Simoneduca".

[2016-09-01 09:28] chrislintott commented on #2938
We normally support the last two versions of major browsers; there have been three versions of Edge since IE11 so I'm not keen on changing much to support this.

[2016-09-01 09:29] chrislintott commented on #2938
Mind you, traffic from IE is still larger than edge...

[2016-09-01 09:32] eatyourgreens commented on #2708
@simoneduca what we probably need here is to split the existing multi-image setting into two settings: 'default view' (flipbook or side-by-side) and 'enable switching' (true or false.) Then make sure that the changes are backward compatible so existing projects retain their settings.

[2016-09-01 09:33] camallen opened #2939 "Abiltiy to stay in expert mode for more than one classification"
## Expected behavior

I should be able to do a session as an expert, so i can stay in expert mode until i choose to leave it. This would change the UI to make it clear that i am in said mode (think admin mode).
## Current behavior

I get kicked out of expert mode after each classification, this was a conscious decision to ensure users don't mark as expert all the time (and leave it on). We could l

[2016-09-01 09:47] eatyourgreens commented on #2938
I've seen behaviour like this in Firefox, usually if you try to jump forwards before the file has fully downloaded. I'm not sure if that's what's going on here but should we prevent people from playing/classifying until the full video has downloaded? That could be an annoying wait.

[2016-09-01 09:50] eatyourgreens commented on #2935
Wait, I had a look at https://www.zooniverse.org/projects/zooniverse/arizona-batwatch/about/research and the background image is absolutely massive. No idea what's going on here but it might be related to the project pages now being rescaled to show/hide the Zooniverse navigation. That's just a guess, though.

[2016-09-01 09:58] eatyourgreens commented on #2937
Can we split this into two issues, one for iOS and one for Android, since they seem to be two different problems.

On iOS, I'm getting the loading animation playing indefinitely ie. the video file doesn't seem to load at all. Is that the iPad bug that you're reporting here?

[2016-09-01 10:01] eatyourgreens commented on #2937
One other thought: on Android and iOS, I'd expect embedded video to play fullscreen in the OS's own video player, so it doesn't surprise me if our custom controls don't work.

Video on handheld devices might be something to consider, and maybe spec out, for someone with mobile expertise.

[2016-09-01 10:31] simoneduca opened #2940 "incorrect markdown syntax in the README"
## Expected behavior
The url of a link should not be displayed.
Correct markdown: (guide)[https://toddmotto.com/react-create-class-versus-component/]
## Current behavior
The text is displayed as follows:
[guide](https://toddmotto.com/react-create-class-versus-component/)

## Steps to replicate

## Additional information

- **Operating system:**
- **Browser:**

[2016-09-01 10:36] simoneduca commented on #2940
Closed via #2941

[2016-09-01 10:36] #2940 closed

[2016-09-01 11:00] itsravenous commented on #2827
Sorry for the delayed response @hughdickinson, I've been away. Can you share a link to your project so I can investigate?

[2016-09-01 11:51] eatyourgreens commented on #2937
Safari on iOS and OSX may not support the `canplay` event.: http://stackoverflow.com/questions/9920297/html5-audio-canplay-event-doesnt-fire-on-safari-mac-desktop

[2016-09-01 11:55] eatyourgreens commented on #2935
The background is sized using `background-size:cover`

from https://developer.mozilla.org/en-US/docs/Web/CSS/background-size

So I guess the browser is scaling the image as per the spec?

[2016-09-01 12:21] eatyourgreens commented on #2937
Re. the Android problem, `playbackRate` may not be supported there:

from https://software.intel.com/en-us/forums/intel-xdk/topic/543325

Sad times: no changing the playback speed on Android browsers 😞

[2016-09-01 12:35] eatyourgreens commented on #2937
Ok, test page up at https://video-loading.pfe-preview.zooniverse.org/projects/zooniverse/arizona-batwatch/classify?env=production which simply removes the loading overlay from video subjects. Should work on iPads, @trouille

Looks like the transparent SVG image used by drawing tasks blocks you from tapping on the video to play it, but the play button bottom left works, as does changing the playbac

[2016-09-01 13:39] eatyourgreens commented on #2798
Thanks @mschwamb I've just had this bug happen to me from a volunteer's profile page too.

If I click on any linked comment from https://www.zooniverse.org/users/cestmarrant the page layout zooms back out to show the main Zooniverse navigation.

[2016-09-01 14:27] trouille commented on #2251
@jwbmartin https://talk.snapshotserengeti.org/ is how snapshot serengeti uses this functionality. Other ecology survey tool users would benefit from this and use it (e.g., Snapshot WI, Chicago Wildlife Watch, etc. have mentioned this need as well).

The difference with the approach here is that it's a tab within the Project level and not within Talk (which is where it lives in Snapshot Serengeti).

[2016-09-01 15:01] eatyourgreens commented on #2251
@trouille as @mschwamb suggests, wouldn't we be better off updating the existing Talk recents page eg. https://www.zooniverse.org/projects/panthera-research/camera-catalogue/talk/recents since that includes improvements based on feedback from the older Talk.

[2016-09-01 15:11] parrish commented on #2251
I still don't get it, really.  This already exists in a different presentation.  https://www.zooniverse.org/projects/zooniverse/radio-meteor-zoo/talk/recents

The very slight difference is that you can't currently view **only** subject comments.  It would only require changing the "Show subject notes" checkbox into radio buttons for "Show only subject notes, Hide subject notes, Show all."  Which i

[2016-09-01 15:13] trouille commented on #2251
yes @parrish @eatyourgreens @mschwamb I'm in agreement here with you.

[2016-09-01 15:30] wgranger commented on #2483
@trouille

[2016-09-01 15:47] jwbmartin commented on #2251
Yeah I'm a little confused by this too because I have some people saying researchers would use this but @mschwamb as a researcher saying she wouldn't so I'm wondering if we are creating a function that helps a handful of people while creating more clutter and confusion for the majority of our users.

[2016-09-01 16:05] mschwamb commented on #2251
@parrish the check mark is there because the ratio changes when the site gets flooded like during launch or BBC stargazing live, and then the subject notes drown out any help/trouble shooting board posts.  I've used the check mark to hid the subject notes when Comet Hunters on BBC Sky at Night.

The other difference is that on Panoptes (recent Talk) @parrish designed it to  the full comment so I c

[2016-09-01 16:24] mschwamb commented on #2251
To me this duplicates the front page of Talk 2.0 without addressing the things that didn't work well about it or taking advantage of the new things that exist in Panoptes Talk.  But there was iteration with a few people who do science stuff when @parrish wrote the Recent Comments Talk Page, and I think he put a lot of thought into what things worked and didn't work on Talk 2.0.

Whatever you do, p

[2016-09-01 16:45] parrish commented on #2251
Yep, I'm just saying that this proposal could be accomplished by adding the inverse (show only subject comments) as well.  I find it strange to want that since there are usually many more subject comments than board comments.  Also, there is a recents view for each board.  So, the [notes recents](https://www.zooniverse.org/projects/zooniverse/radio-meteor-zoo/talk/recents/422) will basically cover

[2016-09-01 17:06] jwbmartin commented on #2251
On the same page.

[2016-09-01 17:22] mschwamb commented on #2251
Makes sense @parrish . Feel free to change that on the Recent Comments page now if you like. As long as there's a way to display only subject threads for spikes in traffic, then I'm happy.

I actually appreciate the larger size of the subject images on the panoptes Recent Comments page. I thought it a was a nice improvement since I could see what was going on in the subject  especially on Planet F

[2016-09-01 17:24] shaunanoordin commented on #2938
Debug Report
* On IE11, adjusting the Scrubber does not affect the Video being played.
* Tested on Win7+IE11

Replication:
* On IE11, go to https://www.zooniverse.org/projects/zooniverse/arizona-batwatch/classify
* Press Play to View the video being classified until the 10 sec (50%) time mark, then Pause.
* Move the video progress bar (Scrubber) to the 2 sec (10%) time mark, then Play
* Expected:

[2016-09-01 18:21] shaunanoordin commented on #2938
Update

Q: Where does it break in IE11?
A: In `app/components/video-player.cjsx`, the line in `render()` that says...
`<input type="range" className="video-scrubber" ref="videoScrubber" min="0" step="any" `**`onChange={@seekVideo}`**` />`
...doesn't register `onChange` properly.

Q: Why?
A: Dunno, it's IE11.

Q: Is there a way to make it work in IE11?
A: Change...
[code]
...to...
[code]
...or bett

[2016-09-01 18:25] mcbouslog opened #2944 "Create classification data export filtered by workflow (front-end piece)"
see [Panoptes Issue #1729](https://github.com/zooniverse/Panoptes/issues/1729) for back-end piece
## Expected behavior

In Project Builder, Data Exports, can optionally filter classifications export .CSV by workflow. Possibly with dropdown, that sends workflow ID as param to back-end classification CSV creation end point.
## Current behavior

N/A
## Additional information

-Notes from Nature reque

[2016-09-01 18:28] mcbouslog opened #2945 "fix focus for back to back text and dropdown tasks"
## Expected behavior
If workflow has back to back text, dropdown or combo tasks initial focus for both tasks should be in the first input (or label for dropdown task).

## Current behavior
While the first task will have initial focus in the first input, the second task's initial focus will be on/near the Done button (depending on if answer required).

## Steps to replicate
[back to back text task

[2016-09-01 18:31] mcbouslog opened #2946 "Persist annotations while going back and forth between tasks on single subject"
## Expected behavior

## Current behavior
_Please include any error messages from the browser console and/or screenshots_

## Steps to replicate

## Additional information

- **Operating system:**
- **Browser:**

[2016-09-01 18:35] srallen commented on #2939
I'm gonna add the design label to this for Jordan's input.

[2016-09-01 18:38] srallen commented on #2938
@shaunanoordin We have done an IE check in other places... it's hacky, but as long as it's temporary for the support of IE for just a bit longer, I'm ok with it. Perhaps we should abstract out this check into a js file in the lib folder:
https://github.com/zooniverse/Panoptes-Front-End/blob/master/app/lib/tutorial.cjsx#L94
and here:
https://github.com/zooniverse/Panoptes-Front-End/blob/master/app/

[2016-09-01 19:38] mcbouslog opened #2947 "Federated Projects: Initial planning"
front & back-end

The Federated Projects Epic has a start to aspects to consider:
https://github.com/zooniverse/Panoptes-Front-End/issues/2948

[2016-09-01 19:38] mcbouslog opened #2948 "Organizations"
i.e. Urban Wildlife Watch, or Camera Trap Consortium

see https://github.com/orgs/zooniverse/projects/8

[2016-09-01 19:44] mcbouslog opened #2949 "Project Builder CSV Data Export Enhancements"
testing Epics and Issues

[2016-09-01 23:31] mschwamb commented on #2912
Yep. I'll assign myself and start a document. I'll aim to get a few done over September. @astopy if you can build the page with that content after I get a few terms defined, then I can add things as I get time going forward. Does that sound good?

I'll post here when I've got some terms defined

[2016-09-02 08:45] astopy commented on #2912
Sure. I'm away from mid-September until early October, but I can look at building the page after I get back.

[2016-09-02 12:57] eatyourgreens commented on #2938
Thanks @shaunanoordin this is hugely helpful 👍

I've opened #2950 to rewrite the video player in JavaScript. I'll look at how that event listener is bound. Weird that it isn't being picked up in IE.

[2016-09-02 13:08] eatyourgreens commented on #2938
Staged at https://update-video-player.pfe-preview.zooniverse.org/projects/zooniverse/arizona-batwatch/classify?env=production which is probably still broken in IE11.

[2016-09-02 13:14] eatyourgreens commented on #2938
Looks like this is a known bug in React (even in 15, from reading the comments) https://github.com/facebook/react/issues/3096

[2016-09-02 13:20] eatyourgreens commented on #2938
Fingers crossed, this is fixed by be3cdfb931662402bea9f4310a8a7f1d8ef1b895 which also sniffs for `window.ActiveXObject`.

[2016-09-02 14:38] #2847 closed

[2016-09-02 14:53] #2825 closed

[2016-09-02 14:53] #2873 closed

[2016-09-02 16:59] mschwamb opened #2951 "notifications button doesn't unfll after you've read all your notifications"
When you read your unread notifications the notifications icon stays filled which was confusing. If the page reloads or you navigate to zooniverse home and back then the icon unfills. If you stay within the project level since the page never reloads the icon stays filled which is confusing. Can you make the icon unfill when you hit the 'read' button.  Maybe for @parrish

I tried this on Firefox on

[2016-09-02 17:08] parrish commented on #2951
Yep, verified.  I'll have a think about how to fix this.

[2016-09-02 17:10] mschwamb commented on #2912
I  won't have terms before October so good timing.

[2016-09-03 03:46] mcbouslog opened #2952 "fix tab-focus for dropdown task with conditional dropdowns"
## Expected behavior

After selecting an option or typing an answer in the first dropdown, tab will advance focus to the conditional (next) dropdown, or at minimum the conditional dropdown label.
## Current behavior

After selecting an option or typing an answer in the first dropdown, tab will go back to the first dropdown's label (where focus goes on initial task load), requiring volunteer to tab

[2016-09-03 03:59] mcbouslog opened #2953 "Create classification data export filtered by subject set (front-end piece)"
_back-end coordination needed_
## Expected behavior

In Project Builder, Data Exports, can optionally filter classifications export .CSV by subject set. Possibly with dropdown, that sends subject set ID as param to back-end classification CSV creation end point.
## Current behavior

N/A
## Additional information

-Snapshot Wisconsin will need eventually

[2016-09-03 04:08] mcbouslog opened #2954 "Aggregation export handle dropdown or combo task?"
Could the Aggregation export utilize the dropdown or combo task?

I'm not sure what the Aggregation export does currently, let alone could do.

[2016-09-03 04:24] mcbouslog opened #2955 "text task autocomplete"
## Expected behavior

If researchers enable functionality for workflow, text tasks would autocomplete for volunteers if type answer previously given.
## Current behavior

No autocomplete.
`autocomplete` attribute not available for `textarea` input, which is what the text task uses.

---

per Brian C., from closed PR #2520...

I've sketched out a little component that works the way I think this sho

[2016-09-03 04:32] mcbouslog opened #2956 "Create an experimental tool/feature that allows task answers to persist if go back to previous task(s)"
## Expected behavior
Clicking the Back button will not clear work for current task.

## Current behavior
Clicking the Back button will clear work for current task.

## Steps to replicate
any workflow with more than one task, or [this demo workflow](https://master.pfe-preview.zooniverse.org/projects/markb-panoptes/focus-testing-project/classify?reload=1&workflow=2426)

[2016-09-03 04:38] mcbouslog opened #2957 "use subject metadata to pre-populate task answers"
## Expected behavior

Have subject set with mixed metadata, i.e. some subjects with country, state and county, some without. Workflow includes tasks that ask for country, state and county. If specific subject has metadata that matches task, that task is pre-populated (and disabled?) accordingly.
## Current behavior

N/A
## Additional information

[2016-09-03 05:07] mcbouslog opened #2958 "clone project"
## Expected behavior

Project owners and collaborators can clone their project to a new project.
## Current behavior

N/A
## Additional notes

This is both a PFE and Panoptes effort.

[2016-09-03 05:16] mcbouslog opened #2959 "add descriptive names to tutorials"
## Expected behavior

Add ability to add descriptive name to tutorial, so collaborators can differentiate between tutorials.
## Current behavior

Tutorials displayed by ID.

[2016-09-03 05:19] mcbouslog opened #2960 "add stat for registered volunteers participated in workflow"
Panoptes question, putting here for Milestone/planning purposes.

Add stat for registered volunteers participated in workflow to workflow resource.

[2016-09-03 05:33] mcbouslog opened #2961 "tutorial and help (Dialog?) window improvements"
## Expected behavior
- [ ] Escape closes window
- ~~Window draggable~~ EDIT: pass, per Sarah's comment, not typical behaviour
- [ ] Window dynamically sized based on media content

## Other Solutions to this Issue
Consider using tools differently, i.e. Tutorial not big enough? Probably should be using Help instead. Or consider Field Guide.

[2016-09-03 05:52] #2946 closed

[2016-09-03 11:12] eatyourgreens commented on #2956
Just a note that this breaks if you have branching questions in your workflow.

I think @simensta is doing some work on this too.

[2016-09-03 19:02] mschwamb commented on #2801
as a project builder I'd want my subjects to look on Talk like the way that they look in the classification interface because you spend the time in the tutorial explaining what everything is and how it's located and then it's completely different on Talk and now an animated movie if you've got two images side by side in the classification interface. I think that puts up a small barrier for getting

[2016-09-03 19:08] mschwamb commented on #2799
I think with the recent design changes (thank you for putting the login/register back in the project space), you want to leave it offset otherwise any project owner added links will get shoved to the next line if the project owner has more than one extra link, where as the offset allows one or two links to fit on the same link as the auto generated panoptes links.

<img width="1160" alt="screen sh

[2016-09-04 05:16] mschwamb opened #2962 "making by default any urls in metadata open in a new tab"
A [request](https://www.zooniverse.org/projects/mschwamb/planet-four-terrains/talk/9/81505?comment=160768) from the P4:T volunteers. I could add in the next manifest file the markdown to open in a new tab, but I'm a little wary of adding in markdown as the metdata also shows up in the subject csv dump and its easier to parse without the markdown.

 If it's easy maybe if there is a url written out

[2016-09-04 05:24] mschwamb commented on #1883
hit this today cc @parrish

[2016-09-04 05:35] mschwamb opened #2963 "'done & Talk' button now showing for all projects even though the summary page is active and there is not supposed to be 'done & talk'"
Now all my projects have 'Done & Talk' and 'Talk'.   I think that less people enter Talk with 'Done & Talk' projects  because volunteers don't know what it means so they hit Done because they want to move on quickly. My understanding was that 'Done & Talk' and 'Done' was only going to be an opt-in feature for projects that wanted quick review where Talk wasn't improved and that a project owner cou

[2016-09-04 05:39] mschwamb commented on #2963
Correction: There's actually still the summary page when I submit the 'done'. So it looks like a bug where now the 'done & Talk' shows on all projects.

<img width="1154" alt="screen shot 2016-09-03 at 7 36 44 pm" src="https://cloud.githubusercontent.com/assets/753325/18229256/f891a3d8-720d-11e6-9adb-d094bb5e0dac.png">

<img width="1127" alt="screen shot 2016-09-03 at 7 36 50 pm" src="https://clou

[2016-09-04 05:54] mschwamb opened #2964 "Field guide help text only shows when you create a field guide"
The field guide page is completely empty in the project builder. Not even a line explaining what a field guide is. I wouldn't know what this is and if I need it for my project. If you hit create the field guide help text shows. I think that should get moved to the top so it shows when a project builder goes to the page. Currently this help text is the only documentation of the field guide as it's

[2016-09-04 06:12] mschwamb opened #2965 "Can't close help box when logged in - profile avatar overlaps the x on the box"
<img width="1138" alt="screen shot 2016-09-03 at 8 08 56 pm" src="https://cloud.githubusercontent.com/assets/753325/18229361/78990bbc-7212-11e6-9f36-6f43d7007237.png">

It's fine if you're not logged in

<img width="1162" alt="screen shot 2016-09-03 at 8 09 56 pm" src="https://cloud.githubusercontent.com/assets/753325/18229360/7509259a-7212-11e6-8f3a-0a1458ac19a0.png">

tried in chrome and firefox

[2016-09-04 21:22] mschwamb commented on #2963
Also if there's more than on step the back button is showing greyed out on the first step of the workflow. I'm pretty sure that was  hidden on the first step awhile ago but introduced back with this bug.

<img width="1127" alt="screen shot 2016-09-04 at 11 21 36 am" src="https://cloud.githubusercontent.com/assets/753325/18233965/d08644fa-7291-11e6-8ae3-9de30b670a60.png">

[2016-09-04 21:26] mschwamb commented on #2798
@eatyourgreens this might also be related to what's being described in this thread [here](https://www.zooniverse.org/talk/17/83476).

[2016-09-05 08:21] eatyourgreens commented on #2963
I don't think we hid the Back button, but it looks to me as if the check for Gravity Spy gold standard subjects here is overriding the workflow configuration setting https://github.com/zooniverse/Panoptes-Front-End/blob/master/app/classifier/index.cjsx#L172

Pinging @srallen for this one.

[2016-09-05 14:34] shaunanoordin commented on #2938
I've followed up on the notes from @srallen and @eatyourgreens (thanks!), and here are some updates on detecting IE11 using JS-ES6:

`if (window.ActiveXObject) { /*do IE stuff*/ }` won't work as Microsoft has [hidden the property from the DOM](https://msdn.microsoft.com/library/dn423948(v=vs.85).aspx).

`if ("ActiveXObject" in window) { /*do IE stuff*/ }` will work, however.

[2016-09-05 15:46] trouille opened #2968 "Notes from Nature Year 2"
This Epic encompasses all the planned effort for Notes from Nature in this Year 2 phase of the project.

[2016-09-05 17:14] #2938 closed

[2016-09-05 19:07] trouille opened #2969 "Organizations: some way for the lead to implement decisions + input landing page content"
Whether through a new interface or an existing interface, some place for the Federation leadership to:
- [ ] add/revoke membership
- [ ] activate/deactivate federated project workflow(s)
- [ ] input content (background image, text, etc.) for the [federation's landing page](https://github.com/zooniverse/Panoptes-Front-End/issues/2970)

[2016-09-05 19:14] trouille opened #2970 "Organizations: public landing page"
## Expected behavior

A landing page from which a volunteer will access all ~~workflows~~ projects associated with the ~~Federated Project~~ Organization (e.g., Urban Wildlife Watch.org, Notes from Nature.org, etc.)

Current design: https://zooniverse.slack.com/files/beckyrother/F683P4SQ1/organization_page_-_talk.png

UPDATES TO DESIGN LINKED:
- introduction section won't need Read More button
- s

[2016-09-05 19:23] trouille commented on #2956
This will be an experimental feature that will be turned on only for specific projects like Notes from Nature, which will benefit from this.

Importantly -- this is not something that we want to turn on across all projects.

[2016-09-05 19:32] trouille opened #2971 "Organizations: Populating a new project info card"
## Expected behavior

In the landing page for a Federation, each new project that is part of the Federation will have an info card (e.g., following the zooniverse.org/projects model of showing an info card associated with each project).

Note: zooniverse.org/projects will not have a card for each project within a Federation. It will only have a single Federation card; e.g., a single Notes from Nat

[2016-09-05 19:47] trouille commented on #2970
Will be populated by info cards for each project in the federation, see https://github.com/zooniverse/Panoptes-Front-End/issues/2971

[2016-09-05 19:55] trouille opened #2972 "Organizations: a way for researchers to easily filter Talk and Collections to subjects from their expedition(s)"
## Expected behavior

Auto-tagging subjects by related expedition/workflow, or something in subject metadata, so a researcher can easily filter Talk/Notes for subjects related to their expedition(s)
## Current behavior
## Steps to replicate
## Additional information
- **Operating system:**
- **Browser:**

[2016-09-05 20:11] trouille commented on #2960
@CKrawczyk Is there a reason in your original making of the statistics pages that you didn't include this? Just wanting to check in to see if there might be something we're not thinking of here.

[2016-09-05 20:59] mschwamb commented on #2963
@eatyourgreens Brian hid the back button in a pull request a while back if you're on the first step.  I closed  #287 because he added it, but he didn't link the ticket in his PR.

[2016-09-06 02:37] mschwamb opened #2973 "Resizing the notes and message board thread Talk comment box so that it fits right below the previous comments"
A version of this ticket was closed previously  with the response that a Talk design pass was being made and would address this issue. That was a while ago, so I've created a new ticket.

example: hit reply in a [thread](https://www.zooniverse.org/projects/mschwamb/planet-four-terrains/talk/29/86792) like this

Full page capture when you hit reply and there are not enough comments to fill all the

[2016-09-06 06:49] mschwamb commented on #2951
Thanks @parrish

[2016-09-06 09:19] #2963 closed

[2016-09-06 10:16] CKrawczyk commented on #2960
Could you clarify what you mean by this?  Do you mean showing how many classifications came from registered volunteers as opposed to unregistered ones?  If so, as long as the API allows for this type of query (not sure it does) is should be easy enough to add it.

[2016-09-06 10:38] eatyourgreens commented on #2963
@mschwamb I checked out #2189 and ran it on my mac. It disabled the back button, which showed as it does now, but didn't make it invisible.

I also had a quick look through the commit history since then, but didn't see any changes that hid the back button completely.

[2016-09-06 13:16] eatyourgreens commented on #2798
This looks to be caused by some components using `<a>` where they should be using `<Link>` for internal links. The browser then reloads the whole page when the link is clicked, rather than using `pushState`, and the page zooms out because it's the first time you've visited the project during this new browsing session.

I've opened a branch to fix this, staged at https://fix-2798.pfe-preview.zooniv

[2016-09-06 13:22] #2888 closed

[2016-09-06 13:37] simoneduca commented on #2888
@aprajita you should now be able to choose to clone the markers in the project builder.
![screen shot 2016-09-06 at 14 37 00](https://cloud.githubusercontent.com/assets/8989606/18275572/7b2c8744-743f-11e6-8c50-e850498728a8.png)

[2016-09-06 15:37] trouille commented on #2955
Note from @parrish Look at how Talk does autocompletion

[2016-09-06 15:42] parrish commented on #2955
Specifically the [suggester](https://github.com/zooniverse/Panoptes-Front-End/blob/master/app/talk/suggester.cjsx) and the [caret-positioning](https://github.com/zooniverse/Panoptes-Front-End/blob/master/app/talk/lib/get-caret-position.cjsx)

[2016-09-06 16:20] mschwamb commented on #2963
Thankss @eatyourgreens ,  I'm thinking of #2189 that back disappears if you only have one step and not remembering it correctly.

[2016-09-06 16:27] mschwamb opened #2977 "My project has the green box saying it's out of data, but it's not"
P4: Terrains says its out of data, but I put in a years worth of images  a month ago. When you go to classify the pop up appears. Not sure if this is a backend or front end so I'll post in both and link the tickets.

<img width="1136" alt="screen shot 2016-09-06 at 6 23 28 am" src="https://cloud.githubusercontent.com/assets/753325/18281997/d8fbcad2-73fa-11e6-86ad-892723ccd453.png">

<img width="11

[2016-09-06 16:28] mschwamb commented on #2977
ticket on the backend https://github.com/zooniverse/Panoptes/issues/1949

[2016-09-06 16:36] mschwamb commented on #2977
There's a reply on the backend ticket that this is likely a backend issue so closing for now

[2016-09-06 16:36] #2977 closed

[2016-09-06 16:46] MvGulik commented on #2973
Probably a bit less welcome by those that are on lower, than the default assumed normal, resolution.

A fix for this:
![image](https://cloud.githubusercontent.com/assets/666868/18282449/75e24d92-7461-11e6-8f03-9541b57a09b6.png)
![image](https://cloud.githubusercontent.com/assets/666868/18282523/c7f43672-7461-11e6-9b43-8013f15c8bd6.png)
Would probably fix this related low resolution complained.

[2016-09-06 16:56] mschwamb commented on #2973
The editing the comment box has much more grey area around it then the reply comment box which is what I'm talking about.

[2016-09-06 16:59] mschwamb commented on #2973
Now that I played wit resizing the box when you edit a comment, I get what you mean @MvGulik. I think you'll want to put in a separate ticket for the edit box resize issue

[2016-09-06 17:17] srallen opened #2980 "Setup Hound"
Setup hound for ESLint/Airbnb react style guide as a pre-commit hook. Open for comment, but I think this will help us out.

[2016-09-06 17:19] srallen commented on #2961
What is meant by 'window draggable'? If it is what I think you mean, then that isn't typical behavior of dialogs. Perhaps a dialog is being somewhere that should be something else?

[2016-09-06 17:20] srallen commented on #2959
A `display_name` field needs to be added to the Tutorial resource. This is a back end issue first, then we can add the UI in the editor.

[2016-09-06 17:56] alexbfree commented on #2782
Hi, just wanted to update that I discussed my priorities with @chrislintott and he confirmed that I shouldn't be working on this until after I have finished work on the Volcrowe/Comet Hunters experiment as it is top priority to get that out ASAP - So I have not had chance to get to this yet. Hopefully Friday or Monday.

I guess the beta will just have to launch as is, if it can't be delayed (sorry

[2016-09-06 17:59] parrish commented on #2962
We actually want to discourage people from adding links that `target="_blank"`.  Granted, the site seems to have mixed opinions on that...

[2016-09-06 18:11] mschwamb commented on #2962
metadata is an odd case, it's weird to put markdown in there because you also use that metadata in analysis. I though the site filled in the target stuff when it made it a hyperlink?

[2016-09-06 18:11] srallen commented on #2964
I think it makes sense to move the first paragraph of that help section to the top as it explains what a field guide is and leave the second paragraph as a help for the editor once you've created one.

[2016-09-06 20:20] mschwamb commented on #2964
@srallen that sounds good to me.

[2016-09-06 20:55] #2965 closed

[2016-09-06 22:20] trouille commented on #2960
<img width="1062" alt="screen shot 2016-09-06 at 5 18 13 pm" src="https://cloud.githubusercontent.com/assets/4975655/18293058/2cb3bc60-7456-11e6-9c51-17cf7564749c.png">

[2016-09-07 01:28] mschwamb commented on #2965
Thanks @eatyourgreens

[2016-09-07 08:38] CKrawczyk commented on #2960
@camallen does the API have a way to get the number of registered users that have classified on a particular workflow (as opposed to the full project)?

[2016-09-07 08:43] camallen commented on #2960
Not currently but we can do.

[2016-09-07 09:41] MvGulik opened #2983 "retracted"
retracted (_deemed irrelevant_)

[2016-09-07 09:44] MvGulik commented on #2973
Currently the new-reply edit box still has some decent-width size. But this ticked would makes it the same size as the edit box, with potentially the same edit-field re-size issue as reported in ticket #2983.

[2016-09-07 15:33] simoneduca commented on #2980
How about something like this https://www.npmjs.com/package/pre-commit and then having Hound as well, checking the PR as normal?

[2016-09-07 15:52] eatyourgreens commented on #2980
We could add a pre-commit hook script to  the repo, and encourage people to add it to their local `git/hooks/pre-commit`.

Sounds like that npm package overwrites existing hooks, rather than appending to them.

[2016-09-07 18:46] srallen commented on #2980
Sorry, I meant pre-pull request, similar to the setup with the Panoptes repo. Though, pre-commit could be considered instead or in addition to.

[2016-09-07 23:52] mschwamb commented on #2983
cc @parrish

[2016-09-08 10:45] eatyourgreens opened #2990 "Project card listing displays too narrow"
## Expected behavior

Project card listing should expand to fill the projects page.

## Current behavior
When the pagination isn't present, the project listing block is constrained by the two select boxes, and shows up way too narrow.
![image](https://cloud.githubusercontent.com/assets/59547/18346667/72827f1a-75b9-11e6-8883-4c85a2911488.png)

## Steps to replicate

Use the discipline filter to sel

[2016-09-08 11:11] #2990 closed

[2016-09-08 11:16] #2798 closed

[2016-09-08 11:49] eatyourgreens commented on #2782
Unassigning myself as there's no chance I'll have time to look at this, particularly with the new signed-in home page to review.

[2016-09-08 14:38] CKrawczyk opened #2996 "Survey task style different on chrome and firefox"
## Expected behavior

The survey task should look the same in all browsers.

## Current behavior
_Please include any error messages from the browser console and/or screenshots_

The survey task images/text are centered in firefox:
![screen shot 2016-09-08 at 3 25 09 pm](https://cloud.githubusercontent.com/assets/6557526/18353402/c18a5ab8-75d9-11e6-9a60-ec70962d8cb6.png)

but left justified in chro

[2016-09-08 20:35] #2483 closed

[2016-09-08 20:37] trouille opened #2999 "survey task example images overlap with buttons"
## Expected behavior
survey task example images wouldn't overlap with the buttons that allow you to see the next example image

## Current behavior
See attached image

## Steps to replicate
Visit gravityspy.org and click on 'blip' to see example images

## Additional information

- **Operating system:**
mac

- **Browser:**
chrome. Note: I haven't tested to see what this looks like in other browser

[2016-09-09 13:20] MvGulik opened #3001 "Zoo's Markdown, Footnote's & Reverence links."
Footnote and footnote-reverence links are generated on a **per post** base.
(ie:"#fn<1..N>" & "fnref<1..N>...".)
Resulting in the fact that (*on a displayed page*) the first post with footnotes effectively hijacks footnotes in other post on that page. (*generates bad HTML too as someone else pointed out.*)

Some test case on Zoo: https://www.zooniverse.org/talk/13/18624?comment=97706
*Contains use

[2016-09-09 13:34] eatyourgreens commented on #3001
We're using the `markdown-it` parser, with the [footnotes module](https://www.npmjs.com/package/markdown-it-footnote) to handle footnote links so I'm afraid changing the parser behaviour is probably outside the scope of this repository.

[2016-09-09 14:07] BNewing commented on #2912
Hi Megan, I'd be happy to help with this too! Are you working on them in a google doc? Cam's just shown me how to create new pages too so should be able to help with getting it put up.

Where do you think would be the best place to put it? On the About section or somewhere in the Projects section?

[2016-09-09 14:51] #2996 closed

[2016-09-09 20:05] #2999 closed

[2016-09-09 20:27] mcbouslog commented on #2956
see [zooniverse-readymade](https://github.com/zooniverse/zooniverse-readymade) and Penguin Watch.

[2016-09-10 02:21] mschwamb commented on #2912
Hi @BNewing  (feel free to call me Meg :-) ) - I haven't started but we could use a shared google doc. Although volunteers might sue this I think primarily it will be project builders so I'd maybe have a link under quick links https://www.zooniverse.org/lab or something like that

[2016-09-10 09:14] MvGulik commented on #3001
@parrish: As you seem to be the [markdown-api](https://github.com/zooniverse/markdown-api) guy.
Do you think there is a chance footnotes could be made to work for zoo-user/talk-posts ?
*by mixing in a post-id in the footnote-anchor-links perhaps.*

Or is there some change needed at the root source at ... (?) https://github.com/markdown-it/markdown-it-footnote

Or ... should I just forget about foo

[2016-09-10 09:32] MvGulik opened #3005 "markdown display oddities"
Some markdown display oddities I collected walking around Zoo.

Initially posted in [markdownz](https://github.com/zooniverse/markdownz), but ... lack of feedback makes me think that was probably not in the right place. (*"Panoptes-Front-End" might be the wrong place to, but at least that's where it might actually be seen.*)

---

#### 1) Header 1 and Header 2 displayed with same font-size.

Used

[2016-09-10 14:38] BNewing commented on #2912
Hi Meg :D feel free to call me Bev too! I've just set up a google doc which you can access here https://docs.google.com/document/d/1MoNHUNNaC6m1m60WAqMt-BnZOZWznk6YIzre68eF4J0/edit?usp=sharing I'll start defining the terms too :D

That sounds like a good place! Another thing I'm going to be working on is adding in a lot more documentation around building projects, and as part of that process I mig

[2016-09-10 17:28] trouille opened #3006 "Marking tool task subtask now falls behind pop-up window (as does metadata info for subject preview)"
<img width="1099" alt="screen shot 2016-09-10 at 12 23 19 pm" src="https://cloud.githubusercontent.com/assets/4975655/18412340/6288f8de-7751-11e6-97dc-588099edcfb6.png">

## Expected behavior
In Project Editor, when clicking on 'subtask' for a marking tool, 'add a task' prompt should pop up the options somewhere we can access them.

## Current behavior
_Please include any error messages from the b

[2016-09-10 19:00] trouille opened #3007 "Organizations: data export for your workflow only"
Federation owners may want to restrict access to the data exports, so that a new member will only be able to access their workflows' data exports, and not all the workflows' data exports. For example, in Notes from Nature, the leads would prefer to restrict access.

[2016-09-10 19:03] trouille commented on #3007
Related to https://github.com/zooniverse/Panoptes-Front-End/issues/2944

[2016-09-10 19:30] trouille opened #3008 "Organizations: copying templates"
This is not a required functionality, but it would make new members lives easier if they could copy an existing 'template workflow', 'template tutorial', and 'template field guide' and edit as needed.

Note: For Notes from Nature this is a required functionality (for template workflows and tutorials), but we could find a solution for this outside of our more generalized Federated Projects effort.

[2016-09-10 19:47] trouille commented on #3006
This must be related to the 'i' metadata pop-up hiding behind the image. In the attached image, I clicked on the 'i', but you don't see it because it's hiding behind the image.

<img width="1098" alt="screen shot 2016-09-10 at 2 46 52 pm" src="https://cloud.githubusercontent.com/assets/4975655/18413156/8472d0a0-7765-11e6-9999-997de501b87e.png">

[2016-09-10 19:49] trouille commented on #3006
@simensta I originally assigned you in this, because I thought it had to do specifically with the marking subtask, which I know you'd worked on. But then in seeing the same thing happen with the subject preview, I see it's more general. Feel free to un-assign yourself or assign to other. Thanks!

[2016-09-10 19:55] eatyourgreens commented on #3006
Probably related to #2966

[2016-09-12 09:29] astopy commented on #2912
@BNewing Just to note, I've edited your comment to remove the google docs link because anyone with the link can edit the document and these comments are public.

[2016-09-12 10:36] BNewing commented on #2912
Sorry Adam!! What is the best way of sharing the link or working collaboratively on the definitions? Creating the page in a branch and adding stuff to that?

[2016-09-12 13:26] astopy commented on #2912
No problem. The Google doc will work fine, I'd just send the link by email instead.

[2016-09-12 14:28] parrish commented on #3001
I don't see an issue with adding footnotes.  I'll look through the available libraries to find one that will work well.

That change should have a corresponding change to the MD help section in PFE too.

[2016-09-12 15:50] simensta commented on #3006
@trouille, I can take a look at this issue. Thanks for bringing it to my attention!

[2016-09-12 16:10] mschwamb commented on #2912
@BNewing  - Adam, Cam, Grant, Chris, etc have my email if you need it. I'm not on the slack channels.

[2016-09-12 17:29] parrish commented on #3001
Ah, I misunderstood the issue at first.  I'm looking into it.

[2016-09-12 17:37] parrish commented on #3001
Looks like newer versions of the plugin have a [fix for this](https://github.com/markdown-it/markdown-it-footnote/blob/master/CHANGELOG.md) by specifying a `docId` for the renderer (it basically just prefixes the anchor id's).

It does require a version bump for markdown-it and the related libraries.  I'll see how easy that upgrade path is.

[2016-09-12 21:02] mcbouslog opened #3010 "post initial editor refactor follow-up"
- [ ] redo editor instructions, includes #2256
- [ ] change links in editor instructions to action phrases as url links
- [ ] in editor, warn if content too many characters
- [ ] code review note - Jim - Component state is keeping track of a number of things now. Would it be worth breaking out management of some of those state variables into smaller components that are included inside this one?
-

[2016-09-12 21:17] simensta opened #3011 "In Zooniverse-wide Talk boards, a subject mentioned in a comment should provide a link to the subject's Talk page."
## Expected behavior

In Zooniverse-wide Talk discussions, any subjects included in a comment using Talk's "Linked Image" functionality should provide a link back to the subject's Talk page. This is currently working for subjects mentioned in project-specific Talk discussions, where the Subject ID provided above the image links to the subject's Talk page (e.g., https://www.zooniverse.org/projects/

[2016-09-13 03:01] trouille opened #3012 "Organizations: Talk"

[2016-09-13 07:42] aprajita commented on #2888
Excellent - thanks @simoneduca

[2016-09-13 09:44] astopy opened #3013 "Talk showing incorrect names"
Reported here: https://www.zooniverse.org/talk/17/89474

Reproduced by @camallen : https://zooniverse.slack.com/archives/dev/p1473672591000138

[2016-09-13 10:59] marten commented on #2834
@srallen Could you update on where this is on the planning (days/weeks/months away?).

And just to make sure: PFE should write into the classification metadata which feedback message is shown (when it shows any). Nero will be building on that to perform retirement and user skill tracking for Spacewarps.

[2016-09-13 11:00] MvGulik commented on #3001
Thank you for looking into it.
\**crosses fingers*\*

[2016-09-13 14:46] srallen commented on #2834
I've been focused on finishing Gravity Spy features. @hughdickinson had #2840 PR in for the Space Warps gold standard feedback. There was some confusion a couple weeks ago about whether or not the message would be unique to each subject which was clarified in this issue. I think the functionality is close to being done in that PR. @hughdickinson Could you let us know what the status is of @2840? I

[2016-09-13 15:29] rogerhutchings commented on #1747
superseded by #2526

[2016-09-13 15:29] #1747 closed

[2016-09-13 17:03] parrish commented on #3011
This is an unfortunate side-effect of a premature feature implementation in Panoptes:  since subjects can be shared between multiple projects, a project can't be implied without the comment being left in a project context.

Ideally, a non-project oriented subject page would exist that would show/switch between multiple project contexts.

There would definitely need to be some design effort to pres

[2016-09-13 18:43] parrish commented on #3001
There's a fix incoming in zooniverse/markdownz#42.  Definitely not an elegant fix, but it works.

[2016-09-13 19:19] mkosmala opened #3014 "Small bugs in Project Builder markings tasks"
## Expected behavior
~~1. Checkbox for "Clone markers in all frames" should stay checked once checked.~~
2. Min and Max boxes for tool types should have minimum of 0 and a way to select 'infinity' for Max.

## Current behavior
~~1. On refresh, "Clone markers in all frames" becomes unchecked in the Project Builder interface (but task behavior remains).~~
2. Min and Max boxes can take on negative va

[2016-09-13 19:24] mkosmala opened #3015 "Can't choose which task is first?"
## Expected behavior
Would like to be able to choose which task is first in the Project Builder.

## Current behavior
In the Project Builder, the first task you create becomes "first". Then if you later decide you want a different "first" task, there doesn't seem to be a way to set another task as first. If you delete the one that is first, then the second one you created becomes the "first."

[2016-09-13 20:38] mschwamb opened #3016 "Add a comment/description entry text box for subject_sets"
It would be nice to be able to give a longer description of what the hell the subject set is for and is being used for than just the name. Right now all we have on the project owner side is the name. It would be helpful especially as projects age to be able to go  back and see that subject set title 'gold_expert_round2_review' had a comment line with '2nd review by PI for gold subjects where in fi

[2016-09-14 08:27] CKrawczyk commented on #3015
There is already a dropdown list for selecting the first task in the project builder:

![screen shot 2016-09-14 at 9 25 15 am](https://cloud.githubusercontent.com/assets/6557526/18505052/4bda73e2-7a5d-11e6-92b1-ed10fdf7d9db.png)

[2016-09-14 09:31] astopy opened #3017 "Validate subject IDs on talk against subject sets"
Users often manually change the IDs of subjects in talk URLs to browse images, and they get confused when they see subjects from other projects. The front end should check that the requested subject is actually a member of one of the requested project's subject sets and display a not found error if not.

[2016-09-14 11:50] simoneduca commented on #3014
Hi Margaret, thanks for catching this. I've fixed the checkbox bug, but the min-max values are still broken. That's a known issue and not trivial to fix. Also, in future, please submit one issue per bug; it makes it easier for us to keep track, cheers.

[2016-09-14 13:08] mkosmala commented on #3015
Yep, totally right. Not sure why I didn't see that. Thanks.

[2016-09-14 13:08] #3015 closed

[2016-09-14 16:31] chrislintott commented on #2969
This should now be:
- [ ]  Add/revoke membership

- [ ] Have collaborator access to any project in the federation

- [ ] Input content for landing page (and other associated pages)

[2016-09-14 16:33] chrislintott commented on #2971
I think we're now having these cards linking directly to project pages for projects which are members of the federation, rather than directly to workflows.

[2016-09-14 16:34] chrislintott opened #3025 "Organizations: Project name display should reflect federation"
E.g. Displaying as Galaxy Zoo : Bars where Galaxy Zoo is the federation and Bars the project name.

[2016-09-14 16:35] chrislintott commented on #3008
Agreed to making this a more general separate piece - it would be useful even outside the federation concept.

[2016-09-14 16:35] chrislintott opened #3026 "Organizations: Permissions"
Federation owners should have collaborator access to projects in the federation.

[2016-09-14 17:41] mkosmala opened #3027 "Feature request: Simplified "survey" task ("tagging" task)"
I love the survey task. But I'd really like to be able to have a one-click version of it for when choices are easy and there is no follow-up question. For example, I want to show a subject made up of 30 images (1 per day for a month) and ask for the earliest day a particular event happens (e.g. flowers bloom, snow falls). The survey task allows me to easily provide the numbers 1 through 30 as choi

[2016-09-14 17:48] mkosmala opened #3028 "Requested: headline for survey tasks"
In most tasks, you can tell the volunteer what you want them to do. Not so with survey tasks. Some survey tasks (like the many camera trap surveys), the task might be self-explanatory. (But even then, a volunteer might wonder: "Should I select all animal species I see? Or just the ones in the foreground?") It would be really useful to have an optional bit of text above the survey choices to tell v

[2016-09-15 10:24] #3006 closed

[2016-09-15 11:47] mrniaboc commented on #2969
Also, federation leaders should just be automatically made collaborators on all projects in the federation, right?

[2016-09-15 15:14] citscisean opened #3032 "Requested: using a threshold to quantify pixels within a polygon"
## Expected behavior

I would love if there was a way to set a threshold for selecting pixels within a polygon that uses draw, and automatically quantify the pixels above (or below) the set threshold. There are a number of macros for this in ImageJ that already do this. I see two ways of setting the 1) threshold could be set by the project (globally) or 2) threshold set by the user. For my project

[2016-09-15 17:50] shaunanoordin opened #3034 "Teeny Tiny Subject Image in IE11 Survey Tasks"
Issue: In IE11, on certain projects with survey tasks, the subject image looks small. So very small.

![screen shot 2016-09-15 at 18 24 43](https://cloud.githubusercontent.com/assets/13952701/18560430/63626cec-7b73-11e6-8d17-ccc91c3732c9.png)

* Issue originally reported on https://www.zooniverse.org/projects/panthera-research/camera-catalogue/talk/447/91084?comment=169330&page=1
* This issue has

[2016-09-15 17:52] mschwamb commented on #2562
same issue on the new milky way project you have to scroll on a 13-inch screen to see there is a tutorial button. Since the the tutorial button is below the 'done' button I doubt people will see it.

It seems like it would be easy to move hide previous marks to under the subject image or to the left or right of the 'need some help with this task'

<img width="1129" alt="screen shot 2016-09-15 at 7

[2016-09-15 18:53] srallen commented on #3034
I feel like this had been fixed before, but maybe broken by some CSS that shouldn't have been changed? Yes, IE is very buggy with flex. I like using this as a reference: https://github.com/philipwalton/flexbugs

If you find a fix, could you leave a comment in the code and css that it's for IE?