[2015-05-15 17:46] camallen commented on #343
I just tested and it needs a better error message on the front end. The api responds with an empty user array via the `user?display_name=x` call:

![invalid_collab](https://cloud.githubusercontent.com/assets/295329/7658492/a12cd5c0-fb32-11e4-8da5-0eb9c783fc01.jpg)

[2015-05-15 17:47] mschwamb commented on #343
except I couldn't log in without that account, but could on an ouroboros  project site i could. Just checked again.

Also how do you handle mergers. Like my panoptes account I made to make the site is the same name as my ouroboros. Do they merge or do i/you have to do something special to link them? Sorry if that was a problem.

[2015-05-15 17:59] camallen commented on #343
@mschwamb they will merge on the login name, the details from the old system will overwrite your panoptes staging account.

[2015-05-15 18:21] mschwamb opened #344 "Add a links to pop up login and register window to the 'you must be logged in to register'"
More based my own experience, but I've always asked for this on builds I'm involved in when windows pop-up ask for you to login to get those features since I think most people will miss the login/register in the top right corner, and  those projects tend to have higher numbers of registered/logged-in users, but more anecdotal evidence. So I think it would be useful if you could click from the box

[2015-05-15 18:30] brian-c commented on #344
@aweiksnar You can probably reuse partials/sign-in-prompt here

[2015-05-15 19:33] #344 closed

[2015-05-15 21:51] #262 closed

[2015-05-15 21:57] #338 closed

[2015-05-17 22:36] vrooje commented on #269
I agree the Spotter's Guide functionality will be enormously useful in the future.

For now perhaps the FAQ page could substitute?

[2015-05-17 22:46] vrooje commented on #300
I've added a bunch of text... hope it's helpful. I think we're basically going to need little question-mark-boxes all over the place.

Note in that doc there are still a few places that need clarifying, e.g., what exactly does the Tester role do?

[2015-05-17 22:48] vrooje commented on #155
I've added some related help text to the document @aliburchard created in #300 so that it explicitly recommends the researcher tell the volunteers why they are being asked to do the task.

[2015-05-17 22:49] vrooje commented on #300
PS - there are points at which I just added advice, like "if you are asking users to rate something, give them an odd number of answers so there's a middle", warning them about overchoice, etc.; just continuing the theme of being opinionated. Hope that's the right thing to do.

[2015-05-17 22:55] vrooje opened #351 "Expert role not showing up correctly on science-case page"
Instead of showing "Expert" by various users on the science-case page I'm seeing "missing translation: en.projectroles.expert" instead.

![screen shot 2015-05-17 at 23 52 42](https://cloud.githubusercontent.com/assets/2357126/7672611/29dec5cc-fcf0-11e4-8004-43f3b6612cf4.jpg)

All the actual errors I see in the console are just about the fact that I don't have a project avatar or background, so tha

[2015-05-17 22:58] vrooje opened #352 "science-case page: what if it's not a science project?"
Even if I leave the science page content-free when designing a project, it still appears as a tab (which I think is by design as that page is where the project team and roles show up).

But not everyone will find a page called "Science" relevant (e.g. humanitarian projects), and I can't change the name of the tab.

I suspect this isn't a first-release issue but I'm just throwing it out there that

[2015-05-18 00:57] vrooje commented on #327
I've made a start on some comments... will probably have more soon. @DarrenMcRoy I'm assuming this document contains the text that will go in for the first release? If so you might want to tag others you specifically want to comment this week so they'll see this even if they're not following all notifications for the repo.

[2015-05-18 10:57] aliburchard commented on #300
@brian-c When do you need this text finalized so it can be added to the Front End before public launch?

@vrooje -- we might want to put those details in a separate tutorial that more thoroughly walks folks through the building process and provides that sort of insight. But I also like the idea of having that guidance appear in the moment as well.

@brian-c Would it be possible to implement this f

[2015-05-18 11:00] astopy commented on #325
I think this was an issue with the Docker Hub, but as of the 15th it seems to be working again. Can you let me know if it works next time you merge something to master?

[2015-05-18 11:10] vrooje opened #353 ""Multiple Choice" should be renamed"
"Multiple choice" to me means "there are multiple options for you to choose from", which is true even when the user is forced to pick one. I don't think I'm the only one who will be confused by this.

May I suggest changing the label for this open to something like "Multiple answers allowed"?

[2015-05-18 11:12] mschwamb commented on #353
If it helps - As someone who didn't get a walk through from the development team on how to use the front end, I found that wording confusing.

[2015-05-18 11:22] mschwamb commented on #300
Also something I wanted to point out up from the perspective of someone who hasn't been at any of the development demonstrations for this, I'm having a hard time knowing what to call the thing actual interface part of the front-end that I use to make the project. I think it would help people who are trying to build projects if they knew what to call the lab space it if they had an issue. on the ta

[2015-05-18 11:26] mschwamb commented on #285
Any chance that a  toggle on or off check box to show metadata or not in the classification interface (or to show metadata after the classification is submitted) could be added as the simplest solution?  I understand if the answer is no.

[2015-05-18 12:21] aliburchard commented on #353
agreed.

[2015-05-18 12:55] camallen commented on #300
Internally we're calling it the project builder.

[2015-05-18 12:56] twhyntie commented on #353
:+1: I wondered if this was a British phrasing thing :-)

"Multiple answers allowed" works for me.

[2015-05-18 14:17] brian-c commented on #337
Fixed in that PR.

[2015-05-18 14:17] #337 closed

[2015-05-18 14:51] brian-c commented on #300
@aliburchard I'll start integrating these today so folks can see how they feel.

[2015-05-18 15:19] DarrenMcRoy opened #354 "The term "citizen science" on Zooniverse"
I think we need to have a discussion about the degree, if any, to which we wish to continue to refer to ourselves as a "citizen science" portal as we're developing the new Zooniverse home page.

I understand that we are expanding into the humanities and beyond, and we don't want to sound exclusionary, but there are complications with jettisoning "citizen science" as a term altogether. There's that

[2015-05-18 15:26] michaelaye opened #355 "Login blocked"
As I'm using a password manager, I'm pretty sure that my password is correct. But I currently cannot login and the password reset still links to the zooniverse login management, which as I understand is not the same as for Panoptes.
Please advise if I should temporarily create a new account of which I have to be made owner again or if there's a hidden link to the new password reset management?
Use

[2015-05-18 15:28] michaelaye opened #356 "Credits section is 40% of project login screen"
See here:
https://www.dropbox.com/s/ggxgr1tkd7dhqot/Screenshot%202015-05-18%2017.27.09.png?dl=0

I don't think this looks that good, can the credits part be a lesser fraction of the project homepage?

OS: 10.10.3
Browser: Safari 8.0.5

[2015-05-18 15:33] whyte commented on #354
My concern is that very few people think of themselves as 'citizen scientists'. I think it's a terms that means something to us, to funding agencies and in academic literature, but very little to the actual volunteers.

Also, it's getting to be just plain inaccurate. I'd personally prefer to see a couple of paragraphs somewhere that explains how we started off doing astronomy, then science and evo

[2015-05-18 15:34] chrissnyder commented on #355
Pretty sure I have the same issue, whatever it is.

Username: chrissnyder

[2015-05-18 15:34] edpaget commented on #355
@michaelaye we're looking into what caused this now. We just resynced the users info from the old Database. For the moment you can go here https://panoptes-staging.zooniverse.org/users/password/new to reset your password.

[2015-05-18 15:42] aweiksnar commented on #354
Perhaps we can have a secondary-page on the site where this topic is specifically addressed, in addition to how the term ends up being laced in the copy

[2015-05-18 15:45] michaelaye commented on #355
Worked, thanks.

[2015-05-18 15:45] chrislintott commented on #354
I'm with Laura - I think the point is to avoid it on the more public facing pages. I think by the time we're talking about proposing projects and so on it's fine - but we don't want visitors to make the mental leap to thinking of themselves as doing 'citizen science' to choose to participate.

[2015-05-18 16:23] whyte commented on #354
I personally like the idea of using the word 'volunteering' more. 62.6 million American's spent 7.7 billion hours volunteering last year - it's a concept people are comfortable with and makes them feel warm and fuzzy. We offer people the chance to volunteer from the comfort of their sofa in their pj's with a nice cup of tea. Also - we know that most participants like to 'help science', so I think

[2015-05-18 17:43] vrooje commented on #354
I like the emphasis on volunteering, and people being able to immediately jump in to help a variety of important science, research and societal questions. <-- though I don't like that phrasing too much either.

I agree the History of the Zooniverse page is a good place to explain the evolution of this and why the term citizen science is used on the site sometimes. I'm wondering if the term "citize

[2015-05-18 17:45] vrooje commented on #354
Oh, forgot: explicitly adding @VVH @aliburchard too.

[2015-05-18 17:55] mkosmala commented on #352
Related: the label "scientist" for project team members...

[2015-05-18 18:07] brian-c commented on #352
Linking this to #354.

[2015-05-18 18:31] mkosmala commented on #354
I'll just add that the term 'citizen' is a loaded one in the U.S. (immigration and non-documented statuses, etc.) and much debated within "citizen science" circles. I like the term "participatory" better, but it's a mouthful and kinda technical-sounding.

[2015-05-18 22:45] michaelaye opened #357 "Activation of subject sets confusing"
Every change currently is accompanied with an activated "Save changes" button, EXCEPT the activation of subject sets. I think this is confusing and leaves the project owner in uncertainty if it is actually active now or not.

[2015-05-18 22:47] michaelaye opened #358 "Could the subject_set name be shown somewhere/somehow?"
This can be either a good or bad idea, because one should not tell the Citizen too much about the data set to avoid bias, but in testing I would find it really useful to be able to check from which subject set the current tile has been taken.

[2015-05-18 23:38] michaelaye commented on #306
Is it not on the roadmap because you are fine with using external services as image servers and would rather spend resources on other issues? Because to me it looks like it is a very principle requirement to have explanations in image form to tell the Citizens what to do. I just don't see that working without using images/graphics.

[2015-05-18 23:49] mschwamb commented on #358
I don't think you want to give thst information to volunteers classifying but maybe in a beta or test mode?

[2015-05-18 23:53] michaelaye commented on #358
On the other hand, the name of the subject set could be rendered meaningless to the citizen (some ID), but something we can look up using a table.

[2015-05-18 23:58] mschwamb opened #359 "Subjects maybe repeating for non-owner if logged in, but not for owner"
Hi,

This seems to be happening on Planet Four:Terrains.  @michaelaye can repeat through images he's classified but I can't. It also appearrd thst way for another P4 team member. Only difference is that I'm owner.

[2015-05-19 00:11] michaelaye commented on #359
I have confirmed this for sure with a small 10 tiles subject set: I never stop getting images served, even so after 10 it should be finished.
But I just noticed something that might help to solve this bug (and it is a pretty serious bug, b/c like this we basically have the Citizens seeing everything endlessly): After the 10 images have been shown, no loading seems to appear, the tile is shown inst

[2015-05-19 10:23] camallen commented on #359
This is intended behaviour @michaelaye, see #312 and https://github.com/zooniverse/Panoptes/issues/830#issuecomment-101290476. You will be warned in the front end that you've already seen this subject once #312 is finished.

[2015-05-19 10:51] #355 closed

[2015-05-19 13:46] mrniaboc commented on #205
I think that the main landing page looks good at the moment, with a simple welcome statement about what we do and a call-to-action button. It would be great to have different ways of sorting the projects (by genre, popularity, date of creation etc), also I think we need a page like www.zooniverse.org/me for volunteers who are logged in. I think we should definitely keep a count of total registered

[2015-05-19 13:51] mrniaboc commented on #205
Sorry @chrissnyder. Just read #206 regarding project list filtering. I guess that can wait until after launch.

[2015-05-19 14:58] edpaget commented on #306
Now that we have some extra time this is going to be supported. See https://github.com/zooniverse/Panoptes/issues/848

[2015-05-19 15:03] mrniaboc commented on #205
We also need to have a publications page!

[2015-05-19 16:12] vrooje opened #360 "Zooniverse Discuss and Project Discuss links are confusing"
On my GZ bars project:

![screen shot 2015-05-19 at 17 09 12](https://cloud.githubusercontent.com/assets/2357126/7707859/12df49f4-fe4a-11e4-9d8f-76cff8763c67.jpg)

Should we change the name of one of them?

[2015-05-19 16:43] brian-c commented on #300
I've got this branch deployed to http://demo.zooniverse.org/panoptes-front-end/help-text. **The layout is not finished.** I'm going to find/build a nice tooltip library to clean a lot of this up.

Could further work on the help text take place in separate issues?

[2015-05-19 16:58] michaelaye commented on #359
but i hope that classifications are not recorded then? I don't want the Citizens to be able to work more than once on an item.

[2015-05-19 17:36] edpaget commented on #359
@michaelaye classifications are recorded, but don't count towards subject retirement.

[2015-05-19 17:53] #203 closed

[2015-05-19 19:28] camallen commented on #359
@edpaget duplicate anonymous classifications currently do count towards retirement. I raised this issue [here](https://github.com/zooniverse/Panoptes/pull/843) but it morphed into a discussion towards aggregation using IP's as a proxy for the same user.

I think we can easily add a metadata field on the classification indicating it's already been classified by this volunteer for a previous session

[2015-05-19 20:42] brian-c opened #364 "Home page column layouts break in smaller windows"
Looks like the "about" graphics are laid out in CSS columns, so when there's only space for two columns the second item falls under the first.

![screen shot 2015-05-19 at 3 10 46 pm](https://cloud.githubusercontent.com/assets/464389/7713450/6f928ab0-fe3d-11e4-960f-bf824dd52953.png)

I bet there's a way to do this with flexbox so that the five things (three images, "+", and "=") will line up when

[2015-05-19 21:17] DarrenMcRoy commented on #354
I've removed all references to "citizen science" from all current Zooniverse Home content.

[2015-05-19 21:20] srallen commented on #354
Pinging @heathv about this since some of the home page designs include 'citizen science' at the moment.

[2015-05-19 21:22] DarrenMcRoy commented on #354
We're using "people-powered research" as an acceptable substitute for the moment, for when a term is absolutely required.

[2015-05-19 21:30] whyte commented on #354
For what it's worth I have always f**king loved the term people-powered research.

[2015-05-20 03:50] DarrenMcRoy commented on #327
Content has been sorted somewhat based on what is absolutely necessary for first release, what is done, what will be done for later iterations, etc.

Some content (green highlighted) is ready for a @chrislintott review, I think!

[2015-05-20 08:47] mschwamb commented on #359
@camallen that would be helpful from my perspective as someone that is likely going to do some reduction of the raw data on my own, so having a metadata flag already say its a duplicate classification (because volunteer saw the same subject) would be helpful so I don't have to go through and unique and filter the database. We currently do that for P4.

[2015-05-20 09:09] VVH commented on #205
Hey all and @heathv in particular, I know it's late to be piping up, but the home page image doesn't feel quite right to me. Somehow the inclusion of a mac and an Iphone (or similar) suggests that you need to have expensive and high-powered gadgets to participate. I don't have any alternative design ideas off the top of my head and I'm no designer, but I wonder if you had any other contender image

[2015-05-20 10:35] mrniaboc opened #365 "Zooniverse logo looks weird in some browsers"
Might be solved by making the whole word an image, rather than having the logo in the middle of text?

![zoo-home1](https://cloud.githubusercontent.com/assets/5321335/7723882/330ed632-fee4-11e4-9a68-a66728bf0483.jpg)

[2015-05-20 11:09] astopy commented on #365
Having the whole word be an image would also be better for accessibility, so we can set alt text on the whole thing.

[2015-05-20 13:01] heathv commented on #205
That image is placeholder. The idea is to have that be a changing featured image or video—ideally from a project.

[2015-05-20 14:19] srallen commented on #365
I initially had it up as an image and recently changed it to be letters + svg since it would be easier to style if the background changes regularly as @heathv mentioned in #205. It's also in the footer as a different color, so easier to style there too. However, if the vertical-align prop isn't consistent between browsers and the accessibility is a concern, I'll switch it to a set of images.

[2015-05-20 14:23] brian-c commented on #365
I'd keep the whole thing as an inline SVG component with the fill set to `currentColor` so we can use it anywhere.

[2015-05-20 14:32] rjsmethurst opened #366 "Manifests necessary for upload"
Current text for uploading images on a new project is:

![image](https://cloud.githubusercontent.com/assets/5754386/7728163/5ceaa9ba-ff05-11e4-94e4-4afa7f3eaabc.png)

As a first time user I didn't understand that a manifest was **necessary** to upload any images. I thought the drag and drop wasn't working. Also it's not clear what a manifest necessarily is. Can we bulk out the wording of this to e

[2015-05-20 14:35] srallen commented on #365
:+1: I'll have a PR up shortly.

[2015-05-20 14:37] brian-c opened #367 "Project image library"
Should be able to add and remove images and get their URLs.

[2015-05-20 14:44] #359 closed

[2015-05-20 14:49] camallen opened #368 "track classifications that have been seen before"
Add a `seen_before` attribute to the classification metadata and set the value to true when a volunteer (anonymous & logged in) has seen a subject before. E.g.

[code]

[2015-05-20 15:25] srallen commented on #364
I talked with @heathv about this this morning and the page design is being iterated on one more item based on some of the content coming, so I'm going to wait for the updated designs before fixing.

[2015-05-20 16:16] #360 closed

[2015-05-20 16:28] vrooje commented on #351
@brian-c worth adding this to the first-release milestone? Or just after? Hopefully it's a small thing but it's highly visible.

[2015-05-20 16:30] brian-c commented on #351
Yep, missed this, sorry!

[2015-05-20 16:35] vrooje commented on #366
Do you think the help text in #300 makes it clearer a manifest is necessary, or should there be additional text in the upload box too?

For example, it could say just after the bold sentence:
"The uploaded files must include a manifest and at least 1 subject image. [new paragraph]"

[2015-05-20 21:00] edpaget commented on #333
You can update passwords now. This is not an /api route so we can restrict domains allowed to do it, but making the following request should reset the password once zooniverse/Panoptes#861 is merged.

[code]

[2015-05-20 21:02] edpaget commented on #322
Actually @camallen has already explained this. After zooniverse/Panoptes#861 is merged the email will cause rails to redirect to `panoptes-front-end-url/#/reset-password?reset_password_token=asdfasdf`

[2015-05-21 09:13] #365 closed

[2015-05-21 09:58] aliburchard commented on #300
Thanks for doing this, Brian. We'll revise the help text in separate issues and I'll close this down.

[2015-05-21 09:58] #300 closed

[2015-05-21 09:59] aliburchard commented on #276
@brian-c any chance we could do this for the first release? I think it would be really really useful, and seems straightforward?

[2015-05-21 10:07] aliburchard commented on #226
@mkosmala @edpaget can we close this issue or is there still missing functionality?

[2015-05-21 10:09] #231 closed

[2015-05-21 10:13] aliburchard commented on #197
@edpaget @brian-c can we slugify the urls for first release? I think a lot of projects will want multi-word names (case in point - almost if not all of our zooniverse projects have 2 word names).

[2015-05-21 10:17] aliburchard opened #370 "Checklist for Project Builder First Release"
Wasn't sure where the best place to raise this was, but this seemed like a natural place. As mentioned yesterday, I've got a short list of items (open issues that haven't been marked for finishing by first release) that I'd really like to see when we launch this. @brian-c @chrislintott and anyone else, I'd appreciate thoughts on what's do-able (based on how important they are vs how easy they are)

[2015-05-21 10:27] aliburchard opened #371 "Allow description header and text"
Allowing a description header and a description text field would allow projects to make effective landing pages without having to open up the customization conversation (#295). The description header would appear in large bold text (as a header1 or something) and the description text would be plain text that is the same text rendered elsewhere on the site. In the example below,  "Help map the wild

[2015-05-21 11:05] mrniaboc commented on #252
I absolutely agree with @aliburchard on this one. It would be great if there was just a 'link to following task' option.

[2015-05-21 11:06] mrniaboc commented on #253
This is absolutely required.

[2015-05-21 14:11] #226 closed

[2015-05-21 14:14] edpaget commented on #276
@brian-c I'll add a backend option to filter on roles, so you'd do `?current_user_role=owner,collaborator`. Does that sound good?

[2015-05-21 14:27] brian-c commented on #276
Sounds good, thanks.

[2015-05-21 14:47] vrooje commented on #358
I found this useful recently, but did it with a bulk rename of images so that each image name in a subject set had a code specific to that subject set. Not meaningful unless you know to look for it (though users could reverse engineer it), and easy to do.

Perhaps useful as a stopgap before an actual if (user.collaborator==True) {subject_set.show()} type code is implemented.

[2015-05-21 15:13] camallen opened #372 "Capture the project ID a user has been prompted to sign up for"
Linked to https://github.com/zooniverse/Panoptes/issues/841

When prompting a user to sign in / signup after X classifications on a project, capture the project id and pass into the registrations end point as `{ project_id: Y }`.

[2015-05-21 15:28] michaelaye commented on #358
That's an excellent piece of pseudocode there! It shows so efficiently and coherently what my issue title fails so miserably at. ;)

[2015-05-21 15:29] aweiksnar opened #373 "Interface for talk role assignment"
An interface where users with privileged control (moderator, admin, etc...) are able to assign other users to roles of power

[2015-05-21 15:34] aweiksnar opened #374 "Provide links to invidual comments in a discussion"
Coming soon, depends on https://github.com/zooniverse/Talk-Api/issues/33

[2015-05-21 15:37] aweiksnar opened #375 "Add search results page for talk"

[2015-05-21 15:40] brian-c commented on #373
I strongly suggest we figure out how to integrate Talk roles with Panoptes roles, if not on the back end, at least on the front end. Talk is not a separate thing.

[2015-05-21 15:44] brian-c commented on #371
This is a design issue, The `description` field should not have been displayed on the landing page--my bad. Projects are free to have a big header and a little header in their `introduction`. @heathv, do you have time to draw up a new project landing page?

[2015-05-21 15:51] aweiksnar opened #376 "Collections interface"
Interface that allows users to choose which collections an object is assigned to
- UI that supports any of a user's collections
- Lets users create a new collection on the fly.
- Should be embeddable within the context of a subject view
- Similar functionality to current 'favorite' button

[2015-05-21 16:00] aweiksnar opened #377 "Commenting on individual objects"
- Bridge between classification interface and discussion section
- Living on the object page
- Will provide a link to contribute to existing discussions about objects (https://github.com/zooniverse/Panoptes-Front-End/issues/374)
- Also provides a link to start a new discussion about an object, for cases when users do not see a discussion that is related to what they want to say, or there are no di

[2015-05-21 16:14] DarrenMcRoy commented on #352
Can we rename the page to "Research" (seems to be the direction we are heading) and generally rename "Scientists" as "Project Team?" (Could also be "Researcher.")

[2015-05-21 16:25] aweiksnar opened #378 "Enable private boards"
- Moderators-only for v1.0, and then add an invitation system later
- Perhaps display them as a separate view so they do not get lost in the mix

[2015-05-21 16:34] aweiksnar opened #380 "Populate talk sidebar with interesting content"
- Links to interesting discussions happening in zooniverse-wide talk
- Latest hashtags
- Any data available
- Dropdown menu, linking to other project talks

[2015-05-21 16:38] DarrenMcRoy commented on #327
@mrniaboc Would you be able to please tackle the contact and social-media page content? You know all that stuff best. Can go in the same Zooniverse Home content doc.

[2015-05-21 16:42] aweiksnar opened #381 "Send email notifications on private messages"
- Users should be able to opt-out
- I believe this will be paired with https://github.com/zooniverse/Sugar

[2015-05-21 17:39] edpaget commented on #352
I'm fine with both those changes. Should they happen in the backend or just with the text displayed in the front end @brian-c ?

[2015-05-21 17:49] brian-c commented on #352
I think just changing it on the front end will be fine for right now.

[2015-05-22 08:05] CKrawczyk commented on #252
@aliburchard I am currently working on a more graphical workflow editor, a "proof of concept" demo can be found here: http://www.icg.port.ac.uk/~krawcyzc/workflow_editor/

It might be a little while before this is at a point were it can be put into the front-end, but I think it gives a more intuitive way of building a workflow.

![workflow_editor_example](https://cloud.githubusercontent.com/assets

[2015-05-22 11:30] vrooje commented on #296
Related: for one of the projects we're hoping to launch with it's sometimes hard to draw the marks (lines) as required because the lines need to overlap and the close button is sometimes exactly where I need to draw the second line; or it's big enough, and the line small enough, that I can't move the line.

![screen shot 2015-05-22 at 12 22 08](https://cloud.githubusercontent.com/assets/2357126/77

[2015-05-22 11:39] aliburchard commented on #252
Nice!! I'll give it a go!

On Fri, May 22, 2015 at 9:05 AM, Coleman Krawczyk <notifications@github.com>
wrote:

--
Alexandra Swanson, Ph.D.
Ecology & Citizen Science Postdoc
The Zooniverse
University of Oxford

[2015-05-22 12:39] drphilmarshall commented on #276
This is still not available on the demo site, so I'm going to assume that it's not actually fixed (right?). So:

+1

+1 from @aprajita whose project I am trying to edit

+1 from @anupreeta who needs to see the project we added her too with no explanation :-)

@aprajita, can you paste the URL of the project you just made into a reply, please? Thanks!

[2015-05-22 12:43] aprajita commented on #276
we just made…

http://demo.zooniverse.org/panoptes-front-end/#/projects/Aprajita/FaceWarps

On 22 May 2015, at 13:39, Phil Marshall <notifications@github.com> wrote:

[2015-05-22 12:47] drphilmarshall opened #383 "The Need For Speed: opt out of "end of classification" step?"
We'd like to emulate Space Warps' high speed classification system, which is basically a drawing workflow with no "end of classifications step". The link to the subject's Talk page would be available throughout the classification step, in order to enable one-click rejection of boring subjects. In a rare object search we want to be able to do something like:

Next! Next! Next! Next! Next! Next! Nex

[2015-05-22 13:22] astopy commented on #325
Closing as the last few commits have triggered everything as expected.

[2015-05-22 13:22] #325 closed

[2015-05-22 13:40] VVH opened #384 "Free text tool"
Hey @brian-c it would be great to have a free text tool. This would open up possibilities for all sorts of new projects and I think would be key to lots of disciplines in science, humanities and so on. If it were possible for this to be in place before July, that would be great. I'm teaching a workshop using Panoptes that month.

[2015-05-22 14:13] chrislintott commented on #373
e.g Project owner assigning moderators.

[2015-05-22 14:23] DarrenMcRoy commented on #373
Definitely the project owner should be able to convey roles; at the moment can only be done by staff/admins.

[2015-05-22 15:01] chrislintott opened #385 "Show expert classification data after classification"
(i.e. SpaceWarps like feedback)

[2015-05-22 15:02] chrislintott opened #386 "Mark gold standard data when uploading"
(As an alternative to expert mode)

[2015-05-22 15:33] #312 closed

[2015-05-22 16:01] camallen opened #387 "Default play subject set for a workflow"
Provide a mechanism to copy a default set of images to a workflow for testing / playground work. The "I Fancy Cats" project has a public set of CC licensed images for this http://demo.zooniverse.org/panoptes-front-end/#/projects/brooke/I%20Fancy%20Cats/science-case

The backend should already support this via linking the subject_set to the worfklow, [docs](http://docs.panoptes.apiary.io/#reference

[2015-05-22 20:08] willettk opened #389 ""Loading" text at the top of the screen causes everything to jump around"
When going from subject to subject, the word ```LOADING``` pops intermittently near the top left corner of the page. It makes the text jump up and down as you go from subject to subject, and leaves the webpage scrolled a few percent of the way down, even if you started at the top when clicking on "Done".

Can it be changed so that the ```LOADING``` text doesn't affect the placement of other elemen

[2015-05-23 05:29] mschwamb opened #391 "Implenting a pop-up already seen message as an interrupt"
I got the already seen orange banner on an image.

![screen shot 2015-05-23 at 1 17 11 pm](https://cloud.githubusercontent.com/assets/753325/7782521/22f97e38-014f-11e5-8163-1b4c8997e518.png)

 I'm not sure volunteers are going to understand what that means. I think just like there is now an active interrupt to ask people to sign in, a pop up would  be better here in addition to the little 'already

[2015-05-23 05:40] mschwamb commented on #292
This was added to Future plans, but will all of the Zooniverse projects now listed, but  I'm finding it hard to go through the project lists to find the project I'm working on to even check what text shows up on the Zooniverse home listing. if there is time to add in category filters before switching this to the active Zooniverse homepage I think that would be really helpful from a volunteer persp

[2015-05-23 08:34] mschwamb opened #392 "Uploading 9,000 subjects - any other way than drag and drop?"
We're going to be uploading on the order of 9,000 subjects and in the current system we either have to drag and drop all of them or highlight them in the file finder if you click on the upload text box. That's a bit cumbersome when you have thousands of subjects.  Is there any plan or option that the file uploader could be pointed to a directory and it would upload everything that is in the direct

[2015-05-23 11:21] aliburchard opened #393 "Error linking subject sets"
I've just created a new workflow ("How many each way")  on an existing project (http://demo.zooniverse.org/panoptes-front-end/#/projects/aliburchard/WildebeestWatch)

. I forgot to link to a subject set and went to classify. I received the "Error: No subjects available for workflow 1128" I went back to the builder and linked to an existing subject set that works for all the other workflows ("full

[2015-05-23 11:31] aliburchard commented on #393
As a follow up, I waited about 10 minutes, unlinked, then relinked, and waited some more, and then things worked. If it's just a slow process to link to the subjects, then we should put up some warning text somewhere, or perhaps make a more informative error message saying "THis will take a little while, please do X"

[2015-05-23 11:34] aliburchard opened #394 "How does marking/aggregation work for multi-image subjects"
@ggdhines and anyone who knows how the marks are being stored: you can mark on a multi image subject (e.g. http://demo.zooniverse.org/panoptes-front-end/#/projects/aliburchard/WildebeestWatch/classify?workflow=1128). How does that work? What's actually reported? What about when the images in a given subject don't have the same pixel dimensions?

[2015-05-23 11:35] aliburchard commented on #282
Closing this issue but picking up a discussion re: multi-image functionality in: #394

[2015-05-23 11:35] #282 closed

[2015-05-23 11:38] aliburchard opened #395 "Automatically stop playing of multi-image subjects after 3 loops"
Right now the play button runs through the images until you click stop. If you try to scroll up the screen to, say, access links that are out of view, it automatically scrolls backdown. Also, you have to automatically stop it if you want to mark on the subjects.

Can we have it automatically loop a couple of times like in Snapshot Serengeti and then stop? (And in time for first release?) I've got

[2015-05-23 11:56] aliburchard opened #396 "Add sub-tasks ("set up details") for questions as well as drawing tools?"
I realize this won't happen in time for first release, but it's coming up on a pretty basic project build. I have an image with a whole bunch of wildebeest, and I want to know how many are moving in each direction. There are 8 possible directions. Users can select all that apply, so the conditional "next task" depending on the answer to the question doesn't work.

Under the current set up, I can't

[2015-05-23 12:04] aliburchard opened #397 "Add keyboard "esc" to close help pop up"
Is this at all do-able quickly/easily? Hitting esc to close a pop up menu seems so intuitive and speeds up the classification process, instead of having to navigate over to the little x in the corner...

[2015-05-23 12:39] mschwamb opened #398 "Ability to download the metadata of the subjects"
The csv file output provides the classifications, but if I want the metadata associated with the subjects, I would need to unique the classification csv file which can be slow with millions of classifications.  It would be nice if it's possible to have an option to download separately the metadata associated with the subjects stored for the project in a csv file.

[2015-05-23 12:45] mschwamb opened #399 "Ability to specify who the data export csv file gets sent to"
Right now when you click the download the data export button, it goes to everyone associated with the project.  I think it should only go to the user who's requesting it, rather than everybody such that you're not spamming the science team if you request the data dump a few times.

[2015-05-23 13:18] mschwamb opened #400 "Adding ability to easily identify whether the classification is logged in or non-logged in & adding the Zooniverse ascii username to the csv database dump"
I downloaded the csv file generated from my project's classifications. I found a few things missing or confusing as someone who will analyze the classifications in part from the raw data.

There's no easy way that I can I can identify non-logged in volunteer classifications from logged in classifications. Is it if the user id number is negative? It would be nice for a clearer way to show that in t

[2015-05-23 13:37] mschwamb commented on #398
I should mention on reason for this is that there have been cases where I've downloaded on previous projects a subset of the subjects to review by hand. Only the metadata csv would have the url links to the saved subjects, that info isn't in the classification csv file

[2015-05-23 16:44] mschwamb opened #401 "If I mouseover the mailbox icon the profile menu shows up"
I found it a little bit confusing then when I mouse over the mailbox icon the profile menu drops down. I know that I can click on the mailbox, but other people might get confused. See screenshot below:

![screen shot 2015-05-24 at 12 40 31 am](https://cloud.githubusercontent.com/assets/753325/7784979/f0561450-01ad-11e5-9722-54da266ac50c.png)

[2015-05-23 19:35] melaniebeck opened #402 "Error linking subjects"
After uploading a subject set and associating it with a given workflow, I am having problems with classification. When I go to classify images, I can get through a half dozen before I get the "Error: No subjects available for workflow XXX". I try to refresh the page but can't get a new image to load. The only way to fix it is to sign out, go back to the Project, classify a few without signing in a

[2015-05-23 20:59] edpaget commented on #402
I think this is a duplicate of #393

[2015-05-23 21:38] melaniebeck commented on #402
I disagree. #393 references how long it takes for the images to load initially. My issue is that even once they HAVE loaded, they stop randomly and error out.

[2015-05-23 22:04] edpaget commented on #392
I'm don't think we'll have anything in the next few days, but you can look at either @mkosmala's script https://github.com/mkosmala/PanoptesScripts/blob/master/panoptesPythonAPI.py#L449-L484 or @brian-c's utility https://github.com/zooniverse/panoptes-subject-uploader to see if either works for you.

Since subject creation just happens through an HTTP interface, that's documented [here](http://doc

[2015-05-24 02:57] mschwamb commented on #392
Thanks @edpaget. We'll try that or just deal with the webform, but some sort of project builder solution in the future would be helpful especially for science teams where playing with the API directly wouldn't be doable.

[2015-05-25 03:08] mschwamb opened #404 "Adding a description of what the lab is when non-logged in users navigate there"
Currently all you get is 'You need to be signed in to use the lab' if you navigate to the lab page when not logged in. It might be worth a better description of what the lab is especially for new researchers that might be checking out the Zooniverse home page but don't yet have an account.

![screen shot 2015-05-25 at 11 07 55 am](https://cloud.githubusercontent.com/assets/753325/7791192/5b6f637e-

[2015-05-25 11:47] vrooje commented on #404
Possible text we could use for that page:

The project builder allows anyone to create a collaborative research project.

You can use the project builder to upload your data, specify what tasks need to be completed by your team of other researchers and volunteers, and tell people about your research goals.

You need to be signed in to use the project builder. New builders might be interested in ou

[2015-05-25 11:49] vrooje commented on #399
Does it go to everyone associated, or just the collaborators?

[2015-05-25 11:51] vrooje commented on #392
As a band-aid solution, putting all (and only) the subjects into a folder, then doing a select-all in the folder makes the drag-and-drop easier.

Have never tried to upload 9,000 subjects at a time, though, so I may be missing something.

[2015-05-25 12:01] vrooje opened #405 "playthrough of multi-image subjects: a little fast?"
When I click play on a multi-image subject it feels to me like the images cycle a bit too quickly for at least some research cases.

Example: I've got a set of subjects with (image, inverted_image) apiece, and when I press play it's fast enough that it's

- unpleasant, to the point where I wondered if I need to put a seizure trigger warning up; and
- hard to get a sense of either image before the

[2015-05-25 12:08] vrooje commented on #393
I think this may have been repeated by @aprajita, who reported this issue to me on a test project, but by the time I'd been added to the repo to try and look into it, the subjects were linking fine.

[2015-05-25 13:52] mschwamb commented on #399
I don't have anyone else linked in other than on the collaborator setting.

[2015-05-25 13:55] mschwamb commented on #392
Yes, but that's fine for soft launch but that get's harder when it's 120,000 subjects.

[2015-05-25 21:11] vrooje opened #406 ""Get invovled" front page button"
On the new production "preview" site the main button text is misspelled.

[2015-05-25 21:35] vrooje opened #407 "workflow editor: new task buttons should be more obvious"
The "Add task" buttons are really small compared to the other buttons, and formatted differently too. During demos of the project builder it doesn't seem clear to others that these are the main buttons to start with when designing workflows. I think they need reworking in format to draw more attention to them.

[2015-05-25 21:43] vrooje opened #408 "Workflow editor: No new task should be pre-defined"
In demonstrations to newcomers to Panoptes, the double-column layout of the workflow editor seemed a bit confusing: it wasn't clear that the left column is the summary side and the right column is the task details side.

There are probably many ways to indicate this with design, but one option is to *not* pre-populate the workflow with a question task, and have the right column load blank. Then wh

[2015-05-25 21:56] vrooje opened #409 "Panoptes preview: getting 403 when uploading avatars/images"
On the non-demo site, tried uploading an avatar image to my own account, then a project avatar and background. Got a 403 each time.

![screen shot 2015-05-25 at 22 55 30](https://cloud.githubusercontent.com/assets/2357126/7802603/36fcd536-0331-11e5-939d-6a7136bb6fc7.jpg)

[2015-05-26 00:08] vrooje opened #410 "Workflow version numbers seem a little big"
Just wanted to make sure this isn't a bug... I think the numbers are increasing correctly but they just seem really huge.

![screen shot 2015-05-26 at 01 07 48](https://cloud.githubusercontent.com/assets/2357126/7803297/b805fbe6-0343-11e5-9ee5-3d18b950be37.jpg)

[2015-05-26 00:10] vrooje commented on #404
tagging @chrislintott @mrniaboc @DarrenMcRoy to check the text.

[2015-05-26 01:55] aliburchard commented on #410
Yeah - this has also been raised as a question by some users...

[2015-05-26 10:51] vrooje opened #411 "Panoptes preview site: getting 401 when trying to delete a subject set"
![screen shot 2015-05-26 at 11 49 47](https://cloud.githubusercontent.com/assets/2357126/7810842/77532dee-039d-11e5-9763-30f9e8eb6cf2.jpg)

[2015-05-26 10:53] camallen opened #412 "Preview site is using talk-staging"
On the preview site, we should just turn talk off for the moment as well as point to the production talk servers (when they come online).

[2015-05-26 10:55] vrooje commented on #411
Hmm, hang on, I reloaded the page and all was fine. Timeout, maybe?

[2015-05-26 12:11] perry opened #413 "Flexbox issues in Safari"
The homepage in Safari 8.0.7

![](http://i.imgur.com/tDv8ejn.png)
![](http://i.imgur.com/YzYdfgR.png)

[2015-05-26 12:48] mrniaboc commented on #404
Should perhaps add a big 'sign in' button at the end?

[2015-05-26 13:46] mrniaboc commented on #185
Very much agree that we should go for one or the other, but I don't see why it shouldn't be 'Talk'. That's what we all call it in house. It's what all the super-users call it. I see the point about making it sound like a separate area, but that is not tied to the name. That is a language issue. I.e. 'Go to Talk' vs 'Talk about this'.

[2015-05-26 13:50] DarrenMcRoy commented on #185
I've been moving more and more towards "Discuss." I'm even up for using that as the name for the new Talk: the new Talk is "Zooniverse Discuss." Been using that name in all the new writing so far.

But I share Grant's concern about changing a successful branding.

[2015-05-26 13:51] vrooje commented on #185
I prefer Discuss slightly because it's got more of a community feel to it, but it's only a slight preference. I like Talk as the brand too.

[2015-05-26 14:03] aweiksnar commented on #185
For the buttons, We could do something like ":globe_with_meridians: Talk" for zooniverse talk and ":milky_way: Talk" for projects.

I kinda like "Talk" because it seems to work better as a noun

[2015-05-26 14:10] alexbfree opened #414 "Typo on Front Page!"
There is a typo on the front page, the Get Involved Now button says "Get invovled now"

[2015-05-26 14:17] srallen commented on #406
This was fixed in a PR late last week that was merged in. You can see it on [demo] (http://demo.zooniverse.org/panoptes-front-end/#/), but it looks like the latest merge hasn't been pushed up to the preview site. I would presume it'll get there eventually.

[2015-05-26 14:18] srallen commented on #414
Repeat of #406. Fixed also already been merged in, but preview site doesn't have the latest changes it appears.

[2015-05-26 14:19] alexbfree commented on #414
ok thanks. closing

[2015-05-26 14:19] #414 closed

[2015-05-26 14:19] srallen commented on #413
See my comments for #364.

[2015-05-26 14:38] #333 closed

[2015-05-26 16:07] mschwamb opened #415 "Registering for a Zooniverse Account Don't Have a Sign Up for Being a Beta Tester"
Hiya,
This might be something already decided internally, but I noticed that the register pop-up box doesn't have an option to sign up to be a beta tester. Maybe that's being done differently now, but I thought I'd mention it.

[2015-05-26 16:09] mschwamb commented on #415
Should mention what I'm referring to from the  Ouroboros signup box. It says 'I would like to receive notices with opportunities to test and provide feedback on unreleased Zooniverse projects.' - Maybe that was just about getting newsletters and not beta tests?

[2015-05-26 16:25] vrooje commented on #406
Cool, thanks, I'll keep an eye on it!

[2015-05-26 17:49] #276 closed

[2015-05-26 18:01] #342 closed

[2015-05-26 18:01] #401 closed

[2015-05-26 18:07] aprajita opened #417 "Error: Couldn't find project"
Hi there

Since today I can't seem to 'View' the demo projects I created in Panoptes, although I can edit

e.g. http://demo.zooniverse.org/panoptes-front-end/#/projects/Aprajita/FaceWarps
http://demo.zooniverse.org/panoptes-front-end/#/projects/Aprajita/SpaceWarpsRings

Any ideas what might be wrong?

Thanks very much
Aprajita.

[2015-05-26 18:20] edpaget commented on #417
I'm not sure if this will work because your projects are private, but if you try with your name lower-cased as in http://demo.zooniverse.org/panoptes-front-end/#/projects/aprajita/FaceWarps are you able to see it.

We're in the process of making urls more consistent, and somethings might not be fully working on our demo site yet.

[2015-05-26 18:21] aprajita commented on #417
Thanks @edpaget, that works!

Should I re-register on panoptes with a lower case username?

Thanks
Aprajita.

[2015-05-26 18:23] edpaget commented on #417
Nope your name should be fine. @brian-c was still working on adapting the site to use the new regularized urls. Everything should be handled automatically when he's done.

[2015-05-26 18:23] #417 closed

[2015-05-26 18:46] aprajita commented on #417
OK, thanks @edpaget!

[2015-05-26 19:21] #197 closed

[2015-05-26 19:30] brian-c commented on #387
To clarify: we want a button on the workflow editor to add a link a pre-made subject set of pictures of cats?

[2015-05-26 19:58] brian-c commented on #303
Added in #324.

[2015-05-26 19:58] #303 closed

[2015-05-26 20:00] camallen commented on #387
Yep.

@chrislintott are you happy for the set of cat images from Brooke's project to be used as a default subject set that project builders can play around with?

[2015-05-26 20:39] melaniebeck opened #421 "data export .csv issues"
The generated .csv output classification file has some problems.
In my manifest.csv I included a unique object ID number as well as the jpeg image name. The output.csv file ("subject_data" header) has all of my object ID numbers rounded to the nearest 100. Additionally, there were "&" characters in the jpeg file name and these were written out as "\u0026" in the output.csv file.

[2015-05-26 20:41] #322 closed

[2015-05-26 20:57] camallen commented on #421
Can you please give an example of the incorrect output vs what you expected? I.e. What did you original object ID numbers look like?

[2015-05-26 21:15] melaniebeck commented on #421
Incorrect                       What I expected
588848899891200400 588848899891200431
587725774528840100 587725774528840122
588848900998824200 588848900998824150

[2015-05-26 21:28] brian-c commented on #421
Probably relevant: [Number.MAX_SAFE_INTEGER](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Number/MAX_SAFE_INTEGER).

I wonder if quoting the value in the CSV would be enough to tell the parser not to interpret it as an integer.

[2015-05-27 03:38] #421 closed

[2015-05-27 09:46] chrislintott commented on #415
Nice catch - @mrniaboc I assume this is still needed?

[2015-05-27 12:01] mschwamb opened #423 "Weird dashed box appears over navigator menu title for the page you're on if you click to another tab in Firefox and come back"
Not sure if the title makes any sense, but in the latest version of Firefox (38.0.1) on OS X Yosemite when
I navigate to a page for a project (let's say science page _ and then say go to any open tab in my browser and then go back to the Zoonvierse project this weird dashed outline box is now surrounding the world science.

Screenshot is below after I come back to the Talk from viewing another tab

[2015-05-27 12:29] eatyourgreens commented on #423
That's the browser's default indicator for the element that currently has keyboard focus. You might be able to turn it off through Firefox's accessibility settings, otherwise go into the browser config through about:config, search for browser.display.focus_ring_width and set it to 0 to get rid of it.

[2015-05-27 12:44] alexbfree commented on #371
Maybe this is already covered elsewhere, but I just happened to click into here and thought I would add a suggestion: That body text and the footer text below it really need a big left and right margin to increase readability!

[2015-05-27 13:24] mrniaboc commented on #415
Yes, it would be good to have that option present. That way we can keep the beta list fresh.

[2015-05-27 14:16] melaniebeck opened #424 "Images don't retire?"
I had set the Subject Retirement classification count to 10 for my project but when I downloaded the data,  some images had been classified upwards of 30 times.

[2015-05-27 14:19] edpaget commented on #424
You're project has to be in a 'Live' state for objects to retire. I think we're still implementing the interface for setting your project state.

[2015-05-27 14:22] melaniebeck opened #425 "Repeat Images while logged in"
While classifying as a logged in user, I would come across an image I'd already classified. After classifying it again, the site would crash (I sort of mentioned this in #402 but I didn't understand the real problem then). I logged out, then logged back in. I would get the same image again only this time the site didn't seem to recognize that I'd already classified it and it didn't crash. Until it

[2015-05-27 14:22] melaniebeck commented on #424
Aaah! I got it. Thanks, sorry about that.

[2015-05-27 14:23] edpaget commented on #424
Yeah we just figured people wouldn't want subjects to retire while they were still testing their project out.

[2015-05-27 14:23] #424 closed

[2015-05-27 14:33] melaniebeck opened #426 "Choosing a random image?"
I uploaded a rather large sample of images (~6000, and maybe that was the problem itself?). They seemed to upload just fine and were all listed on the Subject Sets page. However, when classifying (while not logged in) I would get repeats extremely frequently. I know repeats are expected when not logged in, but at what rate? With 6000 images to choose from, it seems unlikely to get 10 repeats in a

[2015-05-27 14:34] chrislintott commented on #426
Hi Melanie - was this today, or a while back?

C

[2015-05-27 14:37] melaniebeck commented on #426
Monday was the last time I tried. I just didn't get a chance to report it sooner. My bad on that account. I'm actually uploading the same set of 6000 to the New and Improved site as we speak.

[2015-05-27 14:54] mschwamb commented on #423
Thanks. I'll close the issue then.

[2015-05-27 14:54] #423 closed

[2015-05-27 15:01] melaniebeck commented on #426
Okay -- It just happened again on the new site. I received 8 repeats in a row while logged in. I've classified ~100 out of ~1000.

[2015-05-27 17:31] vrooje commented on #426
Is that 8 of the same subject in a row?

When I was doing this months ago I was repeating the same ~10 subjects over and over in sequence. Is it like that?

[2015-05-27 17:36] melaniebeck commented on #426
No, it was 8 "unique" repeat subjects in succession. It hasn't happened again today -- just that once this morning.

[2015-05-27 17:38] vrooje commented on #426
yikes. It's pretty important this doesn't happen to users.

[2015-05-27 19:29] edpaget commented on #426
Yup I'm working on it.

[2015-05-28 00:19] aliburchard opened #429 "Can't save changes to project"
Any ideas? Possibly a back-end issue (@camallen @edpaget)

![screen shot 2015-05-27 at 19 14 11](https://cloud.githubusercontent.com/assets/6217406/7850216/a04bb6aa-04a4-11e5-9d99-482290742307.png)

[2015-05-28 00:21] aliburchard commented on #429
And this...
![screen shot 2015-05-27 at 19 20 42](https://cloud.githubusercontent.com/assets/6217406/7850291/8ac85b0c-04a5-11e5-9b93-ebf049c58920.png)

[2015-05-28 01:46] aliburchard commented on #409
Me too!! Why is this happening??

[2015-05-28 08:05] #426 closed

[2015-05-28 08:05] #393 closed

[2015-05-28 08:05] #402 closed

[2015-05-28 10:26] vrooje commented on #407
Unsure whether to tag @brian-c or @heathv (or both) for this and #408...

[2015-05-28 10:27] vrooje commented on #406
Yep, fixed.

[2015-05-28 10:27] #406 closed

[2015-05-28 11:12] vrooje commented on #429
Usually I get the 401 after I've left a window up for a long time and then come back to it; if I reload it fixes things. I think it may be unrelated to the 403 error in Zooniverse/Panoptes-Front-End#409 but I'm not sure...

[2015-05-28 11:47] chrissnyder commented on #429
Session timeout after two hours. Possibly the cause?

[2015-05-28 12:07] vrooje commented on #429
Is there any way to put up a more helpful error message, or refresh the session in the background, or something similar?

[2015-05-28 12:07] vrooje commented on #429
PS - this is the same as #411, right?

[2015-05-28 14:03] edpaget commented on #429
@vrooje yes they are they same.

[2015-05-28 14:04] edpaget commented on #409
I know what's up with this sorry. It'll be fixed shortly.

[2015-05-28 15:17] edpaget commented on #409
This should be fixed now. You may have to log out and back in.

[2015-05-28 15:17] #409 closed

[2015-05-28 15:44] rjsmethurst commented on #425
This just happened to me as well. On the beta test of the Bars Project. I get the same 10 images on repeat. It tells me that though - with a handy little red ribbon telling me "Already Seen" - but I know there's ~380 images uploaded. I was logged in too. This happened to me yesterday first time and then again today. Same 10 images if I remember right. This is a pretty big bug... @edpaget did you g

[2015-05-28 15:45] camallen commented on #425
Yep - i've figured this bug out, it was appending a list of id's without using a set function so dups crept in. Hope to have a PR in soon.

[2015-05-28 16:30] vrooje opened #431 "username input uses shouldn't be case-sensitive"
In the new login and the collaborators area of the project builder, you have to input usernames in the correct case or the request doesn't work. Not sure whether this is an intended feature or not but it is probably going to confuse a lot of people... I've seen it twice so far just with our initial users.

[2015-05-28 16:34] edpaget commented on #431
This is a backend issue zooniverse/Panoptes#901

[2015-05-28 16:34] #431 closed

[2015-05-28 16:34] vrooje commented on #431
oops! sorry :)

[2015-05-28 17:42] edpaget opened #432 "Avatar and Background Boxes look funny"
I don't know if it's just my browser or the window size, but they're really oddly sized on my screen.

Firefox 38 on Debian Sid
![screenshot from 2015-05-28 12 41 13](https://cloud.githubusercontent.com/assets/108177/7866759/10769b1a-0537-11e5-986b-59e35d66a20c.png)

[2015-05-28 17:52] aliburchard commented on #432
I get that too!

[2015-05-28 19:27] #425 closed

[2015-05-28 20:50] aliburchard commented on #411
This is working for me now -- Brooke - is this fixed for you?

[2015-05-28 21:00] aliburchard commented on #408
Along the same lines of  #245.

[2015-05-29 03:33] melaniebeck commented on #432
Same here

[2015-05-29 11:13] camallen opened #435 "Preview site has missing project(s) error on home page"
The bottom of the home page lists some projects that we've selected. These Project id's are invalid on the prod system and an error message is displayed.

![missing_project](https://cloud.githubusercontent.com/assets/295329/7881545/11f82eca-05fc-11e5-9609-52504aa6ccbe.jpg)

[2015-05-29 12:25] melaniebeck opened #436 "Trouble uploading subject set"
When uploading a second subject set to my project, the pop-up box shows that images area being uploaded but never seems to complete the process and hangs here (I've tried four times now with the same results):
![screenshot from 2015-05-28 23 08 26](https://cloud.githubusercontent.com/assets/7946684/7876300/3d54ae1c-058f-11e5-9886-d19abd2020c3.png)

I've tried clicking the X and refreshing the scre

[2015-05-29 12:52] camallen commented on #436
I'm pretty sure this is related to the limit of 1000 subjects per user.

@brian-c, @edpaget perhaps we need to check how many subjects a user can upload before attempting to create subjects in the backend. Perhaps GET `/user/subject_limits` for a logged in user to get a count of subjects and the users current limit?

@melaniebeck - in future try uploading in smaller batches as well. You don't need

[2015-05-29 13:04] edpaget commented on #436
@camallen we should probably add it to the user serializer, maybe only visible to the uploading user https://github.com/zooniverse/Panoptes/blob/master/app/serializers/user_serializer.rb#L6-L8

[2015-05-29 13:05] camallen commented on #436
@edpaget much better idea!

[2015-05-29 13:16] camallen commented on #436
@melaniebeck we just bumped the subject limit, do you want to try again?

Also out of interest how many subjects do you want to upload in total for this project (both now and long term).

[2015-05-29 14:08] melaniebeck commented on #436
Ah! I see! That makes sense. Thanks for the clarification.
My original sample is ~6000 images. I've been putting them up in smaller ~1500 image chunks. Wednesday I successfully uploaded a sample of 1330 images (to preview panoptes) so I didn't realize there was a cap. I will make the chunks smaller.

[2015-05-29 14:10] camallen commented on #436
@melaniebeck - I don't think the limit was setup on wed.

[2015-05-29 14:12] melaniebeck commented on #436
I just tried to upload 1000 and it's still not working. I'll try smaller.

[2015-05-29 14:26] melaniebeck commented on #436
I can't upload 4. Just hangs on that screen.

[2015-05-29 14:27] camallen commented on #436
@brian-c ?

[2015-05-29 14:30] edpaget commented on #436
@melaniebeck can you try again and when it fails open Chrome's console by pressing Command + Option + J (or going to the Chrome Menu then More Tools then JavaScript Console) and take a screenshot of that? It should show an errors happening there.

[2015-05-29 14:31] brian-c commented on #436
I've got it on my list to display subject creation errors. Thought this was in already. Sorry.

[2015-05-29 14:48] melaniebeck commented on #436
![screenshot from 2015-05-29 09 47 46](https://cloud.githubusercontent.com/assets/7946684/7885130/d31acadc-05e7-11e5-8c29-9f1d51b624a5.png)

[2015-05-29 14:50] camallen commented on #436
expired login session perhaps? Can you please try and logout and login again.

[2015-05-29 14:51] edpaget commented on #436
Nope it looks like the subject limit didn't change on Production. Just need to bump it to 10k

[2015-05-29 15:36] camallen commented on #436
@melaniebeck subject limit has been bumped for real this time (my bad). Can you please try again?

[2015-05-29 15:43] melaniebeck commented on #436
Worked with a < 1000 sample. Trying it with the sample of 1670 now.

[2015-05-29 15:57] melaniebeck commented on #436
Larger sample worked too!

[2015-05-29 15:58] camallen commented on #436
@melaniebeck great news, feel free to close the issue if you think it's resolved.

[2015-05-29 16:03] #436 closed

[2015-05-29 16:04] brian-c opened #438 "Display subject creation errors"
Where's the feedback? Noticed in #436.

[2015-05-29 16:19] brian-c opened #439 "Project cards lost their avatars"
@srallen mind fixing this? I should have caught this in review, sorry.

[2015-05-29 16:25] srallen commented on #439
Sure, I'll take a look.

[2015-05-29 16:46] melaniebeck opened #441 "Repeat every 19th image while logged in"
I've counted through a three cycles of this now. I may be off by one -- it might be 18 or 20 images before the repeat but I'm pretty sure it's 19.

[2015-05-29 16:53] melaniebeck commented on #441
Nope, it's 20. I get 19 new images and the 20th is a repeat every time.

[2015-05-29 17:34] mkosmala opened #443 "Survey responses (summarized) from Season Spotter beta"
@brian-c @mrniaboc @DarrenMcRoy @aliburchard @chrislintott
I know y'all are super busy with launching Panoptes, so I'm making this an issue you can refer back to later. But it might be helpful in guiding responses back from Panoptes beta.

We had 41 survey responses to our beta test, which is great, but it's a lot to go through. So I thought I'd summarize the Panoptes-related feedback from respons

[2015-05-29 17:34] melaniebeck commented on #441
When it repeats, the repeat image is from exactly 10 images prior.

[2015-05-29 17:44] mkosmala opened #444 "Credited name doesn't appear in 'Settings'"
I just created a new user on preview. In doing so, I entered a 'real name'. But this name does not show up on the 'Settings' page in the box for 'Credited name'.

[2015-05-29 17:47] edpaget commented on #441
Is your project private? Would you mind linking me to it or adding me so I could see if I can replicate?

[2015-05-29 17:51] melaniebeck commented on #441
It's public: http://preview.zooniverse.org/panoptes/#/projects/highzgal/gz2redo-take2

[2015-05-29 18:50] edpaget commented on #441
This should be fixed once the next deploy finishes.

[2015-05-29 18:50] #441 closed

[2015-05-29 18:52] brian-c commented on #441
Just deployed to preview.

[2015-05-29 18:55] willettk opened #446 "Send data dump to requestor only, not all collaborators."
When I request a CSV data dump via email, it gets sent to all collaborators on the project. Can we change that to only the person who requested it? I can foresee people being annoyed if you're on a large collaboration and someone requests data dumps every hour. @melaniebeck

[2015-05-29 19:00] camallen commented on #446
@willettk how about an option to mail collaborators as well (default false)?

[2015-05-29 19:02] willettk commented on #446
Good idea! - might be the easiest way to share recent data. Fine by me, as
long as the default is false.

On Fri, May 29, 2015 at 2:00 PM Campbell Allen <notifications@github.com>
wrote:

[2015-05-29 21:09] #439 closed

[2015-05-29 21:23] edpaget opened #448 "Include desired recipients in classification exports create"
After zooniverse/Panoptes#916 is done. You'll need to specify recipients for the classification exports notification email. Basically you just include their ids in the metadata hash you can pass to that endpoint.

[code]

Thinking more the requesting user could probably just be included by default by the backend, too.

[2015-05-30 20:31] mschwamb commented on #446
See #399 as well

[2015-06-01 14:11] DarrenMcRoy commented on #354
I think we have a good idea on our direction for this now!

[2015-06-01 14:11] #354 closed

[2015-06-01 14:25] brian-c commented on #435
Closed by #440.

[2015-06-01 14:25] #435 closed

[2015-06-01 14:27] brian-c commented on #367
Added in #437.

[2015-06-01 14:27] #367 closed

[2015-06-01 15:25] DarrenMcRoy commented on #404
That content looks perfectly good, @vrooje -- no objections or edits here.

I agree with @mrniaboc that a big ol' sign-in button is a very good idea.

[2015-06-01 15:28] #444 closed

[2015-06-01 15:37] aliburchard commented on #289
Seems all better now.

[2015-06-01 15:37] #289 closed

[2015-06-01 15:46] aliburchard opened #451 "subject linking still breaking"
Apologies if this is a duplicate; I couldn't find the issue about it.

A science team I'm working with is still getting "No subjects available for workflow" errors, even after waiting several minutes after linking the subject set to the workflow. Is this still an expected issue for now?

![screen shot 2015-06-01 at 8 33 42 am](https://cloud.githubusercontent.com/assets/6217406/7916763/cf8eac74-087

[2015-06-01 15:49] camallen commented on #451
I know what this error is. Is this on demo?

[2015-06-01 15:52] aliburchard commented on #451
It's specifically happening on the preview site (haven't checked on demo since we moved over).

[2015-06-01 16:28] camallen commented on #451
Should be fixed now, checking with the user again.

[2015-06-01 16:35] DarrenMcRoy commented on #443
Thanks for this, @vrooje -- Just a couple thoughts.

2 - Is there a reason that we can't use a drawing tool similar to what we use on Floating Forests to select kelp beds? That tool has always worked fairly smoothly and seems to be self-explanatory. It also offers unlimited free-draw... no shape restrictions or anything.

3 - This has been an overwhelmingly common response to many of our existing

[2015-06-01 16:58] mkosmala commented on #443
2. I would love to see something similar to Floating Forests for a draw tool. Agreed that it is intuitive. But I don't think "free draw" is "in scope" for first release. @brian-c, right?
2. Also, one issue is multiple drawing tools within one "question". It doesn't always seem to work right to switch between tools.
7. Seems like keyboard would be simple for the multiple-choice questions. I'll open

[2015-06-01 17:00] DarrenMcRoy opened #452 "History of the Zooniverse - who can help?"
(NOTE: THIS ISN'T PLANNED FOR FIRST LAUNCH AND SHOULD BE LOWER PRIORITY TO THINGS THAT ARE!)

The next ZooHome page that I'd like to work on would be a History of the Zooniverse page... nothing too in-depth, maybe 6-7 grafs.

However, as more of a newcomer than most, I could use some help putting that together, from some folks who have been around longer than I. Would anyone be willing to voluntee

[2015-06-01 17:02] mkosmala opened #453 "Keyboard support for 'question' workflows"
Please allow users to use their arrow keys and 'enter'/'return' to navigate the 'question' style workflows.
See also #397

[2015-06-01 17:31] brian-c commented on #443
A free drawing tool is marked first-release (#198). @simensta are you still going to be working on this?

[2015-06-01 17:35] mkosmala commented on #443
Oooh! Keep me in the loop on the free drawing tool. I'll integrate it into Season Spotter as soon as it's ready.

[2015-06-01 17:59] edpaget opened #454 "Change Classification Exports URL"
Once this is done, https://github.com/zooniverse/Panoptes/pull/916, classifications exports will be at `/projects/{id}/classifications_export`. They will be included in the project's links, so authorized users can retrieve a link to the most recent export by doing a GET to the same URL.

You'll also be able to add recipients, by user_id in the metadata as `{ recipients: [1,2] }`.

[2015-06-01 18:35] DarrenMcRoy commented on #443
Also, one other thing that occurred to me: We're doing some testing on this with iPads/tablets, right?

Bugs with tablets have plagued several Ouroborous projects for some time now. I'd like to make sure that users get a chance to test Panoptes stuff extensively on tablets. :-)

[2015-06-02 02:27] melaniebeck opened #456 "Projects disappeared?"
Was a big change implemented? "The Lab" button no longer appears at the top near the user name and my project no longer appears on the Projects page (it was a public project).

[2015-06-02 03:13] melaniebeck commented on #456
Sorry -- I found where the project is but I still can't find where I can download the data. It's as though I no longer have access to The Lab entirely and can only classify on the project I created.

[2015-06-02 03:23] brian-c commented on #456
The lab link has been removed temporarily. It's still available at `http://preview.zooniverse.org/panoptes/#/lab`.

[2015-06-02 03:34] melaniebeck commented on #456
Thanks, Brian

[2015-06-02 03:34] #456 closed

[2015-06-02 07:41] #399 closed

[2015-06-02 07:41] #446 closed

[2015-06-02 09:00] eatyourgreens commented on #278
I've started the [scaleable-subject](/zooniverse/Panoptes-Front-End/tree/scaleable-subject) branch to work on this, rendering the subject as an SVG image so that we can crop and zoom by changing the SVG viewbox (like Science Gossip.)  I should have time to work on it this week.

Did you have any thoughts on how the UI would work for cropping? Draw a rectangle, and the image crops down to that rect

[2015-06-02 09:19] chrislintott commented on #452
Perhaps you could base this on the blog?

[2015-06-02 09:21] chrislintott opened #457 "Logging in on preview version breaks css"
![screen shot 2015-06-02 at 10 06 48](https://cloud.githubusercontent.com/assets/423607/7932551/032c8f5e-0911-11e5-8257-772a5a2d45e8.png)

(Chrome 43.0.2357.81, not repeated on current demo site)

[2015-06-02 12:07] mschwamb commented on #415
@chrislintott  Should this get labeled as for first release?  The preview site doesn't have an option for signing up to participate in betas?

[2015-06-02 12:17] mschwamb opened #458 "Migrating over P4: Terrains from Demo to Preview site?"
@chrislintott said that sometime soon that P4: Terrains could be migrated from the demo to preview site, and that we should stop making changes to the P4: Terrains project on the demo site in preparation. Is this still happening?Or do we need to rebuild it from scratch on the preview site?

Also my account and Michael Aye's on the preview site don't have access to the project builder, so I can't r

[2015-06-02 12:33] camallen commented on #458
@mschwamb - i'm doing this today.

[2015-06-02 12:48] mschwamb commented on #458
On 6/2/15 8:33 PM, Campbell Allen wrote:

Thanks @camallen

[2015-06-02 13:02] brian-c commented on #457
Couldn't reproduce this, are you sure it's changing on sign-in? It looked okay before?

Design for that section has changes coming, too: #364.

[2015-06-02 14:05] aliburchard commented on #451
seems fixed. I'll re-open if it crops up again.

[2015-06-02 14:05] #451 closed

[2015-06-02 14:18] srallen commented on #457
I've noticed this issue in webkit browsers, but can't get it to reproduce consistently. That being said and as I noted in the earlier issue, another design iteration is coming for the actual content. I'll update it once I get a more concrete design from @heathv.

[2015-06-02 15:45] mkosmala commented on #443
@DarrenMcRoy Drawing tools did not work well on tablets in our beta, at least for some users.

[2015-06-02 15:46] DarrenMcRoy opened #460 "Discussion: What types of projects are there, and what do we call them?"
Hey all,

I think it would be good for us to lock down a definition of exactly what types of projects there will be in the new Zooniverse under Panoptes, and what each one is called.

As I understand it, right now there seem to be four types of projects:

1. Only accessible to designated people/user names that you select.
2. Accessible to anyone with the link, but not promoted in any way.
3. Acces

[2015-06-02 15:48] brian-c commented on #460
I believe this was settled in #240, which I'm working on implementing right now.

[2015-06-02 16:03] brian-c commented on #240
I _think_ I've distilled this down to some kinda UI.

Deployed here for feedback (there's a new "Visibility" tab section for each project): http://demo.zooniverse.org/panoptes-front-end/project-mode-switching/#/lab

I'm sure I've misunderstood things, but is this close to what people are expecting?

[2015-06-02 16:03] whyte commented on #460
Personally I think they need further discussion.

The term 'playground' project I find a tad patronising, especially given that there is no reason why these projects won't have very serious goals. For instance civic projects or research projects that scientist or educators might choose to do with small group. It's just they won't be promoted to the wider Zooniverse community or have been through p

[2015-06-02 16:07] camallen commented on #240
@brian-c looks good! What is the backend field for launch? I think this is the only thing attribute missing in the backend.

[2015-06-02 16:08] DarrenMcRoy commented on #460
I think that the types of projects look good, but there may be room for further discussion/changes with regards to their front-facing definitions?

[2015-06-02 16:12] brian-c commented on #240
Thanks @camallen, I'm thinking fields will be `private`, `live` (i.e. not-"lock" in the table above), `beta`, `beta_approved`, (read-only) `launch`, and `launch_approved` (read-only). I wouldn't make any changes until we figure out this UI though.

Also: I assume when a beta or launched project unchecks "live" they'll lose beta or launch status and have to go through the process again, correct?

[2015-06-02 16:20] edpaget commented on #240
@brian-c might want to mention that a project has to be live before classifications are counted towards retiring a subject, maybe 'activates retirement rules'.

[2015-06-02 16:36] #438 closed

[2015-06-02 16:40] camallen opened #461 "Limit the amount of subjects a user can upload in a batch?"
Linked to https://github.com/zooniverse/Panoptes/issues/672

Just ran some tests with @vrooje and the `subject_set#update_links` end point took ~7s for a 450 subject batch and ~15s for an 900 batch. This will lock up our API nodes pretty quickly as more people start building project and uploading subjects. @edpaget thoughts on Puma under MRI on this?

I think we should we add a hard limit to the a

[2015-06-02 16:40] DarrenMcRoy commented on #460
Okay, so, an update, having talked with @chrislintott and gotten a better idea of types of projects, these are the four that we have:

1. **Private Project** - only accessible to designated people/user names that you select.
2. **Independent Project** - accessible to anyone with the link, but not promoted by Zooniverse in any way.
3. **Beta Project** - available on a 'Beta' page on the site, other

[2015-06-02 17:18] camallen commented on #372
@brian-c you should now be able to pass in the project id as per https://github.com/zooniverse/Panoptes/issues/903

[2015-06-02 18:03] chrissnyder commented on #461
Is this were done sequentially rather than in batch, would that be better/worse/no different?

[2015-06-02 18:05] vrooje opened #463 "Project builder: subject viewer doesn't always show images"
I've seen this a few times now after I've loaded new subjects into a subject set.

When the subject upload is finished and I go to view an individual subject from the subject set page, it doesn't quite load correctly.

The first subject I try to view will either (if 1 image per subject) load the image and then immediately replace/overlay it with the green-blue stripey placeholder image, *or* (2 im

[2015-06-02 18:18] vrooje commented on #460
Interesting. If we separated public/private we could re-frame the public-facing text like: "There are 3 types of projects: Independent, Beta, and Zooniverse. [Description of those.] Your project can be private, or you can open it to the public. While it's technically possible to have any type of project be private, the majority of Beta or Zooniverse projects will be public so that volunteers don't

[2015-06-02 18:28] DarrenMcRoy commented on #460
If that is indeed the model we're going with, @vrooje -- that is infinitely more succinct and understandable. I am 100% on board with that, as long as we do intend to allow Beta and Zooniverse projects to have private modes!

[2015-06-02 19:21] camallen commented on #458
@mschwamb - i ran out of time today. It's first thing on my list tomorrow.

[2015-06-02 19:28] #372 closed

[2015-06-02 19:48] camallen commented on #461
Sequential batches with a slight back-off would be ok. Batching just limits the number of recordst to create via the `update_links` end_point so it'll be a faster request/response cycle.

[2015-06-02 20:33] brian-c commented on #240
Just pushed a new version after talking with @chrislintott.

[2015-06-03 01:43] mschwamb commented on #458
Thanks @camallen for letting me know. Very much appreciated.  We had a team telecon this morning,so  I updated them on the status. Thanks very much for the replies.

[2015-06-03 10:30] aliburchard commented on #278
Awesome. I think we would want the user to draw the rectangle and then click "next" when they are ready to crop. That allows users to readjust the cropping area if necessary. As long as we specify in the help text that the cropping tool should be the only drawing tool in the task, I think that will be ok.

[2015-06-03 10:34] camallen commented on #458
@mschwamb your project is now migrated, you can access it via the lab link http://preview.zooniverse.org/panoptes/#/lab or via a listing of http://preview.zooniverse.org/panoptes/#/projects?approved=false&beta=false

Note: we didn't migrate any subject sets and data or collaborators, you'll need to set all this up again. Please reopen this issue if there are any problems.

[2015-06-03 10:34] #458 closed

[2015-06-03 14:05] mschwamb opened #467 "no labs icon/link associated with my account"
I can access the labs url if I type it in and then see my project, but it's not showing up on the project list.

Also the only wan I can access the lab is if I manually type the url. The link on the Zooniverse home page is gone for me. Is that a permissions thing with my account (mschwamb)?

screenshot of the preview zooniverse home when I log in

![screen shot 2015-06-03 at 9 59 53 pm](https://cl

[2015-06-03 14:06] camallen commented on #467
@mschwamb - we've temporarily disabled links to the Lab. Also only approved beta projects are listed on the home page, use this link to access: http://preview.zooniverse.org/panoptes/#/projects?approved=false&beta=false

[2015-06-03 14:22] brian-c commented on #454
Closed by #459.

[2015-06-03 14:22] #454 closed

[2015-06-03 14:42] camallen opened #468 "Add client UTC offset to classification metadata"
See https://github.com/zooniverse/Panoptes/pull/929

It's be nice to have the utc timestamps for the classification annotations as well as the client timezone in the classification metadata.

[2015-06-03 14:53] #467 closed

[2015-06-03 15:05] brian-c commented on #468
Any particular format? `((new Date).getTimezoneOffset() / 60).toString()` is `"5"` in Chicago right now.

[2015-06-03 15:39] camallen commented on #468
I was thinking number of seconds but I don't think it really matters. It should be consistent.

[2015-06-03 15:44] mkosmala commented on #278
I'm a bit confused. Is the point to zoom into a portion of the image? If so, I'd think that zooming would be necessary for all sorts of questions and not a question in and of itself... Maybe I don't understand exactly what the goal is here.

I think drawing a rectangle and redrawing works. You could also do a single click and redraw with that location as the center of a zoomed-in rectangle (of pre

[2015-06-03 15:49] mschwamb commented on #467
Thanks.

[2015-06-03 16:01] mschwamb commented on #458
Thanks @camallen

[2015-06-03 16:24] mschwamb opened #470 "If you already had a Zooniverse account and try out a new panoptes project you're not signed for the project's newsletters"
It looks like from the profile that I would need to manually check the panoptes projects  I was classifying on with my merged Zooniverse account on the preview site in order for me to get their newsletters.  Is that true? Because the check boxes were empty, it looks like to me that I'm not getting those projects' newsletters.

screenshot below

![screen shot 2015-06-04 at 12 12 34 am](https://clou

[2015-06-03 16:27] mschwamb opened #471 "Somewhere on the project builder where it told the status of your project"
Not time critical, but it would be nice if there was something that told you your project is public but in beta, etc whatever the state is.

[2015-06-03 16:27] eatyourgreens commented on #278
Hi @mkosmala, this is a tool to select part of an image, then crop and zoom the selected region. See the first couple of steps in this demo workflow: http://demo.zooniverse.org/retina/#/optic-nerve
Hope that makes things clearer!

[2015-06-03 16:28] brian-c commented on #471
See #240.

[2015-06-03 16:28] #471 closed

[2015-06-03 16:40] edpaget commented on #470
@brian-c @camallen looks like this is due to a 'feature' we added but forgot about. There are two email communication flags on the user model, a global one and project one. It looks like you only get signed up for project emails when you set the `project_email_communication` flag.

It makes sense to me to have this. One could want Zooniverse emails, but not want to be automatically signed up for p

[2015-06-03 16:42] camallen commented on #470
@edpaget sounds good.

[2015-06-03 16:45] mschwamb commented on #470
Question - if you were a classifier say on Galaxy Zoo before, would you be automatically signed up for a Galaxy Zoo newsletter if you had it checked in the previous version of the Zooniverse home profile?

[2015-06-03 16:46] edpaget commented on #470
We're going to set up up as well.

[2015-06-03 16:59] mkosmala commented on #278
Thanks, @eatyourgreens. Can you support both the way it works in the Retina demo you shared, as well as the way it works in Science Gossip? In Retina, the user draws a box and then by selecting next, the image zooms in for the next question. In Science Gossip, the user can zoom and unzoom while answering a question (without moving between questions). Looks like it might be fairly easy to support b

[2015-06-03 17:11] mkosmala opened #472 "Language translation"
What's the status of language translation on the front end?

[2015-06-03 17:57] #351 closed

[2015-06-03 18:03] mschwamb commented on #463
Yep - I  just reproduced the exact same issue. The fix that seemed to get the backend to recognize there were new subjects and read it successfully was to log out then log back in and then hit refresh in the browser in that order.

[2015-06-03 18:48] brian-c commented on #463
I can reproduce this. On it now.

[2015-06-03 19:19] #463 closed

[2015-06-04 02:19] mschwamb opened #476 "Trying to move through the pages of not beta not public projects and link to second+ pages doesn't work"
I was trying to scroll through the pages of http://preview.zooniverse.org/panoptes/#/projects?approved=false&beta=false to find my project. When you click on the page 2 link  it takes you to a page that says 'no projects found'. Looks like because the direct url  (http://preview.zooniverse.org/panoptes/#/projects?page=2) it brings you to doesn't have the right flags in it.

You can seen in the scr

[2015-06-04 02:28] brian-c commented on #476
The `?approved=false&beta=false` params are just a workaround for right now. You'll have to add the page manually: `?approved=false&beta=false&page=2`.

Your project should still be available directly from the Lab page at `#/lab`.

[2015-06-04 02:34] mschwamb opened #477 "Labeling the favorite, metadata, and collection buttons and moving metadata button next to the other buttons"
I'm finding the icons especially for the metadata and new collection buttons not very informative visually to know what they are.

![screen shot 2015-06-04 at 10 28 10 am](https://cloud.githubusercontent.com/assets/753325/7975806/078e58e4-0aa5-11e5-913a-731e613e9cf2.png)

 What about adding text below to describe what they are like the way Galaxy Zoo does?

![screen shot 2015-06-04 at 10 30 00 am]

[2015-06-04 02:45] mschwamb commented on #476
okay. thanks

[2015-06-04 02:45] #476 closed

[2015-06-04 09:14] aliburchard commented on #387
@camallen @brian-c the plan is to use the kitteh zoo subject set as the default subject set. As soon as that's available, I'll rewrite the tutorial to reflect that.

[2015-06-04 09:23] aliburchard commented on #254
Can we change this for first release? Even just "add a question" or "add a sub-task" because "set up details" doesn't seem to make sense. @brian-c?

[2015-06-04 09:32] aliburchard opened #478 "Revised in-line help text"
@srallen thanks for this! I've updated the in-line help text here: https://docs.google.com/a/zooniverse.org/document/d/12dm1T4ciUAYROoA1Qsy4nfoETcIVBJUKGxksbnMoTdw/edit?usp=sharing

It's currently only deployed on http://demo.zooniverse.org/panoptes-front-end/help-text/#/lab -- not sure where plans stand for implementing on preview/incorporating design (@brian-c)?

[2015-06-04 10:22] AdrianEvans opened #479 "Subject drag and drop of images/metadata unresponsive"
cross-posting from panoptes since the url I'm using is panoptes-front-end

Just created an account and a new project and can't seem to upload images and metadata to a subject. Perhaps I'm doing it wrong. It just doesn't do anything at all (the cursor does change to the state usually associated with the location being an acceptable spot to drop files).

This is on win 8.1 using latest chrome - same

[2015-06-04 10:23] simoneduca opened #480 "New subject set validation"
Better feedback message when trying to create a subject set with same name as existing one would improve UX.

[2015-06-04 10:23] camallen commented on #480
@simoneduca can you provide a screen shot and steps to reproduce?

[2015-06-04 10:24] camallen commented on #479
Linked to https://github.com/zooniverse/Panoptes/issues/931

[2015-06-04 10:39] twhyntie commented on #479
And [#191](https://github.com/zooniverse/Panoptes-Front-End/issues/191) - I still can't upload subject sets via WIndows (7, but I guess the problem is the same) with _any_ browser.

I've been using Firefox in Linux (Xubuntu 14.04) to do subject uploads for now (which, by the way, is working very well!).

[2015-06-04 10:43] simoneduca commented on #480
@camallen there you go. (This is one way of triggering the validation message)

1. Add a new subject set; don't edit or save.
2. Click on New Subject Set button.

![screen shot 2015-06-04 at 11 28 16](https://cloud.githubusercontent.com/assets/8989606/7982196/fc445f9e-0aac-11e5-8302-43a076073889.png)

Perhaps disabling the New Subject Set button while the current subject's form hasn't been saved w

[2015-06-04 10:55] aliburchard commented on #460
We can certainly ditch the term "playground" but it was never intended to be used for projects that were at the stage of collecting data. See the table in #240 that makes the distinction between "playground" and "live non-zooniverse"  (or more aptly termed "independent"/"community project", as @whyte suggested). But "community" and "independent" simply replace "live non-zooniverse," NOT "playgroun

[2015-06-04 11:03] aliburchard commented on #460
Also, I don't think we plan to have Beta and Zooniverse projects that are "private" (not as a general rule - we can make exceptions under certain circumstances on a case by case basis, I imagine.)  We can have "playground" and "independent/community" (i.e. Live, Non-Zooniverse projects) projects that are private where project builders are collecting classifications, counting towards retirement, et

[2015-06-04 11:04] aliburchard commented on #278
@mkosmala I can't speak to how easy it is to implement both types of zoom, but I can say I don't think either of these are going to be included into the project builder in time for first release. Sorry!

[2015-06-04 11:16] aliburchard commented on #407
yes please!

[2015-06-04 11:34] simoneduca opened #481 "Subject set upload replaces name input with default text if not saved"
@brian-c Steps to reproduce:
1. Click New Subject Set button
2. Name it, but don't save the name.
3. Select the files to upload and click upload.
4. Once the upload is complete, the name input is replaced with the default 'Untitled Subject Set'.

[2015-06-04 13:22] simoneduca opened #482 "On closing modal window showing upload limit errors, page becomes unresponsive."
To reproduce:

1. Upload subject set when you've reached the upload limit.

![screen shot 2015-06-04 at 14 12 17](https://cloud.githubusercontent.com/assets/8989606/7984840/e3280f12-0ac3-11e5-9874-494d9dd6f408.png)
2. Close the modal window.
3. Console shows something is undefined and can't get its length property value.

![screen shot 2015-06-04 at 14 16 43](https://cloud.githubusercontent.com/as

[2015-06-04 13:55] mrniaboc opened #483 "Need to refresh when switching account"
If you are in the project builder then switch accounts, you are locked out of all the pages (Home, Projects, Talk etc) until you refresh the browser.

[2015-06-04 13:58] mrniaboc commented on #479
Berris could not upload files as a subject set either. We tried for a while and could not do it on his machine, but it was fine on mine (Ubuntu 15.04). He's using Windows 8.1. Tried Chrome and IE.

[2015-06-04 14:46] vrooje commented on #408
definitely.

[2015-06-04 14:50] vrooje opened #484 "Task-independent text in workflow?"
I want to display a short message at all steps of the workflow, e.g. "_Please classify the galaxy at the center of the image._" Right now I'm just adding that text to the start of each task, but it's been pointed out that this makes the classification summary hard to digest, and it's just clunky.

Is it possible to add an optional text box for text to display at every stage of a classification?

[2015-06-04 14:55] vrooje opened #485 "Duplicate subject counts after new subject upload"
I'm uploading a subject set that has 7849 subjects, each with 2 images. I'm doing this in batches of ~500 at a time.

Today I've noticed that the subject counts are off. Example: I added 456 subjects with manifest and images, and started the download:
![screen shot 2015-06-04 at 15 37 51](https://cloud.githubusercontent.com/assets/2357126/7986826/d0e1de42-0ad1-11e5-9bb4-3b38b8c8dd8a.jpg)

Then aft

[2015-06-04 14:57] vrooje commented on #481
Yeah I've seen this multiple times too when I forget to save the name before uploading subjects.

[2015-06-04 15:08] camallen commented on #485
Just to clarify each subject has 2 images right? Sounds like a reporting error on the front end. It should be uploading 456 subjects with 912 media locations.

[2015-06-04 15:13] mschwamb commented on #285
hi @aliburchard

 @chrislintott said I should inquire about the current status of the metadata displayed with you. For soft launch, science teams will still need to segregate data we want linked to our subjects that we don't want the public to see into a separate file? currently all the contents of the manifest file is presented in the metadata on the classification page.

Thanks,

~Meg

[2015-06-04 15:16] vrooje commented on #485
Yes, each subject has 2 issues in this project.

[2015-06-04 15:38] #310 closed

[2015-06-04 15:48] mkosmala commented on #398
@mschwamb This makes a lot of sense -- especially for big projects. However, it requires the end-user to be able to do a JOIN (or equivalent) of two tables if they want the subject metadata (or even subject identity) for each classification. Is Zooniverse going to assume that level of technical ability on the part of the science teams? I imagine that there will be plenty of small projects with min

[2015-06-04 15:52] camallen commented on #398
@mkosmala aggregated data won't come from the raw classification data dumps. it'll be a different export. We will most likely add the subject ids / names and workflow id / name into the aggregation.

@ggdhines what does a current aggregation json doc look like?

[2015-06-04 15:59] ggdhines commented on #398
@camallen pretty flexible but the basic format is something like {subject_id:1, workflow_id:1,task:"init",tool:0,aggregation: text, created_at: timestamp}

[2015-06-04 16:05] mkosmala commented on #398
@camallen, right; I realize the aggregation data will be rather processed. The question is, @ggdhines, will it include subject metadata?

[2015-06-04 16:07] ggdhines commented on #398
@mkosmala think that would be reasonable

[2015-06-04 16:09] mrniaboc commented on #370
Show link to preview site from the project builder. Preferably in the left-hand menu section. See issue #253

[2015-06-04 16:16] mrniaboc commented on #370
In turn there should be an 'edit' button on the preview site for anyone with a role that allows them to edit it. This should disappear once the project is live.

[2015-06-04 16:22] brian-c commented on #370
**Please** open an issue and tag it "First release" for things like this.

[2015-06-04 16:28] aliburchard opened #488 "Allow project builders to make drawing tasks "required""
Questions can be required. I think drawing tasks should be able to be set as required as well. Right now it's hard to explain why only questions can be required. If there's an instance where there is nothing to draw, then project builders can set required = false -- but on all of the drawing tasks I've made, I've made them contingent on the critter being there, so I want to require them.

[2015-06-04 17:05] mschwamb opened #489 "social media links on the project front page with a form to fill in on the project builder"
low priority - if science teams are going to be encouraged to communicate their project's happenings and results with social media it would be nice if you could enter those links in the project builder and the twitter icon, g+ icon, and facebook icon would appear on the front page of the site. I think explicitly having those text boxes to fill in in the project builder would encourage project team

[2015-06-04 17:29] mschwamb opened #490 "preview mode for markup text boxes"
low priority - but I noticed that I'm already up to version 43 on the project builder version of the workflow because of the edits to the help. I make an edit in format and then want to see what it will look like. Usually I've made a typo and mistake and have to switch back between refreshing the tab with the project in it to see the help box and the tab with the project builder. I found this to b

[2015-06-04 17:35] AdrianEvans commented on #479
can confirm ability to interact with subject upload system using ubuntu 14.1 using firefox

[2015-06-04 18:04] brian-c commented on #490
This actually exists, it's just not exposed anywhere due to parallel development of Talk's inputs around the same time.

@aweiksnar what do you think of combining these?

[2015-06-04 18:09] #485 closed

[2015-06-04 18:47] aweiksnar commented on #490
Yeah a single format for rendering markdown would be cool. Exporting the markedown-it config and then sharing a markdown preview might be composable enough to start building unified editing options

[2015-06-04 19:02] mschwamb commented on #490
cool. it would be a really nice feature I think  since most of the back and forth between the project website and the project builder is for formatting and text edits

[2015-06-04 20:04] srallen commented on #478
@aliburchard, I updated the help text and manually deployed to http://demo.zooniverse.org/panoptes-front-end/help-text/#/lab. Let me know if any other changes are needed. I'll leave this issue open for now since you have questions for @brian-c.

[2015-06-04 20:19] parrish commented on #378
Just a heads up, I overhauled the permissions in zooniverse/Talk-Api#37

If you run into any problems here, just reopen that issue.

[2015-06-04 20:31] parrish commented on #380
Worth mentioning a few endpoints to support this

##### [Popular tags by section](https://talk-staging.zooniverse.org/tags/popular?section=zooniverse&limit=5)

https://talk-staging.zooniverse.org/tags/popular?section=zooniverse&limit=5

    {
      "tags": [
        "testing12",
        "test",
        "tag",
        "mytag",
        "hashtag"
      ]
    }

------

##### [Activity by project chan

[2015-06-04 20:33] parrish commented on #373
Just linking up issues: zooniverse/Panoptes#924

[2015-06-04 20:34] aweiksnar commented on #380
Sweet! Those look perfect

[2015-06-04 21:21] edpaget commented on #373
https://github.com/zooniverse/Talk-Api/issues/38

[2015-06-05 05:57] mschwamb opened #493 "not showing the subject id in the pop up window for the new talk collections button"
There's a new button, which I'm assuming is so you can directly add the subject to a talk collection. It reveals the subject name which I'm presuming will be visible on the talk pages.

![screen shot 2015-06-05 at 2 44 41 pm](https://cloud.githubusercontent.com/assets/753325/8000216/a4dc3fe2-0b92-11e5-8ac1-54bbd6917b7d.png)

If the new Talk works like the old Talk with  pages dedicated to a subjec

[2015-06-05 06:07] mschwamb commented on #490
another thought if all this functionality is already sitting in the new Talk and can be exported over to the project builder. Not everyone will know markup. Talk was nice because it has the buttons to autogenerate the code bit of the markup. Not all scientists will know markup. It would be nice if those autogenerate buttons could be included in those text boxes in the project builder (low in the q

[2015-06-05 08:51] camallen opened #494 "Add admin behaviour via admin flag on client requests"
Zoo admin users will need a way to enter "admin mode" via the front end that will add admin flag to client requests (see below). It will be able to use the "/api/me" after https://github.com/zooniverse/Panoptes/issues/947.

Panoptes allows admin behaviour for an admin user if the [admin flag is set on a request](https://github.com/zooniverse/Panoptes/blob/aeeb92b18250c2b04dbc578cc3010de1624041b4/a

[2015-06-05 10:22] camallen commented on #124
@brian-c is this getting added in? Pretty sure @mrniaboc would like to have some visibility into usage.

[2015-06-05 10:40] mrniaboc commented on #124
Yes. I would love that.

[2015-06-05 14:40] mkosmala commented on #230
The project no longer exists, but you can reproduce this on @vrooje's Bar Lengths, too.

[2015-06-05 14:52] parrish commented on #373
By the way, zooniverse/Talk-Api@9f3e6f8 made roles publicly readable.

[2015-06-05 15:07] camallen commented on #415
@brian-c the backend now allows the beta_email_communication field to be set on signup and user updates since https://github.com/zooniverse/Panoptes/pull/948

[2015-06-05 19:24] #478 closed

[2015-06-05 19:29] #477 closed

[2015-06-05 19:58] AdrianEvans commented on #479
wonder if the cause is the mime type specified for csv "text/csv" in the input accept attribute - see
http://stackoverflow.com/questions/7076042/what-mime-type-should-i-use-for-csv

can we add

[2015-06-05 20:03] #364 closed

[2015-06-05 20:03] #413 closed

[2015-06-06 22:40] mschwamb opened #502 "Change formatting so that check boxes on the project details isn't squished and hard to read"
The text and description for the two check boxes on the project details page is squished and formatted in a vertical column. I've checked only in Chrome and Firefox, but it occurs in both. It would be good if it could be formatted horizontal to make it easier to view.

![screen shot 2015-06-06 at 12 34 16 pm](https://cloud.githubusercontent.com/assets/753325/8021768/3e6ce54c-0c49-11e5-8e4b-20c46c2

[2015-06-06 22:53] mschwamb opened #503 "Add scientists/team publishable names to the science page"
A low priority suggestion - for the science page, I think it's important to also list the publishable name of the team/researchers/scientists, not just their Zooniverse username. If there isn't going to be text form to do that, can the publishable name the person entered for their Zooniverse account be listed?

[2015-06-08 12:37] twhyntie commented on #479
_Update_:

* I can now upload subjects in Windows 7, Firefox via the dialog box (woohoo!);
* It still doesn't work with Windows 7, Chrome - it's not recognising the `.csv` manifest file in the dialog box.

[2015-06-08 15:02] #373 closed

[2015-06-08 16:41] mschwamb opened #505 "Add filename of image uploaded to the Zooniverse subject id listed on the subject_sets page"
Could the filename uploaded also be shown with the subject's Zooniverse numerical id displayed on the subject_set's page of the project builder. It would help correlate between what we uploaded and what's there. I was trying to find an image a collaborator uploaded but since I only have the  filename listed in the manifest I could examine the image in the subject_set page

Screenshot to show what

[2015-06-08 17:12] camallen commented on #387
Related to https://github.com/zooniverse/Panoptes/issues/907.

So it seems the front end is linking the subject set via the project [here](https://github.com/zooniverse/Panoptes-Front-End/blob/a98b0e753477c148a89102e5401304133949aaa3/app/pages/lab/workflow.cjsx#L198) and not the workflow.

I've opened and issue in panoptes to fix this for the project route, https://github.com/zooniverse/Panoptes/i

[2015-06-08 17:18] brian-c commented on #387
Is following @edpaget's not in zooniverse/Panoptes#907 not the right action? Link to the project to copy, then link the copy to the workflow?

[2015-06-08 17:21] camallen commented on #387
It's copying the subject set but not the associated set_member_subjects. I've implemented it on the workflow only currently. I'll add it to the project as well via #954.

The UI is linking the subejct set to a workflow so I think the workflows route is more appropriate in this instance anyway.

[2015-06-08 17:52] #387 closed

[2015-06-08 21:50] mschwamb opened #510 "Can't preview subject_set images getting broken-link"
When I click on any of the subjects in the beta_test set to preview them in the  Planet Four: Terrains project builder I get the following below. I'm using the latest version of firefox (I haven't tested it in other browsers)

![screen shot 2015-06-08 at 11 47 36 am](https://cloud.githubusercontent.com/assets/753325/8046174/86ff3c92-0dd4-11e5-9746-d1711c149100.png)

[2015-06-09 10:01] camallen opened #512 "Incorrect use of project_id query param on get /subjects"
Project Id param on cellect / queued subject selection end point can cause and empty set of subjects to be returned. A subject has the uploading project stored on it to trace the original uploader. Adding the project_id for a copied subject set (Kittehs) causes filtering on the subject project id field to exclude the queued subjects.

https://github.com/zooniverse/Panoptes-Front-End/blob/bd1b4dfbd

[2015-06-09 14:29] brian-c commented on #512
I've never specified a subject_set, I thought leaving it out implied a random one for the workflow. Is that required now?

[2015-06-09 14:31] camallen commented on #512
It's required if the workflow is grouped, otherwise it's not. See discussion [here](https://github.com/zooniverse/Panoptes/pull/747) under the outdated diff for details.

[2015-06-09 15:59] parrish opened #513 "Conversation user search"
@aweiksnar while working on notifications, I found that the conversation started on #/users/parrish was being started with the wrong user:

`GET https://panoptes-staging.zooniverse.org/api/users?display_name=parrish`

[code]

The exact match is 18th in the results.  Since it's doing a case-insensitive pattern match, this endpoint is not useful to select a user by name.

@camallen, @edpaget We shou

[2015-06-09 16:00] edpaget commented on #513
That should be filtering on the slug parameter if it's being used in a URL.

[2015-06-09 16:08] edpaget commented on #513
To elaborate as far as I knew everything in the front-end was going identify users via the 'slug' parameter for finding them in a human-readable way, since display_names of imported users can have spaces, which we don't want in URLs. If there are uses for wanting to uniquely identify a user by display_name I'll change the endpoint back, and allow you to provide a wildcard to do the search.

[2015-06-09 16:21] parrish commented on #513
The slug filter is empty: `window.api.type('users').get({ slug: 'parrish' }) // { users: [] }`

It looks like the controller is querying user groups, but the slug for the 'parrish' user group is 'user-parrish-92'.  What chain of API calls would you have to make to arrive at that?

I can't filter user groups on name either: `window.api.type('user_groups').get({ name: 'parrish' }) // => 404`

I'm gu

[2015-06-09 16:29] edpaget commented on #513
I'm not sure why your slug ended up being 'user-parrish-92' that should have only happened for users with names like '((}}))' whose names didn't turn into slugs properly. I'm going to investigate why and see how many accounts are affected.

How do people arrive at profiles right now? The slug for a user is returned with their API response, so after doing a `GET /users/me` or a `GET /users/1` you'd

[2015-06-09 16:38] parrish commented on #513
Users are linked to by display_name.  It looks like user display_names have a validation to prevent spaces.  I thought we had addressed legacy usernames that don't pass validations in the migration?

[2015-06-09 16:49] edpaget commented on #513
No the decision, as I understand it, was to just ask migrated users to change their names to something that will validate, but there would be no requirement for them to do so.

Are you linking the names for @-mention stuff? I'm asking since if you're getting the display_names from the API you'll also get the slugs.

[2015-06-09 17:05] aweiksnar commented on #513
Any current @username link issues in the parsed markdown are probably my fault. I've still been thinking on how to best handle those; Looking into either redirecting idealized urls to ones that build up with the right info from the api (for subject urls especially), or seeing how promises/react-router-mixins integrate with RegExp#replace

[2015-06-09 17:13] parrish commented on #513
@-mentions aren't possible when users have spaces in their names.  I don't think there's a reliable/practical way to disambiguate between the next word and part of the username.

As far as the slugged user names go, that'd be a fairly nasty refactoring.  Do we support users changing their login?  If not, then it's simply not worth it to bother with the slugs.

[2015-06-09 17:34] edpaget commented on #513
Yeah I really wanted users to have a permanent non-changeable name with no spaces or special characters to use for urls and @-mentions.

I think the solution might be to make the @ symbol trigger a fuzzy user search and you could just record the user id instead of a name or slug and build a URL from that later.

[2015-06-09 17:57] parrish commented on #513
Okay, I think I get what's at the core of this.

This is just the old problem of conflating login and display name.

`login` was renamed to `display_name` and was continued to be treated as the login.  It's still just the login.

`display_name` should only be text used for showing a chosen name and as *part* of the criteria for fuzzy user searches.

Slugs are only useful for pretty urls, we should

[2015-06-09 18:27] edpaget commented on #513
I'm not sure why slugs aren't as good as ids?

[2015-06-09 18:44] #374 closed

[2015-06-09 19:08] parrish commented on #513
If my login is 'parrish', I have to be publicly identified as 'user-parrish-92'

If I change my login to 'somethingelse', I'm still publicly identified as 'user-parrish-92', which is bad.

Either that or the slug changes and it's not useful as an id.

[2015-06-09 19:59] edpaget commented on #513
Since we're having this URL/username discussion again, here are some places we've talked about it on Github:

+ https://github.com/zooniverse/Panoptes/issues/40
+ https://github.com/zooniverse/Panoptes/issues/29
+ https://github.com/zooniverse/Panoptes/issues/8
+ https://github.com/zooniverse/Panoptes-Front-End/issues/197

Unfortunately it looks like most of the talking occurred on HipChat or Hang

[2015-06-09 20:01] edpaget commented on #513
@parrish your slug is 'parrish' now. That change was due to some monkeying about with the user migration script.

[2015-06-09 20:15] parrish commented on #513
Awesome - I'm glad we're basically on the same page here.

Agree 100%

Agree for login and possibly email because they're unique -- display_name isn't

Agree with the caveats:

[code]

and

[code]

Either way.  We can always test that later too.

If we even want to bother doing that -- that's a pretty huge number of things to mess with.  I'd recommend punting it and waiting to see if it's requeste

[2015-06-09 20:20] edpaget commented on #513
display_names are unique, now, so I'm not sure why would change that if we don't need to. I'd be unfortunate for a user to name themselves Chris Lintott then argue with Chris on talk. We'll also still need to let Zooniverse Home users login with their old names, so the transition isn't too confusing.

To Panoptes?

[2015-06-09 20:28] parrish commented on #513
Fair point.  Though, we'll still probably have some issues with variants like Chris J Lintott, Dr. Lintott, etc, but I imagine that's really just up to moderators.

Yep, I'm basically roadblocked until this is resolved.

[2015-06-09 22:46] #375 closed

[2015-06-10 00:59] #240 closed

[2015-06-10 09:06] camallen commented on #513
For references, here are some more links from previous discussions:
https://github.com/zooniverse/Panoptes/issues/483#issuecomment-76839428
https://github.com/zooniverse/Panoptes/issues/544#issuecomment-75062414

@edpaget's suggestions look good to me. A login field that restricts the character set sounds good, this will replace the slug field on the user model and will be used for @mentions in ta

[2015-06-10 13:57] ggdhines opened #518 "possible to set maximum number of markings?"
The maximum number of markings would be helpful to prevent errors. (Maybe minimum too but maximum would be a lot more helpful)

[2015-06-10 13:58] ggdhines commented on #518
related to #488

[2015-06-10 14:53] alexbfree opened #519 "Option to auto-generate simple manifest file?"
It occurred to me that having to generate a CSV file could be a real barrier for some users of the project builder - especially when we consider classroom usage... I realise this is a "nice to have", but why don't we add a check box "generate manifest automatically" which would create a simple one-column CSV with the filenames only, as uploaded?

[2015-06-10 15:01] ggdhines opened #521 "handling markings in multiple frames"
a marking JSON object lists the frame that the marking was made. However, in Ali's project (http://preview.zooniverse.org/panoptes/#/projects/aliburchard/wildebeest-watch/classify?workflow=6) a marking made in one frame automatically shows up in an other. If this is going to always be the case that I won't worry about the frame id when clustering markings. I think this is the best way of handling

[2015-06-10 15:17] alexbfree commented on #124
OK basic tracking is added in https://github.com/zooniverse/Panoptes-Front-End/pull/522

Please leave this ticket open as we should do more than just basic tracking, need to consider custom events, etc...

[2015-06-10 17:13] ggdhines opened #525 "issue with markings"
Suppose we are running Penguin Watch on Panoptes. There are two different ways we go do the markings for chicks vs. adults (plus all the other options which I'll ignore for now). One is to offer just one marking tool which pops up with a question everytime asking what kind of thing has been marked (adult or chick). The other option is to offer separate chick and adult marking tools. (The second wa

[2015-06-10 19:51] heathv opened #526 "Various ZooHome css tweaks"
## Home

#### Nav bar
- [ ] More evident once you scroll down, but everything in the nav bar container needs to a bump vertically about 5px

#### Hero
- [ ] Remove the letter-spacing from the "People-Powered Research" line
- [ ] Add a pixel or two to the line-height on that paragraph below said line
- [ ] That whole block needs to be *optically*-centered vertically. Basically just moved vertical a

[2015-06-11 09:12] VVH opened #527 "Error adding roles to project"
Simone added me as a collaborator and then got an error message saying 'not allowed to create this role' or something like that. When we refreshed I did show up as a collaborator but this isn't intuitive.

![](https://s3.amazonaws.com/uploads.hipchat.com/41383/2199940/pTGpMLygcFQiDGy/Screen%20Shot%202015-06-11%20at%2010.10.50.png)

[2015-06-11 09:25] VVH opened #528 "Auto-suggest of names in roles is buggy"
When you select a name in the drop down the suggestions don't disappear right away if you're using a mouse. So the list then obscures the roles.

[2015-06-11 10:21] ggdhines commented on #525
Could @brian-c comment on this? I realized that to properly deal with this setup we need to redo some of the front end which is obviously not a goal right now. Could we maybe just have something stated in the tutorial about how to handle this?

[2015-06-11 10:23] ggdhines commented on #525
Or maybe different tools (with the same type) can have different questions but - for example, if after clustering, we determine that a marking is a chick, then we only consider the answers to the questions for people who identified the penguin as a chick.

[2015-06-11 11:02] ggdhines commented on #278
would it be possible to zoom with the mouse wheel? Just tried manuscript adventure and really need to be able to zoom in to transcribe and zoom out to move around the page.

[2015-06-11 12:35] mschwamb opened #530 "already seen label goes across the subject while classification is not complete"
On manuscript adventure (http://preview.zooniverse.org/panoptes/#/projects/simoneduca/manuscript-adventure) when I classify during the decision tree it shows the already see label across the image . I don't see this behavior on the whale project or galaxy zoo bars

![screen shot 2015-06-11 at 2 32 37 am](https://cloud.githubusercontent.com/assets/753325/8107109/8dae2aa2-0fe2-11e5-83db-4f12c8067d72

[2015-06-11 12:40] camallen commented on #530
@mschwamb this is a feature, we know let the user know that they have previously classified on a subject. The subject set is small in the Manuscript adventure so when you've finished all the subjects for a workflow we return a new set of subjects but mark them as seen.

[2015-06-11 12:53] edpaget commented on #527
Yeah this is due to talk not being available on the preview.zooniverse.org version of the site yet.

[2015-06-11 13:19] edpaget commented on #512
Closed by #514

[2015-06-11 13:57] mschwamb commented on #530
Okay. I was aware of that, but in this case I hadn't classified on the project before only 2 images.  It showed up during the classification moved from one step to another, so that's why I mentioned it.

[2015-06-11 14:06] camallen commented on #530
Ah sorry. So does the already seen show up after you click "Done" on the transition to the next subject?

[2015-06-11 14:16] alexbfree opened #531 "Make Talk page more visually appealing by adding images, improving layout, etc"
The current talk page is neat and functional, but quite plain. I know we had feedback in surveys etc that people found the old Talk rather bland - in some ways the new one is even more so. I think we should improve the layout to delineate things in a more interesting way (maybe more colours than just grey?)
Also including recently classified subject thumbnails, as per the old talk, would go a long

[2015-06-11 14:19] edpaget commented on #528
So the user search lets you select mutliple people, so I'm not sure it's a good idea to defocus it after you select the first name. It should automatically close if you hit 'esc' or click anywhere out side the search box.

[2015-06-11 14:20] camallen commented on #528
It loses focus if you use a keyboard to select a user and press enter.

[2015-06-11 14:23] alexbfree opened #532 "Make talk more "alive" by showing recent activity, activity of other users"
Talk is the one place where users can feel part of a community. One way that would really help achieve this is by visualizing (hopefully in a live-update/AJAX way) current user activity, not just on talk, but classifying as well.

e.g. look at [Heimdall](http://heimdall.zooniverse.org/) for inspiration, or externally, look at Facebook or Spotify, each of which have a feed of recent user activity.

[2015-06-11 14:25] alexbfree commented on #380
Another idea - how about most favourited subjects... or recently commented.

With the tags, can we make them click through to a search?

[2015-06-11 14:28] alexbfree opened #533 "Create issues for Talk requirements from Big Ol Talk spreadsheet"
It seems like there are a lot of requirements that came from the Talk survey and which were classified as High or Very High in the [Big Ol Talk spreadsheet](https://docs.google.com/spreadsheets/d/1cuYZgUmzz1KXcDwZ0LCUql88hqJjjbrisRB6tyDcqJc/edit#gid=0) which are not in Talk yet. I guess some of these may already be planned but I wanted to make sure we don't forget any of these.
For example, permal

[2015-06-11 14:31] alexbfree opened #534 "Broken links in Talk search results"
The comment links and hashtag links in Talk search results don't work, and generate errors.

see e.g. http://demo.zooniverse.org/panoptes-front-end/#/talk/search?query=test and click a comment or hashtag.

[2015-06-11 14:32] alexbfree opened #535 "User profiles"
Pretty sure this is already planned, but since I don't see an issue, I'll create one. Currently when you click a username in Talk, it goes to a "user profiles todo" page.

[2015-06-11 14:35] alexbfree opened #536 "Support DMs, @mentions and 'follows' to help build community between users"
In order to encourage more collaboration/community building than we have experienced on past talk, we should implement features that let users interact with each other directly - especially @ mentions (which should click through to a user profile) but also 1:1 messages, and the ability to follow what posts, collections, favourites, another user does - which should show up on your homepage or sideb

[2015-06-11 14:38] alexbfree opened #537 "Search box functionality is unclear / Improve search UX"
At the moment it's not clear that the search box is a search box. Needs some styling improvement to delineate it. Also the placeholder should be something other than "test" and should disappear when you click in. Consider auto-complete search terms. Consider auto-updating of results as you type (like Google)

[2015-06-11 14:41] alexbfree opened #538 "Show object-specific comments/tweets distinct from the discussion boards"
Are we planning to have a separate Twitter-like feed of comments on the current subject, like we do on current Talk? Are we going to delineate the boards into "the objects" and other types of boards, like on old Talk? Not sure what is already planned - feel free to close issue if already in plan/addressed! Relates to #377

[2015-06-11 14:55] aweiksnar commented on #538
The plan for the new build was to try and merge the two places to comment on objects into one. I've setup [this](http://demo.zooniverse.org/panoptes-front-end/#/projects/alex-panoptes/test-proj/talk/subjects/35734) page for #377,  which should link users to existing discussions mentioning objects, or let them start a new discussion about an object

[2015-06-11 15:25] srallen commented on #532
@alexbfree, I believe the user profile is intended to have a public facing activity feed. A feed component may be a good candidate for a reusable component.

[2015-06-11 15:26] srallen commented on #535
Yes, @heathv is working on several designs that I'm implementing in the user-profile branch.

[2015-06-11 15:53] mschwamb commented on #530
Okay I think I maybe figured it out. It's if I classified in one subject in one of the workflows then  I think when I'm in another workflow it pops up the already classified banner, when in reality i didn't classify that image in that workflow. Not sure if there's a solution for that.

[2015-06-11 16:24] brian-c commented on #530
That's probably from the list kept on the front end, which just stores subject IDs after classification. I'll switch it to workflow ID + subject ID.

@camallen does the back end already tracks subjects by workflow?

[2015-06-11 16:34] camallen commented on #530
@brian-c yep we track which worklow a user sees the subject for.

[2015-06-11 18:02] brian-c opened #539 "New comments think they're on page 0"
I made a new comment and checked its link:

![screen shot 2015-06-11 at 12 57 23 pm](https://cloud.githubusercontent.com/assets/464389/8114400/ed3be6ba-1039-11e5-92bf-795f73c93586.png)

This screenshot is from page 2.

[2015-06-11 18:58] #479 closed

[2015-06-11 20:48] aweiksnar commented on #377
Closed via  #434

[2015-06-11 20:48] #377 closed

[2015-06-11 20:52] aweiksnar commented on #531
Going to summon lord @heathv  here

[2015-06-12 01:37] mkosmala commented on #525
Why can't you cluster by tool within each task? I definitely don't want to ask separate questions when I have 8 things to mark, when most of those things won't be seen in a given image. I think @aliburchard has a similar situation with wildebeest direction.

[2015-06-12 01:59] brian-c commented on #525
Agreed, clustering by tool (not type) is the right choice. I get why you did Penguin Watch that way, but I don' think it's right as a general solution.

[2015-06-12 03:40] aliburchard commented on #525
Sorry, but I don’t think this is a good idea at all. I realise that’s how you do it for penguin watch, but I think it’s MUCH much much more generalisable to cluster by individual tool. And, quite frankly, all of the projects I’m building or helping to build need the clustering to be drawn on individual tool types. Happy to talk about this more when back in the UK.
---------------------------------

[2015-06-12 03:59] aliburchard commented on #519
Something like this would be great. I've already received numerous comments from other researchers that generating a list of filenames is prohibitive for a lot of folks. An alternative (perhaps stopgap) would be to provide researchers with links to instructions on how to do this from the command line. When I was first getting started working in terminal, that would have been the jump-start (and co

[2015-06-12 04:01] aliburchard commented on #521
I think this is fine for now. I think that allowing different marks for different frames would be really cool and enable some really cool science -- but is definitely not something in scope right now (as far as I'm aware). I think for now, marks in multiple frames can just ignore the frame.

FWIW, the only reason I use the marking tools is to get the count of wildebeest in each direction -- I don'

[2015-06-12 09:49] ggdhines commented on #525
I think it is essential that we support a Penguin Watch like approach (if clustering could only be done by type, Penguin Watch would have to be done in a Condor Watch setting which just wouldn't work). The interface for Penguin Watch is just superior to Condor Watch. So what I am going to suggest is that once we design the aggregation interface (down the road a way I realize), we will include a bo

[2015-06-12 10:06] ggdhines commented on #525
Just realized that with this option - we should say something in the project creation docs about this option existing. That way people will know they can use a Penguin Watch like approach.

[2015-06-12 14:56] #539 closed

[2015-06-12 15:53] #412 closed

[2015-06-12 16:49] srallen commented on #526
@heathv, whenever you have a chance, could you send me updated gifs with the new zebra stripe background color when you have a chance? Thanks!

[2015-06-12 17:49] heathv commented on #526
@srallen sent!

[2015-06-12 18:32] aliburchard commented on #398
I think Margaret’s suggestion makes sense. It will require us splitting up the data into two tables behind the scenes (which is trivial, but I don’t know where it falls on the priority list). Any user who wants the raw classification data to run their own aggregation algorithms will be savvy enough to join two tables.
----------------------------------------------
Alexandra Swanson, Ph.D.
Ecology

[2015-06-12 18:45] mkosmala commented on #285
Just wanted to lend my support to this issue. I also need to be able to hide some metadata from users that I will need to match classifications back to my subjects.

How far in the future of "future plans" is this?

[2015-06-12 19:49] #526 closed

[2015-06-12 23:13] mschwamb commented on #398
What you described @aliburchard  is my interpretation of  @camallen  [ticket](https://github.com/zooniverse/Panoptes/issues/886) open in reply to when I opened the ticket, though the issue hasn't closed yet so the feature hasn't been implemented yet.

[2015-06-12 23:35] mschwamb opened #548 "How do you add/remove gold standard status or talk moderator status to project owner? Owner no longer showing up in collaborator list"
So on the preview site for the project I own, I no longer see myself listed. How does one add expert status to myself or remove the ability to moderate Talk for the project?

This is what I currently see in the latest version of Firefox

![screen shot 2015-06-12 at 1 32 58 pm](https://cloud.githubusercontent.com/assets/753325/8141767/ccd4c4ae-1107-11e5-96ed-98b50f96abe2.png)

[2015-06-12 23:55] mschwamb commented on #493
Now that talk was implemented on the preview system I was able to look at the Talk for a subject I was sent in the classification interface before finishing my classification because of the subject id being listed in the talk collection button.

I clicked on the collections button in the interface

![screen shot 2015-06-12 at 1 39 23 pm](https://cloud.githubusercontent.com/assets/753325/8141847/64

[2015-06-13 02:59] mschwamb opened #549 "when you click on an external link added by the External links interface weird text added at the end of the url"
Tested by trying different urls and the same thing repeats (at least on Firefox)

this text '?_ga=1.265338380.2075271546.1430920663' is at the end of the url string

So when I click on the P4: Terrains blog link I get this (it still gets to the site okay though)

![screen shot 2015-06-12 at 4 54 05 pm](https://cloud.githubusercontent.com/assets/753325/8142756/58ac111e-1124-11e5-930e-905b1baee2dc.p

[2015-06-13 14:47] edpaget commented on #548
If you're an owner you are already an expert and a talk moderator. It would be good to add the owner back to this list though (and maybe remove the checkbox for owner for non-owner collaborators since you can't make them owner anyway).

[2015-06-13 14:48] edpaget commented on #549
This is just our Google Analytics info. It won't affect external sites loading.

[2015-06-13 15:11] mschwamb commented on #548
I actually don't want to be a talk moderator. On the projects I'm involved typically I give up mod status and let the volunteer moderators handle  it, so it would be good to be able to opt out those extras if possible.

[2015-06-13 15:17] mschwamb commented on #549
okay. thanks

[2015-06-13 15:17] #549 closed

[2015-06-13 15:24] edpaget commented on #548
You have to be a Talk Admin for your project's Talk to add Talk Moderators, owners are automatically admins (otherwise no one could add more Admins or Moderators). Being an admin gives you all the abilities of a moderator,  but not necessarily the "Moderator" flair in Talk. So I don't think it makes sense to be able to 'opt-out' of those settings.

[2015-06-13 15:44] mschwamb commented on #548
if it doesn't give the 'moderator' tag on Talk, then that's fine with me.

[2015-06-13 15:46] mschwamb commented on #548
I did find the owner check box confusing for the other collaborators and moderators.

[2015-06-15 08:47] #512 closed

[2015-06-15 09:16] camallen commented on #398
@mschwamb - FYI, the classification dump now contains each classifications associated subject metadata and the retired status of the image for it's workflow. It's may not include all the subjects, depending on what's been classified.

[2015-06-15 12:59] mschwamb commented on #398
On 6/15/15 2:16 AM, Campbell Allen wrote:

Okay thanks, but from experience that isn't completely helpful. It means
I have unique the subject list to get metdata on the all subjects
classified. It's been my on-going frustration with the csv data dumps
that I have to ask or now make using the MongoDB dumps.

the problem ks if I wasn't the person who uploaded the subjects, I don't
have the number of

[2015-06-15 13:05] mschwamb commented on #548
@aliburchard  should there be an text explanation that the owner has all of these powers and can't remove those roles from themselves?

[2015-06-15 13:18] mkosmala commented on #398
+1

[2015-06-15 13:25] vrooje opened #551 "Talk sidebar showing Private projects in dropdown menus"
Example: from http://preview.zooniverse.org/panoptes/#/projects/vrooje/galaxy-zoo-bar-lengths/talk I can access http://preview.zooniverse.org/panoptes/#/projects/vrooje/galaxy-zoo-merger-free-black-holes/talk - but that project is private and it should not show up as an option at all.

[2015-06-15 13:28] vrooje opened #552 "Talk sidebar: users should only see projects they've classified on?"
On the Talk sidebar where you can jump to a different project, should we only show the projects the user has classified on? As we grow this might get to be a very long list which could be overwhelming for newcomers.

Maybe this is already a feature -- I suspect not but I've done basically every project so I wouldn't be able to tell.

[2015-06-15 13:52] camallen commented on #551
@vrooje you sure that's not this old project, http://preview.zooniverse.org/panoptes/#/projects/zooniverse/galaxy-zoo-mergers

[2015-06-15 14:01] aweiksnar commented on #552
Right now it's just a list of 20 projects. I believe the original intent was to try and get users exploring new projects, but if people find it more useful as a list of ones they have participated in perhaps we should change up the list

[2015-06-15 14:16] mschwamb commented on #527
In case this is helpful - Looks like Talk is available on the preview site  (maybe without comment feature live yet?), and I got the same error/behavior adding Cam as a collaborator to the project. It spat out the error message as above but did add Cam after I did a browser refresh his username showed up on the collaborators list.

[2015-06-15 14:16] aliburchard commented on #525
Alright, so after chatting about this with @ggdhines and @mrniaboc, I'm starting to think that greg's aggregation approach makes sense -- do the clustering first and then the classification vote. Take the wildebeest watch project, for example. I want users to mark all the wildebeest as moving in one of 8 directions. If we do the clustering first, then we have one point for every wildebeest. Then w

[2015-06-15 14:26] mkosmala commented on #525
@aliburchard Ah! I understand now. Hmm... I think then, yes, it makes sense for my project to cluster first and then get info on which tool was most-used for each cluster-object.

But I can think of some cases (not in my project) that might be problematic:
1. What if a project asks the user to mark objects multiple times with different tools? For example, I want users to mark ALL the trees with gr

[2015-06-15 14:31] aliburchard commented on #525
@mkosmala yesssss, excellent point. What we were thinking is perhaps allowing project builders to specify whether they wanted clustering *first* followed by majority vote for the tool type, or whether they wanted clustering by tool only with no majority vote (assume people choose tools perfectly). The code for aggregating the latter is pretty straightforward -- not sure how hard it is to wire up t

[2015-06-15 14:31] ggdhines commented on #525
@mkosmala - for your first use case, I think that would require me (the aggregation code) giving you the raw votes in addition to the consensus. That's an interesting use case I hadn't thought of before, will have to look into it.
For your second use case, it might be best for those markings to split up into different tasks. Not prehaps the best approach - I'm definitely open to others.

[2015-06-15 14:35] mkosmala commented on #525
@ggdhines Yes, for the second case, it probably would be better to split up into different tasks. As the front-end is currently implemented, it's actually fairly difficult to draw overlapping shapes -- and almost impossible to delete the one you want to when they are overlapping.

[2015-06-15 14:37] mkosmala commented on #525
And, of course, this brings up the "best practices" concept, which I *think* someone has started an issue on somewhere. @aliburchard? I've drunk the Kool-aid, so I already know what many of Zooniverse's best practices are. But new project creators almost certainly won't. This might be something to add.

[2015-06-15 14:40] ggdhines commented on #525
@mkosmala - yeah listing this in the best practice document somewhere is important

[2015-06-15 15:28] edpaget commented on #527
This is fixed now.

[2015-06-15 15:28] #527 closed

[2015-06-15 15:33] aweiksnar commented on #537
Search box styling and placeholder text improved in https://github.com/zooniverse/Panoptes-Front-End/pull/544. I'll also keep auto-complete in mind for the future as well!

[2015-06-15 15:33] #537 closed

[2015-06-15 15:39] aweiksnar commented on #538
Closed via https://github.com/zooniverse/Panoptes-Front-End/issues/377

[2015-06-15 15:39] #538 closed

[2015-06-15 16:01] aweiksnar commented on #533
@DarrenMcRoy

[2015-06-15 16:34] aweiksnar opened #553 "Add role label to user avatars in talk"
- Will probably only show a user's role of highest acclaim to avoid clutter

[2015-06-15 16:38] brian-c commented on #553
It'd be cool to have this reused on the project's Science page.

[2015-06-15 19:27] aweiksnar commented on #534
Hashtag links https://github.com/zooniverse/Panoptes-Front-End/commit/e5ea71b9af56e22ed9582490872ede192dfad38e and comment links  https://github.com/zooniverse/Panoptes-Front-End/commit/4c791578925096c2367185fe4f5f953a353b0358 in search results should be working now. Re-open if you disagree. Going to open a separate issue for markdown links

[2015-06-15 19:27] #534 closed

[2015-06-15 19:29] aweiksnar opened #556 "Make mention links in markdown go to subject/user/tag"

[2015-06-15 19:36] chrissnyder commented on #376
Clarification that for the Talk beta, just linking the existing page that has been built is sufficient.

[2015-06-15 20:02] mschwamb commented on #553
Also I think owner should have ability to decide what role they want listed on Talk if possible. I'm the owner of P4:Terrains but that's because I started it. the PI of the project is still someone else officially. So my role on Talk would be better as scientist than as owner. I'm not sure if other science teams would feel that way or have similar situations.

[2015-06-15 20:40] #230 closed

[2015-06-15 22:27] edpaget commented on #551
Were you logged in?

[2015-06-16 06:35] aliburchard commented on #525
@mkosmala @ggdhines alrighty, I'm starting a best practices google doc here: https://docs.google.com/a/zooniverse.org/document/d/1JjIp06weeOlxQZqCdOuTXTPERKFBYfo0Xs2NIij8gu0/edit?usp=sharing

You may need to request access, but please use it as a place to braindump all possible best practices that project builders should be aware of. We can tidy it up later.

[2015-06-16 08:01] karenlmasters opened #560 "How to be sure changes are saved?"
I'm making some edits today, and I am worrying that they are not saved. I get that they are actually autosaved, but some sort of confirmation of that visually on the page would be great. :)

[2015-06-16 13:05] edpaget opened #561 "Reset Cached Subjects when Subject Set is Changed"
It looks like @karenlmasters changed a subject set, but was still being served older cached subjects from the list the Front End keeps. https://github.com/zooniverse/Panoptes/issues/882#issuecomment-112198734

[2015-06-16 13:48] chrissnyder commented on #533
Too large an issue, closing for more specific issues where appropriate.

[2015-06-16 13:48] #533 closed

[2015-06-16 13:51] chrissnyder commented on #531
Milestoning this as first release as some design work does need to be done. Let's leave the larger discussion of how to make it more engaging til later.

[2015-06-16 13:54] chrissnyder commented on #525
Tagging this as first release, but I'm not sure that the output from this issue is. Does any of this have any direct ramifications for the front end?

[2015-06-16 13:58] ggdhines commented on #525
@chrissnyder - I think the affect is that something should be listed in the project creation page explaining about how markings are going to be clustered - so people understand how things work. @aliburchard this seem reasonable?

[2015-06-16 14:25] chrissnyder commented on #502
Related to https://github.com/zooniverse/Panoptes-Front-End/pull/509

[2015-06-16 15:46] DarrenMcRoy commented on #553
I think there should be the ability to display multiple roles. Roles are not a strict hierarchy... someone could be a moderator and a translator, for instance. Maybe up to 2 or 3 roles could be displayed?

[2015-06-16 15:53] chrissnyder commented on #482
@simoneduca Can you confirm this is fixed and close if so?

[2015-06-16 15:55] chrissnyder commented on #481
Fixed by https://github.com/zooniverse/Panoptes-Front-End/pull/543

[2015-06-16 15:55] #481 closed

[2015-06-16 15:56] chrissnyder commented on #472
Not possible yet.

[2015-06-16 15:56] DarrenMcRoy commented on #552
I think this list should be customizable by the user, a la Reddit subreddits, and how I assume your "feed" will work.

You're default subscribed to the ZooTalk, but you can add quicklinks to Talks that you visit often.

[2015-06-16 15:56] chrissnyder commented on #470
Believe this was addressed with a lot of the migration work that was done. @edpaget can you confirm?

[2015-06-16 15:58] chrissnyder commented on #461
Was this solved with https://github.com/zooniverse/Panoptes/issues/672? @camallen can you confirm and close if so?

[2015-06-16 15:59] chrissnyder commented on #460
Closed via https://github.com/zooniverse/Panoptes/pull/946

[2015-06-16 15:59] #460 closed

[2015-06-16 16:00] chrissnyder commented on #457
Fixed via https://github.com/zooniverse/Panoptes-Front-End/pull/547

[2015-06-16 16:00] #457 closed

[2015-06-16 16:04] simoneduca commented on #482
@chrissnyder I can't reproduce step 1 anymore. Did you lift the limit?

[2015-06-16 16:05] eatyourgreens opened #564 "React warning for classifier/subject-viewer"
Probably nothing serious, but React dev tools throw this warning in the console for the SubjectViewer
`Warning: SubjectViewer is accessing getDOMNode or findDOMNode inside its render(). render() should be a pure function of props and state. It should never access something that requires stale data from the previous render, such as refs. Move this logic to componentDidMount and componentDidUpdate i

[2015-06-16 16:05] camallen commented on #461
I load tested the update_links with 500 subjects and reduce the time to ~200ms on staging. I haven't finished testing to figure out if this is a linear function with more subjects but i suspect there are components that will be linear, the links update should be pretty quick. I really need to test if with 10K to see how well it works, I plan on doing this with the P4 Terrains data.

For reference,

[2015-06-16 16:05] #461 closed

[2015-06-16 16:06] chrissnyder commented on #448
Export works now, but could potentially add an interface to specify who we want to send it to.

[2015-06-16 16:07] chrissnyder commented on #443
This is a pretty dense single issue, but leaving it up cause its also important to stay visible. Tagging as "first release" only so we know to look at this feedback as well and decide to take action or not.

[2015-06-16 16:08] aweiksnar commented on #552
I believe that endpoint is limited to 20 projects at a time

[2015-06-16 16:08] chrissnyder commented on #429
@vrooje @aliburchard This looks potentially outdated. Can you check if it works or not now and close if this is taken care of?

[2015-06-16 16:10] chrissnyder commented on #411
Same comment as https://github.com/zooniverse/Panoptes-Front-End/issues/429 @vrooje @aliburchard

[2015-06-16 16:10] chrissnyder commented on #410
Closed via https://github.com/zooniverse/Panoptes/issues/883

[2015-06-16 16:10] #410 closed

[2015-06-16 16:11] chrissnyder commented on #408
Duplicate of https://github.com/zooniverse/Panoptes-Front-End/issues/245

[2015-06-16 16:11] #408 closed

[2015-06-16 16:12] chrissnyder commented on #407
Going to dump this into https://github.com/zooniverse/Panoptes-Front-End/issues/245 as well, as it's all pretty much design critiques of the workflow builder.

[2015-06-16 16:12] #407 closed

[2015-06-16 16:15] chrissnyder commented on #405
Tagging as enhancement only because it feels like there is tension here between projects which require the fast swapping to get a sense of motion and those with other purposes for multiple images per subject.

[2015-06-16 16:15] edpaget commented on #470
Yeah people should be subscribed by default now. The migration is still happening.

[2015-06-16 16:16] chrissnyder commented on #404
@mrniaboc You had a possible design for this already, correct? If so, could you share it with Sarah?

[2015-06-16 16:16] chrissnyder commented on #400
Closed via https://github.com/zooniverse/Panoptes/issues/878

[2015-06-16 16:16] #400 closed

[2015-06-16 16:17] mkosmala commented on #443
@chrissnyder Would you like me to split it out into separate issues referencing back to this one, and then close this issue?

[2015-06-16 16:17] chrissnyder commented on #398
Don't know what to do here. Pinging @chrislintott

[2015-06-16 16:19] chrissnyder commented on #397
Related to https://github.com/zooniverse/Panoptes-Front-End/pull/486, not able to do easy because dialogs are being used for things other than just a quick information dump, i.e., closing the subject upload dialog box cancels the subject upload.

[2015-06-16 16:20] chrissnyder commented on #395
Tagging as bug because I don't know why cycling through images would override scroll behavior.

[2015-06-16 16:21] chrissnyder commented on #394
Sort of a duplicate of https://github.com/zooniverse/Panoptes-Front-End/issues/525, closing to consolidate discussion.

[2015-06-16 16:21] #394 closed

[2015-06-16 16:21] #530 closed

[2015-06-16 16:22] chrissnyder commented on #392
I think it's unlikely the web interface will ever scale to ten of thousands of subjects and that alternative tooling would need to be built to support that level of subject ingestion. Closing this, but if someone disagrees, do re-open.

[2015-06-16 16:22] #392 closed

[2015-06-16 16:24] chrissnyder commented on #391
100% agree with Meg here, but tagging as future plans as the current solution works for now.

[2015-06-16 16:25] chrissnyder commented on #381
Will use @parrish work on notifications.

[2015-06-16 16:26] camallen commented on #392
For reference, @brian-c built this for stargazing. I don't think it's out of date and should work out of the box. https://github.com/zooniverse/panoptes-subject-uploader I can provide some other code to create batches from manifest files on request.

[2015-06-16 16:27] chrissnyder commented on #370
I think a number of these have been done since the issue was posted. Closing as outdated.

[2015-06-16 16:27] #370 closed

[2015-06-16 16:28] chrissnyder commented on #366
Text has since changed and looks to address these concerns. @rjsmethurst reopen if you disagree.

[2015-06-16 16:28] #366 closed

[2015-06-16 16:30] chrissnyder commented on #356
Design issue with the project landing page that is duplicative of others. Closing to consolidate.

[2015-06-16 16:30] #356 closed

[2015-06-16 16:30] chrissnyder commented on #353
Looks to be addressed at some point. Closing.

[2015-06-16 16:30] #353 closed

[2015-06-16 16:31] chrissnyder commented on #343
I suspect this had to do with a lot of the user migrations that went on. Do reopen if the problem has persisted.

[2015-06-16 16:31] #343 closed

[2015-06-16 16:33] chrissnyder commented on #330
I think I agree, however I haven't heard any other noise about this. If others bring up the issue, we can address this again.

[2015-06-16 16:33] #330 closed

[2015-06-16 16:34] chrissnyder commented on #328
Outdated.

[2015-06-16 16:34] #328 closed

[2015-06-16 16:34] chrissnyder commented on #327
Text for first version of site done. Closing in favor of more piecemeal issues.

[2015-06-16 16:34] #327 closed

[2015-06-16 16:35] chrissnyder commented on #316
I think this is outdated. Pinging @brian-c to be sure.

[2015-06-16 16:38] chrissnyder commented on #277
https://github.com/zooniverse/Panoptes thing. I don't know if the API supports pausing subject sets, but it would be worth addressing over there if this is important.

[2015-06-16 16:40] chrissnyder commented on #274
This might be outdated with all the updated project visibility work that was done recently. @camallen can you comment/close?

[2015-06-16 16:40] brian-c commented on #392
I think I ended up building some stargazing-specific bits into that tool, but it's a start.

[2015-06-16 16:43] chrissnyder commented on #273
No idea where this one is. I think it was also taken care of with the project visibility work. @edpaget ?

[2015-06-16 16:45] chrissnyder commented on #263
Looks like work was done on this issue. @aliburchard Closing, but reopen if you disagree.

[2015-06-16 16:45] #263 closed

[2015-06-16 16:45] chrissnyder commented on #259
@aweiksnar Does this still occur?

[2015-06-16 16:46] chrissnyder commented on #255
Looks to be taken care of with a combination of the help text and the recent auto-save feature Brian added.

[2015-06-16 16:46] #255 closed

[2015-06-16 16:46] edpaget commented on #273
The reset hasn't been implemented (as far as I know), but things are only counted once the project is in the 'live' state.

[2015-06-16 16:49] chrissnyder commented on #254
Looks to be changed.

[2015-06-16 16:49] #254 closed

[2015-06-16 16:49] aweiksnar commented on #259
I lost ownership of the "alex" username during the last users migration, so this may be challenging to reproduce. Feel free to close if you'd like and we can always re-open if it comes up again. My new panoptes account has been good

[2015-06-16 16:59] brian-c commented on #482
This should have been closed with #487, but I guess closing from PR comments doesn't work, sorry.

@simoneduca I believe the limit was upped to 1,000 or 10,000. Display of this number could still be better.

[2015-06-16 16:59] #482 closed

[2015-06-16 16:59] chrissnyder commented on #253
I disagree this is required. It would definitely be an improvement over what we have now, but I don't think that's an appropriate criteria for first release.

[2015-06-16 17:02] chrissnyder commented on #247
Likely outdated.

[2015-06-16 17:02] #247 closed

[2015-06-16 17:03] chrissnyder commented on #259
Roger that.

[2015-06-16 17:03] #259 closed

[2015-06-16 17:04] chrissnyder commented on #239
Sounds like the original issue was resolved. Closing.

[2015-06-16 17:04] #239 closed

[2015-06-16 17:05] chrissnyder commented on #223
Probably already know the answer, but the sidebar on the Science page.

[2015-06-16 17:05] #223 closed

[2015-06-16 17:07] chrissnyder commented on #218
Feels like we need to arrive at an actual rule of thumb here, especially if a science team is going so far as to pre-process image merely to suit the idiosyncrasies of how the classifier behaves.

[2015-06-16 17:07] #217 closed

[2015-06-16 17:08] #205 closed

[2015-06-16 17:08] #206 closed

[2015-06-16 17:09] #191 closed

[2015-06-16 17:09] chrissnyder commented on #193
It might be out of date, but should confirm it's solved before closing.

[2015-06-16 17:10] chrissnyder commented on #185
Looks like we are split down the middle. Pinging @chrislintott

[2015-06-16 17:15] chrissnyder commented on #155
Looks to be a number of different points being addressed here, and I think the help text added directly addresses the original question.

[2015-06-16 17:15] #155 closed

[2015-06-16 17:29] brian-c commented on #316
There's no pre-upload "You're about to upload too many!" warning yet.

@edpaget is it safe to use `max_subjects` and `uploaded_subjects_count` to display this? My (user #3) `max_subjects` is 100, and my `uploaded_subjects_count` increases when I create subjects but doesn't decrease when I delete them.

[2015-06-16 17:33] brian-c commented on #253
I'm already working on this @chrissnyder. It'll be a while.

Should have assigned myself, sorry.

[2015-06-16 17:41] edpaget commented on #223
Actually they're not used at all and that field will be removed.

[2015-06-16 18:09] chrissnyder commented on #470
Ok cool.

Closing this issue as the work is being done elsewhere and there isn't anything left to do on the front-end.

[2015-06-16 18:09] #470 closed

[2015-06-16 18:45] #150 closed

[2015-06-16 18:48] mkosmala commented on #223
@edpaget Which field(s) will be removed from the back-end?
And @chrissnyder, none of those things shows up on the sidebar on the Science page. Is there another issue open requesting that this happen?

[2015-06-16 18:49] edpaget commented on #223
The team_members field. It's going to be replaced with more freeform pages.

[2015-06-16 18:56] mkosmala commented on #503
According to @edpaget on #223, there is going to be a more freeform page for team member info. Is this going to be a page/tab in addition to the 'science' page?

I want to echo @mschwamb above, but I think it's a high-priority item. The volunteers deserve to know who is affiliated with the projects! In the meantime, I'm just tacking on Markdown to the bottom of my science page explaining all the t

[2015-06-16 19:01] edpaget commented on #503
@mkosmala @mschwamb When we finish up #557 you'll be able to set a different display_name that can be your full name or whatever that will be shown in places like the Science Page in addition to your short name that's used for @-mentions. Similar to how Twitter works.

[2015-06-16 19:59] mschwamb commented on #392
Yeah, I think just having something  down the line even if it just generates a script that talks to the backend api and uploads them one by one would help in the future. my project had 20,000 subjects. We were allowed to have @camallen do the upload, other projects won't be as lucky. I think there are teams where pointing and clicking in a  project builder will be what they're comfortable with. As

[2015-06-16 20:03] mkosmala commented on #392
I've already written a Python script to upload an arbitrary number of subjects to the back-end. Would be relatively simple to make it generalizable. I'll put it on my things-to-do-in-July list and then link back to this issue when it's ready.

[2015-06-16 20:10] mschwamb commented on #503
@edpaget  that doesn't solve acknowledging the places we work at.  It would be good though on the science page if affiliation can be listed if the person has one. Every academic institute I've been at wants to have some credit for the projects I've helped created, and that's been through acknowledging that I'm at a specific place. Currently there is no way to do that.

Changing my display name doe

[2015-06-16 20:18] DarrenMcRoy commented on #503
(Just wanted to say, very glad that we have that system of display names and @-mention-names.)

[2015-06-16 20:22] aliburchard commented on #218
A rule of thumb would be great here -- right now I'm working with the whale project to try and optimize image resizing for this as well.

[2015-06-16 20:35] edpaget commented on #503
@mschwamb sure that sounds like a different issue though.

[2015-06-16 20:56] brian-c commented on #218
We can't specify a window size or aspect ratio our users are going to be viewing the site at, so I really don't think it makes sense to define a rule of thumb for image dimensions. And any rule of thumb we set would be obsoleted by future improvements to the page layout.

I agree that the automatic layout of the classification page can be improved a lot. I don't think it's bad enough to be a block

[2015-06-16 21:52] mschwamb commented on #493
This shouldn't be future plans. This actually causes problems with data reduction because volunteers can be biased by Talk or other outside data and there is no way to identify if that happens. The subject id should not be listed anywhere in the classification interface. This why it's never listed on other Zooniverse projects before classifications are submitted.

[2015-06-16 22:03] mschwamb opened #567 "Very confusing if an image is favorited or not"
The heart is filled all the time for me and gets unfilled when you click to 'favorite' . I find that confusing. Shouldn't it be the other way? Also once you click on it, there's nothing that actually tells you what that action does. I think for previous Zooniverse volunteers they will know what to do, but new science teams and volunteers won't really know or use that button as is.

[2015-06-16 22:18] mschwamb commented on #306
@chrissnyder this was closed but this feature does not exist on the current preview version of the site. It should be reopened.

[2015-06-16 22:29] brian-c commented on #306
Looks like the link got lost in a merge. I'll have a fix up shortly.

[2015-06-16 22:35] mschwamb commented on #503
@edpaget I can open a separate one for institute lables

[2015-06-16 22:36] mschwamb opened #568 "Adding institution science team works at/is affiliated to science page"
It would be good though on the science page if affiliation for the science team and collaborators can be listed if the person has one. Every academic institute I've been at wants to have some credit for the projects I've helped created, and that's been through acknowledging that I'm at a specific place. Currently there is no way to do that.

Changing my display name doesn't tell people I'm actuall

[2015-06-16 22:36] mschwamb commented on #306
Thanks @brian-c

[2015-06-16 22:58] mschwamb opened #570 "Having a set of default Talk boards and subboards created at project creation"
From experience most science teams have never really worked with message boards/forums and don't know what they need  for Talk. The current setup still assumes that. As my project still has an empty Talk when I created it.

 For Planet Four launch, I modeled off of what Rob, Arfon, @chrislintott created for Planet Hunters. I've noticed that some projects don't know that they could create subboards

[2015-06-16 23:04] edpaget commented on #568
Can this not be handled by including their names in the project text somehow? I'm curious why this needs to be an explicit feature.

[2015-06-16 23:05] edpaget commented on #493
I'm reworking that dialogue anyway and I'll remove it.

[2015-06-16 23:08] mschwamb commented on #568
I agree with you @edpaget if there was an explicit team section like custom made Zooniverse projects where you could stick a bio. Then I could add the name I use in the research community and add institution

But where? There's a science description,  a FAQ, and results. The only place I'm even mentioned is the side bar of the science page. If there was a team section then yes this would be sorted

[2015-06-16 23:09] mschwamb commented on #493
A huge thank you @edpaget

[2015-06-17 01:46] #306 closed

[2015-06-17 02:31] #376 closed

[2015-06-17 08:41] aliburchard opened #571 "auto-save keeps deleting changes"
The timing of the autosave is such that it often seems to override my last 15 seconds of work. I'll add a new task, for example, but then the autosave kicks in to save the text I've just changed in the help text, and my new task is deleted.

Also -- I found the ability to *not* save changes to a workflow to be incredibly useful, as I often started to rewrite a task and then changed my mind. Now I

[2015-06-17 08:49] aliburchard opened #572 "disappearing media library"
We had a media library in a previous demo version that allowed project builders to upload images and generated markdown code for them. This was critical for the science teams I worked with, as they didn't know markdown and didn't have the images stored somewhere with a url.

Did this disappear on purpose @brian-c ?

[2015-06-17 08:55] aliburchard commented on #560
+1 -- I often want to move on to another page or another task for edits, but my changes haven't been saved and I lose them.  I wind up waiting an extra 10 seconds or so just to make sure -- which doesn't sound like much, but I find myself wanting to be able to manually hit "save" and move on quicker.

[2015-06-17 09:21] camallen commented on #316
@brian-c that counter should decrease if the subject gets permanently deleted. What is the end point you're using to delete the subject?

[2015-06-17 09:31] camallen commented on #568
I'm thinking we should support this as a markdown page. The "project#team_members" field is not being used so i think we should modify it to be a text field and add it to the front end for editing / display.

[2015-06-17 09:54] camallen commented on #274
Backend issues should mostly have been dealt with by https://github.com/zooniverse/Panoptes/pull/946. This code ensures that when a user modifies a project that is in the live state the front end should warn the user that making changes is a bad idea, if the user proceeds the front end should set the live param to false along with any updates. The project will then end up with all `beta/launch  _a

[2015-06-17 10:17] mschwamb commented on #572
See #306

[2015-06-17 12:44] brian-c commented on #572
Just deployed.

[2015-06-17 12:44] #572 closed

[2015-06-17 12:59] brian-c commented on #571
Saving from one field should definitely not delete work from another. Can you write out some steps to reproduce?

I am getting an issue where the cursor moves to the end of its input after save sometimes. I'll look into that.

Not auto saving is what gave us the confusing behavior of sometimes having to press the save button and sometimes not. We won't be able to handle this nicely without major c

[2015-06-17 13:35] twhyntie opened #573 "How do I add comments/"talk" about a subject?"
Apologies if this is obvious, but when I click on the "Talk" button after completing a classification I get taken to a page displaying the subject image which says:

_There are no comments focused on this subject_

I can't see how to add any comments, though - am I missing something? Do I need to change some settings in the Project Builder?

Thanks, Tom

[2015-06-17 13:37] twhyntie opened #574 "How do I create new discussion boards for a project?"
Related to [#570](https://github.com/zooniverse/Panoptes-Front-End/issues/570), perhaps, but given that the boards aren't created by default - how do I create them? I can't see anywhere in the Project Builder or _Discuss_ page in my project for creating them.

[2015-06-17 13:44] karenlmasters opened #575 "Uploading multiple images per subject - how to tell what's missing"
Uploading a file with 4 images per line. Two of them is wrong in some way (eventually worked out typo in the names) but if it could give some indication of which of the images is missing that would have helped.

[2015-06-17 13:54] karenlmasters commented on #571
I had this problem, and then Cam helped me realise I wasn't actually logged in - even though it looked like I was.

[2015-06-17 13:55] karenlmasters commented on #527
Huh - I've been seeing this behaviour today adding collaborators to "Galaxy Zoo for Schools Outreach".

[2015-06-17 14:00] vrooje commented on #570
Help, Chat and Research

(otherwise I agree, a default set of boards would be useful)

[2015-06-17 14:02] vrooje commented on #518
Agreed. One specific use: in the GZ Bar project I only want people to draw 2 lines.

[2015-06-17 14:04] brian-c commented on #571
@camallen is the session timing out without refreshing the token?

[2015-06-17 14:05] vrooje commented on #553
Probably need some kind of shorthand or icon to take up less space if all roles will be labelled.

I think the opting in/out of visible roles is interesting but I don't want anyone to be an invisible moderator.

[2015-06-17 14:11] vrooje opened #577 "Add Zooniverse Ribbon to User Avatar"
Definitely think this isn't a first-release target but I'm mentioning it now anyway.

I think a user's [Zooniverse ribbon](https://www.zooniverse.org/me) should show up underneath their avatar when they post on Talk. Not with numbers of classifications or even what each color means, but just a ribbon of proportional-area colors. The ribbon doesn't rank users or provide a hierarchy, but it still gi

[2015-06-17 14:13] edpaget commented on #527
On the preview.zooniverse.org site? Did you create the project recently?

[2015-06-17 14:51] #548 closed

[2015-06-17 14:55] mschwamb commented on #570
Help, Chat, and Science were what we've used on other previous - I think we should keep that format for continuity

[2015-06-17 14:56] edpaget commented on #570
@mschwamb there are going to be a lot of project's that aren't doing science necessarily like humanities ones.

[2015-06-17 14:57] DarrenMcRoy commented on #577
I 100% agree with this, although I think we may want it displayed in a way that spans the entire width of the post, otherwise it will be very jammed and may look meaningless after the fourth or fifth project.

Also, it should be opt-out. Not everyone will want this info displayed. :-)

[2015-06-17 14:57] mschwamb commented on #570
good point. how is it handled on non-science projects' Talks currently?

[2015-06-17 15:01] eatyourgreens commented on #570
For Science Gossip, we used Research in place of Science on Talk.

This also meant using 'researcher' instead of 'scientist' on the team page.
http://www.sciencegossip.org/#/about/the-team

[2015-06-17 15:05] edpaget commented on #277
This is already support on Panoptes. There is not a UI for it yet.

[2015-06-17 15:08] DarrenMcRoy commented on #570
@mschwamb I actually rather strongly oppose any sort of mandated structure of boards, or automatically generated boards. The rigid, inflexible Help/Science/Chat format has been a source of significant frustration for many users, and nobody would be sorry to see it go.

I would support having an option -- an opt-in or opt-out option? -- to have a set of basic boards auto-generated, although I would

[2015-06-17 15:12] aweiksnar commented on #570
We could have some copy with suggested board titles in the board creation form to get new users up and running

[2015-06-17 15:13] DarrenMcRoy commented on #536
I mean, we have mentions and DMs on the current Talk, the mentions just don't do very much. I assume that DMs are still a feature on the new Talk; they're rather critical!

Mentions would be tied into the notifications system and the personal feed. It's important, of course, that all user names (not display names) be restricted to asinglelineofcharacters or else the @ will not work, as it doesn't

[2015-06-17 15:15] DarrenMcRoy commented on #570
I actually like the idea of just clicking a button that instantly generates a basic set of boards, for research teams that don't want to do a ton of work setting up their Talk.

I'd just like it to be a bit more in-depth and not be mandatory.

[2015-06-17 15:16] mschwamb commented on #570
@DarrenMcRoy I'm sure it's a frustration for volunteers, but I think giving no guidance to the research teams who have to use them isn't good either. I'm not suggesting this be mandatory, but one thing I've seen on both my projects from both science teams is that Talk has been a source of confusion of knowing how to use it or navigate so giving options so you can see how's it's supposed to work an

[2015-06-17 15:18] DarrenMcRoy opened #578 "Do we have the option for universal "Zooniverse Team" role label on Talk?"
I've found it very useful when members of the Zooniverse staff, especially myself, carry a tag of "ZOONIVERSE TEAM" that applies to all Talks. It's much clearer than "Admin" or such.

This feature was not in the current talk, but was hacked specially to allow for myself and other staff to have that tag.

Is this feature in the new Talk yet?

[2015-06-17 15:20] aweiksnar commented on #578
I'm working on role displays right now and will definitely add that if it's possible

[2015-06-17 15:23] mschwamb commented on #570
Also apologies for not thinking broadly enough re humanities.

[2015-06-17 15:30] DarrenMcRoy commented on #570
Well, I don't think anything that I said supports "giving no guidance." :-) Among other things, there's going to be a Best Practices document that should give significant Talk guidance!

But do you agree with the idea of having an option, in the process of creating a new project, to automatically generate a set of boards? I think it should be opt-in. Check a box while creating your Talk, and the b

[2015-06-17 15:31] DarrenMcRoy commented on #578
Please do!

[2015-06-17 15:34] mschwamb commented on #277
Got told to bring the discussion back here.

My solution would be to do this with a manifest file type file.  You upload one for ones you want to 'retire' and for ones that you want to 'unretire'. That way it's not clicking through 10,000 check boxes.

[2015-06-17 15:37] vrooje commented on #570
I like the idea of presenting owners/collaborators with a choice:

  - I want to create my own boards from scratch
  - Give me a default (editable) set of boards

I think it's worth discussing what those boards should be, and even, perhaps in the future, having a couple of options for pre-packaged board setups. It's at least possible that science projects have a completely different set of standar

[2015-06-17 15:38] DarrenMcRoy commented on #570
@vrooje +1

[2015-06-17 15:39] vrooje commented on #577
I'm not sure I agree it should be opt out. I do agree the display might get tricky but if the avatars are e.g. 50 pixels across then I think it's okay to have 2% total classifications be 1 pixel width assigned to a project.

[2015-06-17 15:40] mschwamb commented on #570
@DarrenMcRoy I'll for options, and agree and my thought was that it would be flexible and there would be opt in or opt out as @vrooje suggests, but in my mind opt-in would be extremely minimal so far less than you made for Science Gossip. I would say 3 starter boards 'Help, Research, Chat', with a subboard in each if that's required to make posts and then let people build from there pointing to ex

[2015-06-17 16:02] mkosmala commented on #503
@edpaget But is there going to be a 'people' page/tab in addition to the 'science' page? I'm with @mschwamb, but I'll go further: I want affiliation, but I also would like to be able have additional information. Look what Zooniverse's team page:
https://www.zooniverse.org/team
Would you really be happy with just a list of real names on that site?

[2015-06-17 16:08] edpaget commented on #503
@mkosmala my plan is to add support for arbitrary markdown pages on a project. You can add whatever you want with whatever title you want.

Also there are going to be user profiles (with controllable visibility) you can add further information about yourself to.

At the moment feel free to add whatever you want to any of the pages you have. You can put literally whatever content you want on them.

[2015-06-17 16:16] mkosmala commented on #503
@edpaget Okay, thanks. Yeah, I was planning to put info about the team on the 'science' page. It might be a little crowded that way, but will work for now. Looking forward to your arbitrary markdown pages.

[2015-06-17 16:54] DarrenMcRoy commented on #570
So, here's the thing about how this new Talk is currently organized:

The current Talk -- current, Ouroboros talk -- has "help," "science," and "chat" as headers under which other boards live, right? They're not really boards and sub-boards, they're just organizers. The boards all exist on one page (http://talk.sciencegossip.org/#/boards), but organized under those three headers.

The new Talk, ri

[2015-06-17 17:01] camallen commented on #571
@brian-c the default session is 2 weeks, during that time you can convert the cookie (session) into a doorkeeper token. That token is then valid for however long is returned on the token response, 2 hours be [default](https://github.com/doorkeeper-gem/doorkeeper/wiki/Customizing-Token-Expiration#access-token).

You can then use the refresh token workflow to get a refresh token (see above link) app

[2015-06-17 17:03] camallen opened #579 "Preview project listing is broken"
http://preview.zooniverse.org/panoptes/#/projects

![image](https://cloud.githubusercontent.com/assets/295329/8213624/1d8bd402-151b-11e5-9531-5a3ac9672dce.png)

[2015-06-17 17:22] DarrenMcRoy commented on #577
I, for instance, would not want mine displayed.

There are some projects that I do much more than others, even in my spare time, and some projects I've barely touched except to familiarize myself with them. It would be fairly important, given my role to support all project communities, to have evidence of naked personal favoritism accompanying my every post. :-)

[2015-06-17 17:24] mschwamb commented on #570
I'm not sure I understand. I guess I need to see one set up. I can say, there are definitely non-all Zooniverse non-science specific conversations that happen on my projects -and in your system I'm not sure where they would go. Llike is anyone from Planet Four going to ZooCon? or  introducing yourself on Planet Four - that wouldn't go on the help or science/research type thread and wouldn't go on

[2015-06-17 17:30] aweiksnar commented on #570
@mschwamb Since project owners can create any board they like, they could make a "Hangout" board or something like that for those disucssions. We're hoping that giving project owners freedom to create their own boards will keep everyone happy without locking them into help/science/the-objects

[2015-06-17 17:32] brian-c commented on #579
Bad merge on my part. Two minutes.

[2015-06-17 17:34] mschwamb commented on #570
@aweiksnar fully agree. My only point is that giving some guidance when building the project I think would be helpful by autogenerating an example set of starter boards and I don't think a new science/research team is going to know what they need or read lengthly documentation so a default starter set of boards if wanted would be a great option.

[2015-06-17 17:36] DarrenMcRoy commented on #570
I think we're all in agreement that would be a good idea in the long run. I've marked it as a future plan.

[2015-06-17 17:42] #165 closed

[2015-06-17 17:46] #579 closed

[2015-06-17 17:47] mschwamb opened #581 "Autosaving kind of confusing"
It looks like there is some new autosaving feature, but I'm unclear when its saved and when its not especially in the workflow editor - thought I provide the feedback in case its useful

[2015-06-17 17:53] aweiksnar commented on #570
@mschwamb Okay cool, Yeah I need to make some improvements to the talk 'empty state' and will absolutely keep that input in mind when doing so

[2015-06-17 17:56] brian-c commented on #581
The field turns yellow when while saving, green if it was successful, and red if it failed. Maybe "Saving", "Saved", and "Error" labels are necessary here.

[2015-06-17 18:02] mschwamb commented on #581
I only noticed that once on the science page but the science page label text had green around so I wasn't sure what it was doing but guessed maybe that was it, but sometimes I clicked away before that happened and my changes were saved.

I  hard time finding that color change for the help in the workflow.

Maybe a more explicit banner on the top of the browser - like 'content saved'? not sure if t

[2015-06-17 20:42] #561 closed

[2015-06-17 20:56] #405 closed

[2015-06-17 20:56] #395 closed

[2015-06-17 21:43] brian-c commented on #483
I can't reproduce this, is it still an issue @mrniaboc?

[2015-06-17 22:43] #468 closed

[2015-06-18 02:43] chrissnyder commented on #574
They are created from the Discuss page on your project. There should be a set of moderator controls where you can add boards and such.

Definitely agree the default state could use work. Also integrating features like this into the project builder  sounds like a good idea.

[2015-06-18 02:48] chrissnyder commented on #564
Could you isolate the problem from your PR and send a separate PR with just the fix? I'm hesitant to mess with the subject viewer  too much so close to launch.

[2015-06-18 02:50] aweiksnar commented on #574
Similiar to https://github.com/zooniverse/Panoptes-Front-End/issues/570. Improvements to the empty state of project talks will be coming soon, and hopefully resolve both of these!

[2015-06-18 02:56] chrissnyder commented on #525
Ok fair enough.

That said, for launch are we actually planning on having aggregations fully integrated with the platform? I'm out of the loop on where the different pieces are. Should we move this to the future plans milestone?

[2015-06-18 02:57] chrissnyder commented on #513
Am I correct in saying this was solved with the latest user migration?

[2015-06-18 02:59] chrissnyder commented on #503
Looks like the immediate concern here was addressed and the broader request will be added later. Closing for tidiness.

[2015-06-18 02:59] #503 closed

[2015-06-18 03:03] chrissnyder commented on #488
I 100% agree that we need this, but I don't think we need for the imminent soft launch.

Can (and should) be a high-priority issue afterwards though.

Happy to debate further

[2015-06-18 03:12] chrissnyder commented on #443
I'd greatly appreciate it. I think a fair amount of it was already been issued up (keyboard shortcuts #453, zoom #278, etc) but additional points, especially surrounding the drawing tools, warrants additional attention.

[2015-06-18 03:13] chrissnyder commented on #432
Sorry @srallen, reassigning to you.

[2015-06-18 03:14] chrissnyder commented on #429
Definitely outdated after the auto-saving feature. Closing.

[2015-06-18 03:14] #429 closed

[2015-06-18 03:15] #411 closed

[2015-06-18 03:19] chrissnyder commented on #357
Outdated due to auto save feature.

[2015-06-18 03:19] #357 closed

[2015-06-18 03:22] chrissnyder commented on #286
Pretty sure this was addressed in the help text update (the API is down for me at the moment, making it difficult to double-check).

Closing, but do reopen if you disagree.

[2015-06-18 03:22] #286 closed

[2015-06-18 03:24] chrissnyder commented on #277
Apologies @mschwamb for the discussion-bouncing.

[2015-06-18 03:34] chrissnyder commented on #274
Given that any project that runs into this would have to ask us directly to be approved in the first place, I think we can punt the more general case to after soft launch.

[2015-06-18 03:35] chrissnyder commented on #253
Oh cool! Looking forward to see it.

Given that it will be awhile though, moving the milestone target to the all-encompassing "future plans".

[2015-06-18 03:42] chrissnyder commented on #142
Looks to be fixed in the docs, closing.

[2015-06-18 03:42] #142 closed

[2015-06-18 03:44] chrissnyder commented on #124
Closing not because I disagree that we should do additional tracking, but they should be addressed in their own issues/PRs.

[2015-06-18 03:44] #124 closed

[2015-06-18 03:44] #80 closed

[2015-06-18 03:47] chrissnyder commented on #78
Looks like most of this is done or otherwise tracked in other issues.

[2015-06-18 03:47] #78 closed

[2015-06-18 03:47] #60 closed

[2015-06-18 03:47] #115 closed

[2015-06-18 03:48] #97 closed

[2015-06-18 07:52] twhyntie opened #585 "URGENT: http://preview.zooniverse.org/panoptes/#/ down?"
Hi,

Is http://preview.zooniverse.org/panoptes/#/ down? I can't log in and my projects aren't showing up.

Thanks, Tom

[2015-06-18 07:56] camallen commented on #585
@twhyntie - yep this was a breaking change on the backend. I'm working on it.

[2015-06-18 07:57] twhyntie commented on #585
Cool, thanks.

[2015-06-18 09:26] camallen commented on #585
@twhyntie - Seems there are breaking changes in the front end too, might be a while before we get this back online. pinging @brian-c

[2015-06-18 09:45] camallen commented on #585
For what it's worth logging in reset some cached responses with the missing login field.

[2015-06-18 09:47] camallen commented on #585
@twhyntie - I'm pretty sure it's all back online now. Can you check and close this issue if you're happy.

[2015-06-18 09:56] brian-c commented on #585
I'm messing with it, unsuccessfully. My user login field is coming back null. That's breaking things.

Signed out I think it's okay.

[2015-06-18 10:08] camallen commented on #585
@brian-c just migrated you manually, login field should be set now.

[2015-06-18 10:08] eatyourgreens commented on #564
Sure, no problem.

[2015-06-18 10:16] aliburchard commented on #488
Fair enough. I don't think it's absolutely critical if it slows down the launch, but I do think it's really important.

[2015-06-18 10:19] aliburchard commented on #525
@chrissnyder not sure what the timeline for integrating aggregation is - my impression is that it won't be fully integrated with the platform in time for launch.

@ggdhines I think we definitely should have a best practices doc and explanation of this, but that it will be in a separate location -- we don't have space for much more in-line help text, and it's sort of the nitty gritty.

[2015-06-18 10:31] aliburchard commented on #518
Yes please! There are lots of cases where I want just one or two marks per tool.

[2015-06-18 10:35] mschwamb opened #586 "Future request - allow pngs instead of just jpegs for media library"
low in the queue - but my understanding is that pngs can have transparent backgrounds, where as most jpegs don't. All the media library images were converted to jepgs so they had dark backgrounds where before as a png would have allowed the background through. it would be nice in the future if png would be supported.

In the png version I had the background showing through in the jpeg version it's

[2015-06-18 10:41] twhyntie commented on #585
@camallen working for me now - thanks!

[2015-06-18 10:41] #585 closed

[2015-06-18 10:44] mschwamb opened #587 "Typo - on Talk subject pages"
Create a disussion --> Create a discussion
![screen shot 2015-06-18 at 6 41 54 pm](https://cloud.githubusercontent.com/assets/753325/8229496/f793fd5e-15e9-11e5-937f-51de55d25ecc.png)

[2015-06-18 10:46] vrooje commented on #577
The case of Zoo Team members is a special case and perhaps instead of the
ribbon a same-size "Zooniverse Team" banner could be used. But I think
that's different from the general case.

[2015-06-18 10:56] ggdhines opened #588 "sub-tasks for markings is buggy"
when "no sub-tasks  defined for tool" is shown I click on "add task" - the resulting window for subtask creation has a number of issues:
- the "add task" at the bottom of the windows should probably be "add another task" - I thought the "add task" would close the window and save what I had done
- if I create a second subtask, keep it blank, and then "click on remove task"  - that task will disappe

[2015-06-18 11:31] twhyntie commented on #574
The _Moderator Controls_ button has now appeared - it wasn't showing up before - and I can now create boards and add team members. Thanks!

[2015-06-18 11:31] #574 closed

[2015-06-18 11:34] chrissnyder opened #589 "Create set of Zooniverse-wide Talk boards"
I'm assuming this needs to be done by the zooniverse user.

@DarrenMcRoy Thoughts on what those boards should be? Something like Chat, Science, Education, and Help maybe?

[2015-06-18 11:35] chrissnyder opened #590 "Hook up footer links"

[2015-06-18 11:38] chrissnyder opened #591 "Insert avatar/backgrounds for all current Zooniverse projects"
- Current projects project cards/pages on Panoptes are mostly lacking in avatar/background images (e.g. http://preview.zooniverse.org/panoptes/#/projects/zooniverse/galaxy-zoo)
- Add images from our already available set of assets with the goal of making http://preview.zooniverse.org/panoptes/#/projects nicer to browse.

[2015-06-18 11:43] chrissnyder opened #592 "Need basic contact page"
Pinging @DarrenMcRoy for the copy.

Nothing fancy necessary. Bit of verbiage saying if somebody wants to work with us, has a project proposal/idea, etc. Can use a Google Form with fields name, email, institution, and comment box.

[2015-06-18 11:46] chrissnyder opened #593 "Publications page"
I believe @srallen has already made progress here, but making this an explicit issue to close when that work is merged in.

[2015-06-18 12:16] twhyntie commented on #573
Solved by [#574](https://github.com/zooniverse/Panoptes-Front-End/issues/574) - once discussion boards have been created they appear below the subject image page that the **Talk** button takes you to and then new discussions based on the subject can be created.

Because I couldn't create any discussion boards before, none were appearing on the subject page.

Thanks again, Tom

[2015-06-18 12:16] #573 closed

[2015-06-18 12:54] chrislintott commented on #488
I think we should make this very high priority - if not before then immediately after launch

On Jun 18, 2015, at 6:16 AM, aliburchard <notifications@github.com<mailto:notifications@github.com>> wrote:

Fair enough. I don't think it's absolutely critical if it slows down the launch, but I do think it's really important.

—
Reply to this email directly or view it on GitHub<https://github.com/zooniv

[2015-06-18 13:01] ggdhines commented on #588
Just after you opened this menu if you enter text and then click on allow multiple, the text disappears

[2015-06-18 13:03] ggdhines commented on #588
clicking on the plus button to add another output option can clear text for previous output options

[2015-06-18 13:05] ggdhines commented on #588
sometimes clicking on the plus button will cause an output option to actually disappear

[2015-06-18 13:45] chrissnyder commented on #59
Consolidating issues at https://github.com/zooniverse/Panoptes-Front-End/issues/535

[2015-06-18 13:45] #59 closed

[2015-06-18 14:11] #587 closed

[2015-06-18 14:40] edpaget opened #598 "Prompt migrated users to set their login"
When a user first logins into Panoptes with a pre-existing Zooniverse account, we should show them the login name we've given them for @-mentions and their url slug and allow them to change it if they want. This is the only time we should allow those to be changed.

[2015-06-18 14:52] vrooje opened #600 "csv exports and spam folders"
Have just discovered that the csv exports I've requested have been put by my email provider into my spam folder. Of course, by the time I figured this out the links had expired.

I will request another one, but more generally is it possible to:

  - increase the expiration time to something longer than an hour? (That was perfect for our Nepal project but for most projects I expect exports will hap

[2015-06-18 15:33] DarrenMcRoy commented on #592
Who/what email should the form feed to?

[2015-06-18 15:34] camallen commented on #600
@vrooje you should be able to download the last generated one from the link following the `Request new data export` button. If you want a fresher version then just press the button.

That email address is what we send all zoo emails with. I think there's another reason why it's being detected as spam. Was this gmail?

https://support.google.com/mail/answer/81126

[2015-06-18 15:44] DarrenMcRoy commented on #589
Just making sure... we mean "boards for the Zooniverse Talk/Zooniverse Discuss," not #570 -- right?

[2015-06-18 15:46] chrissnyder commented on #589
Correct.

[2015-06-18 16:06] karenlmasters opened #601 "Is there a way to make a part of the tree apply to the second image in the stack?"
I have multiple images on one project, and I'd like part of the tree to by default show the top image, and then another part (which involves clicking on the image) to default to show the second image down. Can that be done?

[2015-06-18 16:08] karenlmasters opened #602 "Assigning different image sets to different users"
Is there a way to assign different image sets to different users to classify?

[2015-06-18 16:13] DarrenMcRoy commented on #589
I'd start with these five:

*Chat* – Talk about anything and everything here!

*Zooniverse* – For all discussion about the Zooniverse as a whole.

*People-Powered Research* – Chat about people-powered research, including citizen science, collaboration, open research, crowdsourcing, etc.

*Education* – Everything on using Zooniverse and ZooTeach in the classroom and as an educational tool.

*Techni

[2015-06-18 16:13] edpaget commented on #602
Not at the moment. It'll be something we're working on later.

[2015-06-18 16:20] aweiksnar commented on #589
@DarrenMcRoy From that list I'd vote to change *Technical Support* to *Troubleshooting* or *Q & A* or something along that realm. In my mind tech support is something that comes strictly from a company delivering a service, whereas troubleshooting/Q &A/something-else may promote more answers from peers

[2015-06-18 16:23] DarrenMcRoy commented on #589
I like "Troubleshooting," then. :+1:

[2015-06-18 17:01] DarrenMcRoy commented on #589
One more that I thought of:

*Project Building*  – Setting up your own project? Talk about Zooniverse's Project Builder here.

[2015-06-18 18:04] DarrenMcRoy commented on #592
A draft is available in the Zooniverse Copy document: https://docs.google.com/document/d/13sP5U4JRmewpJsNRoSfKt54KvYhiKcxzw3f5kyrUzAA/edit (under "Contact & Social Media.")

Haven't created the form yet; will do after talking with Grant.

I did confirm with the Adler that they are okay with me being the stateside Zooniverse press contact, so as long as nobody else has any issues with that, that's

[2015-06-18 18:17] #556 closed

[2015-06-18 18:33] eatyourgreens commented on #564
Closed by #597

[2015-06-18 18:33] #564 closed

[2015-06-18 18:39] brian-c opened #603 "Warn that changing a project's name breaks its links"
Maybe only on live projects?

[2015-06-18 18:44] drphilmarshall opened #604 "username case sensitivity in project urls"
Here's a bug for you:

This link takes you to the SpaceWarpsRings demo that we are trying to impress some customers with:

http://demo.zooniverse.org/panoptes-front-end/#/projects/aprajita/spacewarpsrings

However, in my "build a project" page, when I click "view" on the Space Warps Rings project, I am pointed to this  link, which does not work:

http://demo.zooniverse.org/panoptes-front-end/#/pro

[2015-06-18 18:45] camallen commented on #604
WIll be fixed by this, https://github.com/zooniverse/Panoptes/pull/998

[2015-06-18 19:25] drphilmarshall commented on #604
Splendid, thanks @camallen. Looks like a pretty pervasive error - for example, when I click the "Get Started" button the on Space Warps Rings landing page, I get a broken link. Try it:

http://demo.zooniverse.org/panoptes-front-end/#/projects/aprajita/spacewarpsrings

[2015-06-18 19:25] edpaget commented on #604
@camallen's change should fix both of those.

[2015-06-18 19:52] mschwamb opened #605 "science page help text refers to externally hosting images instead of the media uploader"
'This page is for you to describe your research motivations and goals to the volunteers. Feel free to add detail, but try to avoid jargon. This page renders markdown, so you can format it and add images (externally hosted for now) and links. The site will show your team members with their profile pictures and roles to the side of the text.' Should be changed to mention the media uploader.

[2015-06-18 20:06] mschwamb opened #606 "Should the collections tab show up if you're not logged in?"
Here's what you get if you're non-logged in

![screen shot 2015-06-19 at 3 58 35 am](https://cloud.githubusercontent.com/assets/753325/8240896/7c7c44f6-1638-11e5-8416-3e709af33ff6.png)

Since you can't collect anything without a registered account, should this tab only be visible if you're logged in with your zooniverse id?

[2015-06-18 20:12] mschwamb opened #607 "Adding project name to the the collections when displayed in the Collections Tab"
Since there are multiple projects showing wildebeest and galaxies from looking at the front card of the collection it's unclear what project they might belong to. I think it would be helpful if project name could be listed as well.

![screen shot 2015-06-19 at 3 58 22 am](https://cloud.githubusercontent.com/assets/753325/8241024/5402c51c-1639-11e5-88e6-ce59ff77c8ea.png)

[2015-06-18 20:13] edpaget commented on #606
Collections can be public. At the moment the front end is creating all collections as private which means you won't see any ones but your own on that page.

For example see the test server where I've created one public collection: http://demo.zooniverse.org/panoptes-front-end/#/collections

[2015-06-18 20:13] #606 closed

[2015-06-18 20:14] mschwamb commented on #606
Should there be a line  for non-logged in users to say that they'll need to log-in to create collections?

[2015-06-18 20:16] edpaget commented on #607
I'm planning to add a sort by project option and improve how the favourite collections work, but yeah they should include the project name.

[2015-06-18 20:16] edpaget commented on #606
There could be, but currently you don't create collections from that page.

[2015-06-18 20:21] mschwamb commented on #606
okay. thanks . Though on the demo site when I log in you're public collection and my collections are mixed together which is kind of confusing to me at least, but that could just be me. Cool about public collections though. Sounds like a neat  feature

![screen shot 2015-06-19 at 4 20 36 am](https://cloud.githubusercontent.com/assets/753325/8241210/95bbadd8-163a-11e5-8f32-54c9df85cd28.png)

[2015-06-18 20:32] mschwamb opened #608 "Ability to edit Talk board description like board title after creation"
Lower down in the priority queue, but it would be a help if the board description was also editable after creation so you didn't have to delete it if you made a typo

[2015-06-18 20:32] mschwamb commented on #607
sounds great. Looks like a cool feature

[2015-06-18 20:34] mschwamb opened #609 "When you delete a project board it takes you Zooniverse wide Talk"
low priority in the queue, but it was a weird behavior since I expected it to take my back to P4:Terrains talk and then I had to navigate back there. I was deleting 3 boards in a row.  It does delete the board it just afterwards navigates you to Zooniverse wide talk.

[2015-06-18 20:45] edpaget opened #610 "Add subject export button"
Similar to the classifications export just goes to `/projects/{id}/subjects_export`

[2015-06-18 20:45] edpaget commented on #610
Depends on zooniverse/Panoptes#999

[2015-06-18 21:46] mschwamb opened #612 "Talk says user count 0 for a discussion thread created even though there is 1 post in it"
Low in the priority queue but the user count is off when you create a thread - ![screen shot 2015-06-19 at 5 41 58 am](https://cloud.githubusercontent.com/assets/753325/8243060/7178000a-1646-11e5-9ff3-77a21e75b1af.png)

[2015-06-18 21:49] mschwamb commented on #612
The counters are fine if I go one level up back to the project Talk homepage

![screen shot 2015-06-19 at 5 48 45 am](https://cloud.githubusercontent.com/assets/753325/8243129/fa6eb46c-1646-11e5-9da0-07c255a2d9b2.png)

[2015-06-18 22:08] mschwamb opened #613 "If you navigate from a project with talk boards to one that doesn't using the project talk side bar then the old project's boards stay with new project's background"
If you use the project Talk side bar to move to a project's talk without discussion boards, it leaves the previous projects boards in place

see screenshots below:

I made this boards and threads for P4: Terrains:

![screen shot 2015-06-19 at 6 05 51 am](https://cloud.githubusercontent.com/assets/753325/8243411/692c32c4-1649-11e5-9ccc-634ae19b643f.png)

Switched to Kitteh Zoo and the same P4: Terr

[2015-06-18 22:11] mschwamb commented on #613
I was on Firefox 38.0.5

[2015-06-18 23:19] chrissnyder commented on #510
@mschwamb I can't replicate this issue. Is this still happening?

[2015-06-18 23:57] vrooje commented on #600
It wasn't; it was Yahoo!. I marked it as not-spam and the next one came through fine.

Clicking the link where the "[time elapsed] ago" text is to get the latest copy: forehead slap moment. Despite the fact that dates and times are often used as links to originals on Facebook, Twitter, etc., I still don't find this intuitive. We should definitely point that out in the how-to docs!

[2015-06-19 00:05] chrissnyder commented on #502
Same problem as #432

[2015-06-19 00:05] #502 closed

[2015-06-19 00:17] chrissnyder commented on #139
Now that I've actually had a chance to play with the tools, isn't this how they work currently?

[2015-06-19 00:40] mkosmala commented on #139
Yep. This has been done.

[2015-06-19 00:40] #139 closed

[2015-06-19 01:00] astopy commented on #600
@vrooje Can you email me the full headers from one of the messages which was marked as spam?

[2015-06-19 01:11] mschwamb commented on #510
yep still happening - it's on the subject set where we have almost 2000 subjects loaded

[2015-06-19 01:13] mschwamb commented on #510
Interestingly it depends on what subject I select. I didn't upload the subject set if that helps.

[2015-06-19 02:09] chrissnyder commented on #510
Could you add user "bumishness" as a collaborator on the project so I can take a look?

[2015-06-19 08:14] karenlmasters commented on #602
Awesome. :)

[2015-06-19 08:34] twhyntie opened #616 "Password reset via http://preview.zooniverse.org/panoptes/#/reset-password returns Error:{}"
Myself and a few of our team are trying to reset passwords on the preview site via http://preview.zooniverse.org/panoptes/#/reset-password and it's returning:

_Error:{}_

To the right of the **Submit** button.

(The account I am trying with is **twhyntie_lsc**.)

Is this expected at the moment?

Thanks, Tom

[2015-06-19 09:35] mschwamb commented on #510
yes

[2015-06-19 09:40] mschwamb opened #617 "can't access profile or signout button from project builder in Firefox"
low in the queue, but I thought I'd mention this quirk. If you're in the project builder if you try to click on the window for your profile or the signout button you can't. I move my mouse over my avatar and the window appears. But as I my move my mouse down to  select from the menu it disappears.

I'm using Firefox 38.0.5 . It's not an issue is Safari or Chrome

[2015-06-19 09:43] mschwamb opened #618 "Sign in and register cutoff on Chrome"
Not sure if anyone else is seeing this, but on my Chrome 43.0.2357.124 (64-bit) sign in and register are cut off . It's not a window resizing issue. I tried to adjust the width and nothing changed.

![screen shot 2015-06-19 at 5 37 07 pm](https://cloud.githubusercontent.com/assets/753325/8250932/9b8ee278-16aa-11e5-92ae-1d22bcdaaa2e.png)

[2015-06-19 09:52] mschwamb opened #619 "A project is removed or made private, but still shows up in the list of projects?"
Manuscript adventure has a card on the projects list but if you click it you get 'Error: Couldn't find project Simoneduca/manuscript-adventure'

[2015-06-19 09:53] camallen commented on #619
@mschwamb duplicate of #604, got a fix coming through soon.

[2015-06-19 09:53] #619 closed

[2015-06-19 10:30] mschwamb opened #620 "helpbox link weridness - goes to link but leaves up help box for internal webpages"
low in the queue, but I noticed a few projects are doing this- ie adding links to the help box.

 In the help box if there's a link that's internal to the site, then if you click it takes you there but while leaving the help box open. Not sure if it's possible to have the page open up in a new tab or if there's a way in markup to trigger that or a way that when you click the link the helpbox would

[2015-06-19 10:47] CKrawczyk commented on #620
To open link in a new tab you need to add `target="_blank"` to the html anchor tag. Markdown has not have a specific command for this, but you can enter the link as pure html like so:

[code]

[2015-06-19 10:50] mschwamb commented on #620
thanks  @CKrawczyk  except it appears  html is not supported in this flavor of markdown so the above doesn't work. it just shows all the html on the helpbox when I copy it in

[2015-06-19 10:59] mschwamb opened #621 "multiple choice text box smaller than its outline"
low in the priority queue - noticed in firefox and chrome (haven't checked in safari) that the textbox for multiple choice is much smaller than its box outline

![screen shot 2015-06-19 at 6 58 00 pm](https://cloud.githubusercontent.com/assets/753325/8252148/5482ede2-16b5-11e5-8bf4-1cd489ec3926.png)

[2015-06-19 11:13] camallen commented on #616
@twhyntie - I can't see a user account for that name on the preview site, it is however on the demo site. Looks like you created it specifically on panoptes.

You can use your main zooniverse.org account now (it should be ported correctly, ping back if not). If you don't have a zoo wide account then create one via https://www.zooniverse.org/signup and let me know your account name and i'll port it

[2015-06-19 14:10] #593 closed

[2015-06-19 14:56] srallen commented on #618
@mschwamb, I saw this and have a fix in PR #622